<script setup lang="ts">
import { ComputedRef, computed, inject, ref } from 'vue'
import { Feature, Ghost } from '@/models/destiny'
import { applyMarkdown } from '@/utils'
import Collapsible from '@/components/Collapsible.vue'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const formula = ref<InstanceType<typeof DialogWindow>>()
const props = withDefaults(defineProps<{ghost: Ghost, feature: Feature, inMessage?: boolean, isOwnMessage?: boolean, readonly?: boolean}>(), {
  inMessage: false,
  isOwnMessage: false
})
const sendToChat = inject('ChatSendDescription', undefined) as ComputedRef<(item: Feature, sender?: string) => Promise<void> | null>|undefined
const isReaction = computed(() => props.feature.description.toLowerCase().includes('reaction'))
const isBonusAction = computed(() => props.feature.description.toLowerCase().includes('bonus action'))
const isAction = computed(() => props.feature.description.match(/(?<!bonus) action/) !== null)
</script>

<template>
  <Collapsible
    :class="{ 'itemOpener bg-zinc-700 md:bg-zinc-800': !inMessage && !readonly, 'bg-zinc-800': inMessage || readonly }"
    class="w-full relative p-1 hover:after:bg-white/5 after:pointer-events-none after:cursor-pointer after:content-normal after:inset-0 after:absolute"
  >
    <template #opener="{ toggle }">
      <button v-if="!readonly && sendToChat" @click.prevent="() => sendToChat?.(feature, 'ghost')" class="itemAction absolute top-0 left-0 h-8 w-8 hidden p-1 mr-[0.125rem] hover:bg-white/50">
        <img class="invert" src="@/assets/attack.svg" />
      </button>
      <h3 class="cursor-pointer font-semibold" @click="toggle">{{ feature.name }}</h3>
    </template>
    <template #before>
      <small class="absolute text-xs uppercase pointer-events-none top-2 right-2 gap-1 text-zinc-400 hidden xs:flex" v-if="!inMessage">
        <span v-if="isAction && !feature.name.includes('Ghost')" class="pr-1 border-r border-zinc-400 text-zinc-200">Action</span>
        <span v-if="isBonusAction && !feature.name.includes('Ghost')" class="pr-1 border-r border-zinc-400 text-zinc-200">Bonus Action</span>
        <span v-if="isReaction && !feature.name.includes('Ghost')" class="pr-1 border-r border-zinc-400 text-zinc-200">Reaction</span>
        <span v-if="feature.source">{{ feature.source }}</span>
        <span v-if="feature.level">Lv. {{ feature.level }}</span>
      </small>
    </template>
    <div class="flex flex-wrap gap-x-4 pt-1" :class="{ 'flex-col': inMessage }">
      <dl class="flex gap-1 xs:hidden" v-if="isAction || isBonusAction || isReaction">
        <dt class="flex text-xs h-6 items-center text-zinc-400">TYPE</dt>
        <dd class="flex text-sm h-6 items-center gap-1">
          <span v-if="isAction">Action{{ isBonusAction || isReaction ? ', ' : '' }}</span>
          <span v-if="isBonusAction">Bonus Action{{ isReaction ? ', ' : '' }}</span>
          <span v-if="isReaction">Reaction</span>
        </dd>
      </dl>
      <dl class="flex gap-1 xs:hidden">
        <dt class="flex text-xs h-6 items-center text-zinc-400">SOURCE</dt>
        <dd class="flex text-sm h-6 items-center gap-1">
          <span v-if="feature.source">{{ feature.source }}</span>
          <span v-if="feature.level">Lv. {{ feature.level }}</span>
        </dd>
      </dl>
      <dl class="flex gap-1" v-if="feature.damage?.length">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">DAMAGE</dt>
        <dd class="flex text-sm h-6 items-center">
          <DamageFormula :character="ghost" :item="feature" />
        </dd>
      </dl>
      <div v-if="feature.description" class="-mb-1 text-sm markdown" v-html="applyMarkdown(feature.description)" />
    </div>
  </Collapsible>
  <Teleport to="body">
    <DialogWindow key="ghost-feature-dice" class="max-w-[30rem]" v-if="inMessage && isOwnMessage && !readonly && (feature.attackFormula || feature.damage?.length)" ref="formula">
      <DamageFormula :character="ghost" :item="feature" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
