<script setup lang="ts">
import { Ghost, Ability, DamageType } from '@/models/destiny'
import { computed, onMounted, onUnmounted, ref } from 'vue'
import { clampAndRound, getAbilityModifier, getHealthPointsDiceAverageOrMaxOnFirstLevel } from '@/utils'
import { ref as storageRef } from 'firebase/storage'
import { useFirebaseStorage, useStorageFile } from 'vuefire'
import DialogWindow from '@/components/DialogWindow.vue'
import GhostHealth from '@/components/ghost/GhostHealth.vue'
import eventBus from '@/event'
import { nextTick } from 'vue'

const storage = useFirebaseStorage()

const emit = defineEmits(['update'])
const props = defineProps<{ character: string, ghost: Ghost, readonly?: boolean }>()
const avatarRef = computed(() => storageRef(storage, `${props.character}/ghost`))
const avatar = useStorageFile(avatarRef)
const avatarForm = ref<HTMLFormElement|null>(null)

const health = ref<InstanceType<typeof DialogWindow>>()
const healthForm = ref<InstanceType<typeof GhostHealth>>()

const maxHitPoints = computed(() => props.ghost?.maxHitPoints
  ?? getHealthPointsDiceAverageOrMaxOnFirstLevel(6, getAbilityModifier(props.ghost, Ability.Constitution), props.ghost.level)
  ?? 1)
const hitPointsPercentage = computed(() => clampAndRound(props.ghost!.hitPoints / maxHitPoints.value * 100, 0, 100))

function showHealth() {
  if (!props.readonly) health.value?.show()
}

function update(event: Event) {
  emit('update', event)
}

function uploadPicture(event: Event) {
  event.preventDefault()
  const avatarValue = avatarForm.value?.files.item(0)

  if (avatarValue) {
    avatar.upload(avatarValue)
  }
}

onMounted(() => {
  eventBus.on('ghostHealthActivateTab', ghostHealthActivateTab)
})

onUnmounted(() => {
  eventBus.off('ghostHealthActivateTab', ghostHealthActivateTab)
})

async function ghostHealthActivateTab(data: { formula: string, evaluated: string, value: number, type?: DamageType }[]) {
  showHealth()
  await nextTick()
  healthForm.value?.setDefaultValues(data)
}
</script>

<template>
  <div v-if="ghost" class="relative w-36 h-36 bg-zinc-800 flex-shrink-0">
    <img class="w-36 h-36 object-cover" v-if="avatar.url?.value" :src="avatar.url.value" />
    <label v-if="!readonly" class="w-36 h-[7.5rem] block absolute top-0 cursor-pointer hover:bg-white/20">
      <input ref="avatarForm" type="file" accept="image/*" class="w-0 h-0 hidden" @change="uploadPicture" />
    </label>
    <div class="absolute bottom-0 bg-zinc-900/50 w-full h-6"></div>
    <div class="absolute bottom-0 bg-red-600/50 h-6" :style="{ width: hitPointsPercentage + '%' }"></div>
    <button :class="{ 'cursor-default': readonly, 'hover:bg-white/20': !readonly }" class="absolute bottom-0 w-full h-6 flex items-center justify-around font-semibold" @click="showHealth">
      <span class="text-red-200">{{ ghost.hitPoints }}/{{ maxHitPoints }}</span>
    </button>
  </div>
  <Teleport to="body">
    <DialogWindow key="ghost-health" class="max-w-[30rem]" ref="health" v-if="character">
      <GhostHealth :ghost="ghost" :readonly="readonly" @update="update" ref="healthForm" />
    </DialogWindow>
  </Teleport>
</template>
