<script setup lang="ts">
import { Ghost, Ability, DamageType } from '@/models/destiny'
import { computed, ref } from 'vue'
import { appendExplosive, getAbilityModifier, getDamageTypeName, getHealthPointsDiceAverageOrMaxOnFirstLevel } from '@/utils'
import { elementColors, getColor } from '@/utils/color'
import { watch } from 'vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogTabs from '@/components/DialogTabs.vue'
import ListingHeader from '@/components/ListingHeader.vue'
import DialogButton from '@/components/DialogButton.vue'

enum HealthPointTab {
  Damage = 0,
  Healing = 1,
  Manual = 2
}

const emit = defineEmits(['update'])
const props = defineProps<{ ghost: Ghost, readonly?: boolean }>()
const activeTab = ref(HealthPointTab.Damage)

const health = ref<InstanceType<typeof DialogWindow>>()

const maxHitPoints = computed(() => props.ghost?.maxHitPoints
  ?? getHealthPointsDiceAverageOrMaxOnFirstLevel(6, getAbilityModifier(props.ghost, Ability.Constitution), props.ghost.level)
  ?? 1)

const defaultSource = { damageType: DamageType.Kinetic, amount: 0, multiplier: 1 }
const damageSources = ref<{ damageType: DamageType, amount: number, multiplier: number }[]>([
  { ...defaultSource }
])
const validDamageSources = computed(() => damageSources.value.filter(({ amount }) => amount))
const totalDamage = computed(() => damageSources.value.reduce((sum, { amount, multiplier }) => sum + Math.floor(amount * multiplier), 0))
const damageToHealth = computed(() => Math.min(props.ghost.hitPoints, totalDamage.value))
const newHealth = computed(() => Math.max(props.ghost.hitPoints - totalDamage.value, 0))

const healing = ref(0)
const healingToHealth = computed(() => healing.value
  ? Math.min(maxHitPoints.value - props.ghost.hitPoints, healing.value)
  : 0)

function resetHealth() {
  healing.value = 0
  activeTab.value = HealthPointTab.Damage
  damageSources.value = [{ ...defaultSource }]
  health.value?.hide()
  emit('update')
}

function applyDamage() {
  if (damageToHealth.value) props.ghost.hitPoints = newHealth.value
  resetHealth()
}

function applyHealing() {
  if (healingToHealth.value) props.ghost.hitPoints += healingToHealth.value
  resetHealth()
}

function update(event: Event) {
  emit('update', event)
}

function setDefaultValues(result: { formula: string, evaluated: string, value: number, type?: DamageType }[]) {
  damageSources.value = []
  
  if (result.some(x => x.type !== undefined && x.type < 9000)) {
    for (const damage of result) {
      const damageType = damage.type || DamageType.Kinetic
      const multiplier = appendExplosive([DamageType.Darkness, DamageType.Stasis, DamageType.Strand, DamageType.Luster]).includes(damageType) ? 2
        : appendExplosive([DamageType.Light, DamageType.Arc, DamageType.Solar, DamageType.Void]).includes(damageType) ? 0.5
        : 1
      damageSources.value.push({ amount: damage.value, damageType, multiplier })
    }
  } else if (result.some(x => x.type !== undefined && x.type > 9000)) {
    activeTab.value = HealthPointTab.Healing

    for (const damage of result) {
      if (damage.type === DamageType.Healing || damage.type === DamageType.HealthHealing) {
        healing.value += damage.value
      }
    }
  }
}

defineExpose({
  setDefaultValues
})

watch(healing, () => {
  if (healing.value < 0) healing.value = 0
})
watch(damageSources, () => {
  if (damageSources.value.some(({ amount }) => amount < 0)) {
    damageSources.value = damageSources.value.map(x => x.amount < 0 ? { ...x, amount: 0 } : x)
  }
}, { deep: true })
</script>

<template>
  <DialogTabs :tabs="{
    damage: 'DAMAGE',
    healing: 'HEALING',
    manual: 'MANUAL'
  }" :active-tab="activeTab">
    <template #damage>
      <ListingHeader :headers="{
        'DAMAGE': 'w-1/6',
        'TYPE': 'w-1/2',
        'RESISTANCE': 'w-1/3'
      }">
        <button @click="() => damageSources.push({ ...defaultSource })" class="text-zinc-400 h-6 w-6 -mr-1 flex justify-center items-center text-4xl rounded-2xl hover:bg-zinc-600">&plus;</button>
      </ListingHeader>
      <div class="flex items-center mb-1" v-for="(source, i) in damageSources" :key="i">
        <input min="0" type="number" v-model="source.amount" class="text-right px-2 bg-zinc-800 w-1/6 cursor-pointer h-8 border-zinc-500 border-2 border-r-0" />
        <select v-model="source.damageType" class="bg-zinc-800 px-2 w-1/2 text-sm cursor-pointer h-8 border-zinc-500 border-2 border-r-0">
          <optgroup label="Generic">
            <option :value="DamageType.Kinetic">{{ getDamageTypeName(DamageType.Kinetic) }}</option>
            <option :value="DamageType.Poison">{{ getDamageTypeName(DamageType.Poison) }}</option>
            <option :value="DamageType.Psychic">{{ getDamageTypeName(DamageType.Psychic) }}</option>
          </optgroup>
          <optgroup label="Light">
            <option :value="DamageType.Light">{{ getDamageTypeName(DamageType.Light) }}</option>
            <option :value="DamageType.Arc">{{ getDamageTypeName(DamageType.Arc) }}</option>
            <option :value="DamageType.Solar">{{ getDamageTypeName(DamageType.Solar) }}</option>
            <option :value="DamageType.Void">{{ getDamageTypeName(DamageType.Void) }}</option>
          </optgroup>
          <optgroup label="Darkness">
            <option :value="DamageType.Darkness">{{ getDamageTypeName(DamageType.Darkness) }}</option>
            <option :value="DamageType.Stasis">{{ getDamageTypeName(DamageType.Stasis) }}</option>
            <option :value="DamageType.Strand">{{ getDamageTypeName(DamageType.Strand) }}</option>
            <!-- <option :value="DamageType.Luster">{{ getDamageTypeName(DamageType.Luster) }}</option> -->
          </optgroup>
          <optgroup label="Explosive Generic">
            <option :value="DamageType.ExplosiveKinetic">{{ getDamageTypeName(DamageType.ExplosiveKinetic) }}</option>
            <option :value="DamageType.ExplosivePoison">{{ getDamageTypeName(DamageType.ExplosivePoison) }}</option>
            <option :value="DamageType.ExplosivePsychic">{{ getDamageTypeName(DamageType.ExplosivePsychic) }}</option>
          </optgroup>
          <optgroup label="Explosive Light">
            <option :value="DamageType.ExplosiveLight">{{ getDamageTypeName(DamageType.ExplosiveLight) }}</option>
            <option :value="DamageType.ExplosiveArc">{{ getDamageTypeName(DamageType.ExplosiveArc) }}</option>
            <option :value="DamageType.ExplosiveSolar">{{ getDamageTypeName(DamageType.ExplosiveSolar) }}</option>
            <option :value="DamageType.ExplosiveVoid">{{ getDamageTypeName(DamageType.ExplosiveVoid) }}</option>
          </optgroup>
          <optgroup label="Explosive Darkness">
            <option :value="DamageType.ExplosiveDarkness">{{ getDamageTypeName(DamageType.ExplosiveDarkness) }}</option>
            <option :value="DamageType.ExplosiveStasis">{{ getDamageTypeName(DamageType.ExplosiveStasis) }}</option>
            <option :value="DamageType.ExplosiveStrand">{{ getDamageTypeName(DamageType.ExplosiveStrand) }}</option>
            <!-- <option :value="DamageType.ExplosiveLuster">{{ getDamageTypeName(DamageType.ExplosiveLuster) }}</option> -->
          </optgroup>
        </select>
        <select v-model="source.multiplier" class="bg-zinc-800 px-2 w-1/3 text-sm cursor-pointer h-8 border-zinc-500 border-2">
          <option :value="1">Normal</option>
          <option :value="0.5">Resistant</option>
          <option :value="0">Immune</option>
          <option :value="2">Vulnerable</option>
        </select>
        <div class="w-7 flex justify-end">
          <button @click="() => damageSources.splice(i, 1)" class="text-zinc-400 -mr-1.5 h-6 w-6 flex justify-center items-center text-4xl rounded-2xl hover:bg-zinc-600">&times;</button>
        </div>
      </div>
      <div>
        <div v-if="validDamageSources.length">
          <span class="float-left mr-1">Total: </span>
          <p class="flex flex-wrap gap-x-1">
            <template v-for="(source, i) in validDamageSources" :key="i">
              <span class="relative inline-flex gap-1">
                <img class="w-4 invert absolute opacity-100 animate-ping mt-1" src="@/assets/explosive.svg" v-if="source.damageType >= 900" />
                <img class="w-4 invert" src="@/assets/kinetic.svg" v-if="(source.damageType - DamageType.Kinetic) % 900 === 0" />
                <img class="w-4 invert" src="@/assets/poison.svg" v-if="(source.damageType - DamageType.Poison) % 900 === 0" />
                <img class="w-4 invert-[10%]" src="@/assets/light.svg" v-if="(source.damageType - DamageType.Light) % 900 === 0" />
                <img class="w-4 invert-[40%]" src="@/assets/darkness.svg" v-if="(source.damageType - DamageType.Darkness) % 900 === 0" />
                <img class="w-4" :style="elementColors.arc.filter" src="@/assets/arc.svg" v-if="(source.damageType - DamageType.Arc) % 900 === 0" />
                <img class="w-4" :style="elementColors.solar.filter" src="@/assets/solar.svg" v-if="(source.damageType - DamageType.Solar) % 900 === 0" />
                <img class="w-4" :style="elementColors.void.filter" src="@/assets/void.svg" v-if="(source.damageType - DamageType.Void) % 900 === 0" />
                <img class="w-4" :style="elementColors.strand.filter" src="@/assets/strand.svg" v-if="(source.damageType - DamageType.Strand) % 900 === 0" />
                <img class="w-4" :style="elementColors.stasis.filter" src="@/assets/stasis.svg" v-if="(source.damageType - DamageType.Stasis) % 900 === 0" />
                <img class="w-4" :style="elementColors.luster.filter" src="@/assets/luster.svg" v-if="(source.damageType - DamageType.Luster) % 900 === 0" />
                <span class="font-semibold" :style="{ color: getColor(source.damageType) }">{{ Math.floor(source.amount * source.multiplier) }}</span>
                <i :style="{ color: getColor(source.damageType) }">{{ getDamageTypeName(source.damageType) }} damage</i>
                <span class="text-xs text-zinc-400 leading-6" v-if="source.multiplier === 2">(WEAK, &times;2)</span>
                <span class="text-xs text-zinc-400 leading-6" v-if="source.multiplier === 0.5">(RES., &divide;2)</span>
                <span class="text-xs text-zinc-400 leading-6" v-if="source.multiplier === 0">(IMM., &times;0)</span>
                <span v-if="validDamageSources.length > 1 && i < validDamageSources.length - 1">&nbsp;&plus;&nbsp;</span>
                <span v-if="i === validDamageSources.length - 1">&nbsp;&equals;&nbsp;</span>
              </span>
            </template>
            <strong class="font-semibold">{{ totalDamage }}</strong>
          </p>
        </div>
        <p class="flex flex-wrap gap-x-1" v-if="totalDamage && validDamageSources.length && damageToHealth">
          <img class="h-6 invert" src="@/assets/health.svg" />
          <span>{{ ghost.hitPoints }} health points</span>
          <span>&nbsp;&minus;&nbsp;</span>
          <span>{{ damageToHealth }}</span>
          <span>&nbsp;&equals;&nbsp;</span>
          <strong class="font-semibold">{{ newHealth }}</strong>
          <i v-if="!newHealth" class="text-sm text-zinc-400 leading-6">(Ghost down!)</i>
        </p>
        <p class="flex flex-wrap gap-x-1" v-if="totalDamage > damageToHealth">
          <span>Left-over: </span>
          <span class="font-semibold">{{ totalDamage - damageToHealth }}</span>
        </p>
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="applyDamage" color="success">APPLY</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </template>
    <template #healing>
      <ListingHeader :headers="{
        'HEALING': 'w-1/3',
        'TYPE': 'w-2/3'
      }" />
      <div class="flex h-6 mt-2 mb-1 items-center">
        <input min="0" type="number" v-model="healing" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2 border-r-0" />
        <select disabled readonly class="bg-zinc-800 px-2 w-2/3 mt-1 mb-2 text-sm opacity-100 h-8 border-zinc-500 border-2">
          <option selected>Health points</option>
        </select>
      </div>
      <div class="mt-3">
        <p class="flex flex-wrap gap-x-1" v-if="healingToHealth">
          <img class="h-6 invert" src="@/assets/health.svg" />
          <span>{{ ghost.hitPoints }} health points</span>
          <span>&nbsp;&plus;&nbsp;</span>
          <span>{{ healingToHealth }}</span>
          <span>&nbsp;&equals;&nbsp;</span>
          <strong class="font-semibold">{{ Math.min(ghost.hitPoints + healingToHealth, maxHitPoints) }}</strong>
          <i v-if="ghost.hitPoints + healingToHealth >= maxHitPoints" class="text-sm text-zinc-400 leading-6">(Fully healed)</i>
        </p>
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-3 w-full flex-wrap">
        <DialogButton @click="applyHealing" color="success">APPLY</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </template>
    <template #manual>
      <ListingHeader :headers="{
        '': 'w-1/3',
        'AMOUNT': 'w-1/3',
        'MAXIMUM': 'w-1/3'
      }" />
      <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
        <small class="text-xs text-zinc-400 w-1/3 text-right">HEALTH</small>
        <input min="0" :max="maxHitPoints" type="number" @input="update" v-model="ghost.hitPoints" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
        <input min="0" type="number" @input="update" :placeholder="maxHitPoints.toString()" v-model="ghost.maxHitPoints" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-3 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </template>
  </DialogTabs>
</template>