<script setup lang="ts">
import { ComputedRef, computed, inject, ref } from 'vue'
import { DamageType, Ghost, Item, ProficiencyType, Skill } from '@/models/destiny'
import { getSkillModifier, getSign, getSkillName, getSkillAbility, getAbilityName } from '@/utils'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = defineProps<{ ghost: Ghost, skill: Skill, readonly?: boolean }>()
const sendDice = inject('ChatSendDice', undefined) as ComputedRef<(context: string|null, data: { formula: string, value: number, type?: DamageType }[], sender?: string) => Promise<void> | null>|undefined

const formula = ref<InstanceType<typeof DialogWindow>>()
const proficiencyName = computed(() => {
  switch (props.ghost.skillProficiencies[props.skill]) {
    case ProficiencyType.Expertise: return 'Expertise'
    case ProficiencyType.Proficiency: return 'Proficiency'
    case ProficiencyType.Half: return 'Half-proficiency'
    default: return 'No proficiency'
  }
})

function showFormula() {
  if (!sendDice?.value) return
  formula.value?.show()
}
</script>

<template>
  <button
    class="w-full px-2 py-[0.125rem] flex items-center justify-between border-2 bg-zinc-800 text-zinc-400 text-xs leading-none relative"
    :class="{
      'border-zinc-900': ghost.skillProficiencies[skill] < ProficiencyType.Proficiency,
      'border-zinc-400': ghost.skillProficiencies[skill] >= ProficiencyType.Proficiency,
      'hover:bg-white/25': !readonly && sendDice,
      'cursor-default': readonly || !sendDice
    }"
    @click="showFormula"
    :title="proficiencyName"
  >
    <span>
      <span>{{ getSkillName(skill).toUpperCase() }}</span>
      <span class="text-zinc-500 w-12 ml-2">({{ getAbilityName(getSkillAbility(skill)).substring(0, 3).toUpperCase() }})</span>
    </span>
    <div class="flex text-right text-sm">
      <span class="text-zinc-300 font-semibold">{{ getSign(getSkillModifier(ghost, skill)) }}</span>
      <span class="text-zinc-500 w-7">({{ 10 + getSkillModifier(ghost, skill) }})</span>
    </div>
    <div v-if="ghost.skillProficiencies[skill] === ProficiencyType.Expertise" class="absolute top-0 right-0 border-transparent border-t-zinc-400 border-r-zinc-400 border-4" />
  </button>
  <Teleport to="body">
    <DialogWindow key="ghost-skill-dice" class="max-w-[30rem]" v-if="!readonly" ref="formula">
      <DamageFormula :character="ghost" :item="({
        _type: 'Feature',
        name: `${getSkillName(skill)} skill check`,
        attackFormula: `1d20 + ${getSkillModifier(ghost, skill)}`
      } as Item)" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
