<script setup lang="ts">
import { Ghost, Ability, Alignment, ProficiencyType, Guardian, ArmorItemType } from '@/models/destiny'
import { ref, computed, watch } from 'vue'
import { getSign, getAbilityModifier, showNumber, clampAndRound, conditions,
  getHealthPointsDiceAverageOrMaxOnFirstLevel, getAllSkills, getSkillName, getProficiencyBonus, experienceCapPerLevel } from '@/utils'
import { parseAc } from '@/utils/acParser'
import MultiSelect from '@vueform/multiselect'
import GhostAvatar from '@/components/ghost/GhostAvatar.vue'
import Radio from '@/components/forms/Radio.vue'
import GhostTabSkills from '@/components/ghost/GhostTabSkills.vue'
import GhostTabFeatures from '@/components/ghost/GhostTabFeatures.vue'
import GhostTabNotes from '@/components/ghost/GhostTabNotes.vue'
import { ghostFeatures } from '@/models/destinyRaces'
import DialogWindow from '@/components/DialogWindow.vue'
import ListingHeader from '@/components/ListingHeader.vue'
import DialogButton from '@/components/DialogButton.vue'
import DialogTabs from '../DialogTabs.vue'

const props = defineProps<{ character: Guardian, ghost: Ghost, readonly?: boolean }>()
const emit = defineEmits(['update'])
const levelUp = ref<InstanceType<typeof DialogWindow>>()

const acFeatures = computed(() => [
  '10 + Dex mod',
  ...ghostFeatures.filter(x => x.ac && x.level <= props.ghost.level).map(x => x.ac!),
  ...props.character.items.filter(x => x.ac && x.type === ArmorItemType.GhostShell).map(x => x.ac!) || []
])
const bestAc = computed(() => acFeatures.value.map(x => parseAc({
  dex: getAbilityModifier(props.ghost, Ability.Dexterity),
  con: getAbilityModifier(props.ghost, Ability.Constitution),
  wis: getAbilityModifier(props.ghost, Ability.Wisdom)
}, x)).reduce((max, ac) => Math.max(ac, max), 0))

const maxExperience = computed(() => experienceCapPerLevel(props.ghost.level))
const allSkills = getAllSkills()
const firstHalfSkills = allSkills.slice(0, 10)
const secondHalfSkills = allSkills.slice(10)
const needsLevelUp = computed(() => props.character.ghost.experience >= experienceCapPerLevel(props.character.ghost.level))

function doLevelUp() {
  props.ghost.level = clampAndRound(props.ghost.level + 1, 1, 20)
  update()
}

function update() {
  if (!props.readonly) emit('update')
}

const maxHitPoints = computed(() => props.ghost.maxHitPoints
  ?? getHealthPointsDiceAverageOrMaxOnFirstLevel(6, getAbilityModifier(props.ghost, Ability.Constitution), props.ghost.level)
  ?? 1)

watch(() => props.ghost.conditions, update)
watch(() => props.ghost.hitPoints, () => {
  if (props.ghost.hitPoints < 0) props.ghost.hitPoints = 0
  if (props.ghost.hitPoints > maxHitPoints.value) props.ghost.hitPoints = maxHitPoints.value
  update()
})
watch(() => props.ghost.maxHitPoints, () => {
  if (!props.ghost.maxHitPoints) props.ghost.maxHitPoints = null
  update()
})
</script>

<template>
  <div class="w-full h-fit p-4 mb-8 bg-zinc-700 flex flex-wrap justify-center gap-4">
    <input class="w-[calc(100%+2rem)] h-12 bg-zinc-800 -mx-4 -mt-4 pl-2 text-2xl font-semibold border-b-2 border-zinc-700" v-model="ghost.name" @change="update" />
    <div class="w-[calc(100%+2rem)] h-12 flex flex-col bg-zinc-800 -mx-4 -mt-4 border-b-2 border-zinc-700 relative">
      <span v-if="!readonly && needsLevelUp" class="animate-pulse absolute pointer-events-none top-0 left-0 right-0 h-6 w-full bg-green-500 opacity-25"></span>
      <button class="w-full h-6 px-2 text-right hover:bg-zinc-600 font-semibold" @click="levelUp?.show">Ghost Lv. {{ ghost.level }} &blacktriangleright;</button>
      <span class="w-full h-6 px-2 text-xs flex items-center text-zinc-400">
        EXPERIENCE: 
        <input type="number" class="bg-transparent text-right w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="ghost.experience" @change="update" />
        /{{ showNumber(maxExperience) }}
      </span>
    </div>
    <DialogTabs :tabs="{
      general: 'General',
      abilities: 'Abilities',
      features: 'Features',
      notes: 'Info'
    }" container-class="!w-[calc(100%+2rem)] !-mx-4 !-mt-4 !mb-0 !h-8 !text-base !flex-wrap" active-tab-class="!w-1/4" inactive-tab-class="!w-1/4">
      <template #general>
        <GhostAvatar :character="character.id" :ghost="ghost" :readonly="readonly" @update="update" />
        <div class="w-full h-48 bg-zinc-800 grid grid-cols-6 p-1 pb-2 gap-1">
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">ALIGNMENT</dt>
          <dd class="col-span-4 flex text-sm -ml-1 h-6 items-center">
            <select v-model="ghost.alignment" @change="update" class="bg-zinc-800 w-full cursor-pointer">
              <option :value="null"></option>
              <option :value="Alignment.LawfulGood">Lawful Good</option>
              <option :value="Alignment.LawfulNeutral">Lawful Neutral</option>
              <option :value="Alignment.LawfulEvil">Lawful Evil</option>
              <option :value="Alignment.NeutralGood">Neutral Good</option>
              <option :value="Alignment.TrueNeutral">True Neutral</option>
              <option :value="Alignment.NeutralEvil">Neutral Evil</option>
              <option :value="Alignment.ChaoticGood">Chaotic Good</option>
              <option :value="Alignment.ChaoticNeutral">Chaotic Neutral</option>
              <option :value="Alignment.ChaoticEvil">Chaotic Evil</option>
            </select>
          </dd>
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">SPEED</dt>
          <dd class="col-span-4 flex text-sm h-6 items-center">30ft. flying / hover</dd>
          <dt class="col-span-2 row-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">CONDITIONS</dt>
          <dd class="col-span-4 row-span-2 flex text-sm h-[2.5rem]">
            <MultiSelect class="text-sm cursor-pointer hover:bg-white/25 ms-small border-b border-zinc-400 -mb-[1px]" :options="conditions" v-model="ghost.conditions" :close-on-select="false" mode="tags" />
          </dd>
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">ARMOR CLASS</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ bestAc }}</dd>
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">HIT DICE</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">1d6</dd>
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">INITIATIVE</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ getSign(getAbilityModifier(ghost, Ability.Dexterity)) }}</dd>
          <dt class="col-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">PROFICIENCY</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ getSign(getProficiencyBonus(ghost)) }}</dd>
        </div>
      </template>
      <template #abilities>
        <div class="border-t-2 border-zinc-700 -m-4 bg-zinc-800">
          <GhostTabSkills :ghost="ghost" @update="update" :readonly="readonly" />
        </div>
      </template>
      <template #features>
        <div class="border-t-2 border-zinc-700 -m-4 bg-zinc-800">
          <GhostTabFeatures :ghost="ghost" @update="update" :readonly="readonly" />
        </div>
      </template>
      <template #notes>
        <div class="border-t-2 border-zinc-700 -m-4 bg-zinc-800 w-[calc(100%+2rem)]">
          <GhostTabNotes :ghost="ghost" @update="update" :readonly="readonly" />
        </div>
      </template>
    </DialogTabs>
  </div>
  <Teleport to="body">
    <DialogWindow key="ghost-level" class="max-w-[50rem]" ref="levelUp" v-if="ghost && !readonly">
      <ListingHeader :headers="{
        'LEVEL': 'w-full'
      }" />
      <div class="grid grid-cols-3 gap-2 items-center h-12">
        <label class="text-xs text-zinc-400 text-right">GHOST LEVEL</label>
        <div class="flex col-span-2 gap-2">
          <input type="number" class="bg-transparent w-20 p-1 h-10 text-center text-lg border-zinc-500 border-2" v-model="ghost.level" :min="1" :max="20" @change="update" />
          <DialogButton
            v-if="ghost.level < 20"
            :color="ghost.experience >= maxExperience ? 'success' : 'danger'"
            @click="doLevelUp"
          >LEVEL UP</DialogButton>
        </div>
      </div>
      <p v-if="ghost.level < 20">{{ ghost.experience >= maxExperience ? 'Your ghost is ready to level up!' : `You are ${maxExperience - ghost.experience}XP away from your next level. Are you sure you want to level up?` }}</p>
      <ListingHeader :headers="{
        'SKILLS': 'w-full'
      }" class="mt-2" />
      <div class="flex flex-col sm:flex-row gap-4">
        <table class="markdown w-full mt-1">
          <tr v-for="skill in firstHalfSkills">
            <td class="w-1/2">{{ getSkillName(skill) }}</td>
            <td title="No proficiency">
              <Radio :value="ProficiencyType.None" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/not-proficient.svg" />
              </Radio>
            </td>
            <td title="Half-proficiency">
              <Radio :value="ProficiencyType.Half" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/half-proficient.svg" />
              </Radio>
            </td>
            <td title="Proficiency">
              <Radio :value="ProficiencyType.Proficiency" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>
            </td>
            <td title="Expertise">
              <Radio :value="ProficiencyType.Expertise" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/expert.svg" />
              </Radio>
            </td>
          </tr>
        </table>
        <table class="markdown w-full -mt-4 sm:mt-1">
          <tr v-for="skill in secondHalfSkills">
            <td class="w-1/2">{{ getSkillName(skill) }}</td>
            <td title="No proficiency">
              <Radio :value="ProficiencyType.None" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/not-proficient.svg" />
              </Radio>
            </td>
            <td title="Half-proficiency">
              <Radio :value="ProficiencyType.Half" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/half-proficient.svg" />
              </Radio>
            </td>
            <td title="Proficiency">
              <Radio :value="ProficiencyType.Proficiency" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>
            </td>
            <td title="Expertise">
              <Radio :value="ProficiencyType.Expertise" :name="'G_' + getSkillName(skill)" v-model="ghost.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/expert.svg" />
              </Radio>
            </td>
          </tr>
        </table>
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
