<script setup lang="ts">
import { ComputedRef, computed, inject, ref } from 'vue'
import { Ability, DamageType, Ghost, Item } from '@/models/destiny'
import { isProficientInSave, getAbilityModifier, getAbilitySave, getSign, getAbilityName } from '@/utils'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = defineProps<{ ghost: Ghost, ability: Ability, readonly?: boolean }>()
const emit = defineEmits(['change'])
const sendDice = inject('ChatSendDice', undefined) as ComputedRef<(context: string|null, data: { formula: string, value: number, type?: DamageType }[], sender?: string) => Promise<void> | null>|undefined

const formula = ref<InstanceType<typeof DialogWindow>>()
const attackFormula = ref('1d20 + [mod] + [prof]')
const isSavingThrow = ref(false)
const isProficient = computed(() => isProficientInSave(props.ghost, props.ability))

function change(event: Event) {
  emit('change', event)
}

function showFormula(isSave: boolean) {
  if (!sendDice?.value) return

  isSavingThrow.value = isSave
  if (isSave) attackFormula.value = '1d20 + [mod] + [prof]'
  else attackFormula.value = '1d20 + [mod]'

  formula.value?.show()
}
</script>

<template>
  <div
    class="min-w-[8rem] min-h-[5.5rem] w-1/3 xs:w-auto flex-grow pt-1 flex flex-col items-center border-2 bg-zinc-800 text-zinc-400 text-xs relative"
    :class="{
      'border-zinc-900': !isProficient,
      'border-zinc-400': isProficient
    }"
  >
    <span>{{ getAbilityName(ability).toUpperCase() }}</span>
    <span v-if="readonly" class="text-zinc-300 text-3xl w-12 h-12 leading-[4rem] text-center bg-transparent font-semibold">{{ ghost.abilities[ability] }}</span>
    <input v-else type="number" class="text-zinc-300 text-3xl w-12 h-8 mt-2 text-center bg-transparent font-semibold hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="ghost.abilities[ability]" @change="change" />
    <button
      class="h-8 w-8 text-sm bottom-0 left-0 absolute font-semibold"
      :class="{ 'hover:bg-white/25': !readonly && !!sendDice, 'cursor-default': readonly || !sendDice }"
      @click="() => showFormula(false)"
      title="Skill check"
    >{{ getSign(getAbilityModifier(ghost, ability)) }}</button>
    <button
      class="h-8 w-8 text-sm bottom-0 right-0 absolute font-semibold"
      :class="{ 'hover:bg-white/25': !readonly && !!sendDice, 'cursor-default': readonly || !sendDice }"
      @click="() => showFormula(true)"
      title="Saving throw"
    >{{ getSign(getAbilitySave(ghost, ability)) }}</button>
  </div>
  <Teleport to="body">
    <DialogWindow key="ghost-ability-dice" class="max-w-[30rem]" v-if="!readonly" ref="formula">
      <DamageFormula :character="ghost" :item="({
        _type: 'Feature',
        name: isSavingThrow
          ? `${getAbilityName(ability)} saving throw`
          : `${getAbilityName(ability)} ability check`,
        attackFormula,
        ability,
        proficient: isProficient
      } as Item)" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
