<script setup lang="ts">
import { ref, computed } from 'vue'
import { Ghost, Skill, Ability, Feature, DamageType } from '@/models/destiny'
import DeathSaves from '@/components/forms/DeathSaves.vue'
import GhostAbility from '@/components/ghost/GhostAbility.vue'
import GhostSkill from '@/components/ghost/GhostSkill.vue'
import DialogButton from '@/components/DialogButton.vue'
import DialogWindow from '../DialogWindow.vue'
import { getHealthPointsDiceAverageOrMaxOnFirstLevel } from '@/utils'
import DamageFormula from '../DamageFormula.vue'

const props = defineProps<{ ghost: Ghost, readonly?: boolean }>()

const hitDiceFeature = computed(() => ({
  _type: 'Feature',
  name: `${props.ghost.name} rolls for hit points`,
  level: 0,
  description: '',
  attackFormula: `1d6 + [conMod]`
} as Feature))

const maxHitPoints = computed(() => props.ghost?.maxHitPoints
  ?? getHealthPointsDiceAverageOrMaxOnFirstLevel(6, props.ghost.abilities[Ability.Constitution], props.ghost!.level)
  ?? 0)

function onRoll(_: boolean, result: { formula: string, evaluated: string, value: number, type?: DamageType }[]) {
  formula.value?.hide()
  props.ghost.hitPoints = Math.min(props.ghost.hitPoints + result[0].value, maxHitPoints.value)
}

function applyLongRest() {
  props.ghost.hitPoints = maxHitPoints.value
  props.ghost.restorationPoints = Math.min(Math.max(1, Math.floor(props.ghost.level / 2)) + props.ghost.restorationPoints, props.ghost.level)
}

const formula = ref<InstanceType<typeof DialogWindow>>()
const emit = defineEmits(['update'])

function update(event: Event) {
  emit('update', event)
}
</script>

<template>
  <div class="flex gap-4 p-4 h-full flex-wrap md:flex-nowrap">
    <div class="flex max-h-[42rem] w-full flex-wrap xs:flex-col xs:justify-between xs:w-min md:h-full md:w-32 gap-4">
      <GhostAbility :ghost="ghost" :ability="Ability.Strength" :readonly="readonly" @change="update" />
      <GhostAbility :ghost="ghost" :ability="Ability.Dexterity" :readonly="readonly" @change="update" />
      <GhostAbility :ghost="ghost" :ability="Ability.Constitution" :readonly="readonly" @change="update" />
      <GhostAbility :ghost="ghost" :ability="Ability.Intelligence" :readonly="readonly" @change="update" />
      <GhostAbility :ghost="ghost" :ability="Ability.Wisdom" :readonly="readonly" @change="update" />
      <GhostAbility :ghost="ghost" :ability="Ability.Charisma" :readonly="readonly" @change="update" />
    </div>
    <div class="flex flex-col justify-between h-[42rem] md:h-full w-fit flex-grow md:w-64">
      <GhostSkill :ghost="ghost" :skill="Skill.Acrobatics" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.AnimalHandling" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Arcana" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Athletics" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Deception" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.History" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Insight" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Intimidation" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Investigation" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Medicine" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Nature" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Perception" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Performance" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Persuasion" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Religion" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.SleightOfHand" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Stealth" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Survival" :readonly="readonly" />
      <GhostSkill :ghost="ghost" :skill="Skill.Technology" :readonly="readonly" />
    </div>
    <div class="flex flex-col gap-4 w-full md:w-[28rem]">
      <div class="flex gap-4" v-if="!readonly">
        <DialogButton class="border-zinc-900 border-2 bg-zinc-800" @click="formula?.show" block>SHORT REST</DialogButton>
        <DialogButton class="border-zinc-900 border-2 bg-zinc-800" @click="applyLongRest" block>LONG REST</DialogButton>
      </div>
      <div class="md:w-[28rem] h-fit border-zinc-900 border-2 grid grid-cols-4 p-2 gap-2 bg-zinc-800">
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">DTH SAVES</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">
          <DeathSaves :character="ghost" @change="update" :readonly="readonly" />
        </dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">REST. PTS.</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">
          <span v-if="readonly" class="bg-transparent text-right w-4">{{ ghost.restorationPoints }}</span>
          <input v-else type="number" class="bg-transparent text-right w-4 ml-1 hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="ghost.restorationPoints" @change="update" />
          /{{ ghost.level }}
        </dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">SENSES</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">Scanner 5ft., Concentrated Scanner 15ft.</dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">LANG.</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">
          <span v-if="readonly" class="bg-transparent w-10 grow">{{ ghost.languages }}</span>
          <input v-else class="bg-transparent w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="ghost.languages" @change="update" />
        </dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">RESIST.</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">Kinetic</dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">WEAK.</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">Darkness</dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">ARMOR</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">Ghost Shells</dd>
        <dt class="flex text-xs h-6 mb-1 items-center justify-end text-zinc-400">TOOLS</dt>
        <dd class="col-span-3 flex h-6 text-sm mb-1 items-center">Jumpships (autopilot only)</dd>
      </div>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-health-dice" class="max-w-[30rem]" v-if="!readonly" ref="formula">
      <DamageFormula :character="ghost" :item="hitDiceFeature" show-all-formula simple-roll @roll="onRoll" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
