<script setup lang="ts">
import { computed } from 'vue'
import { Ghost } from '@/models/destiny'
import { ghostFeatures } from '@/models/destinyRaces'
import GhostFeature from '@/components/ghost/GhostFeature.vue'

const props = defineProps<{ ghost: Ghost, readonly?: boolean }>()

const features = computed(() => ghostFeatures.filter(x => x.level <= props.ghost.level).sort((a, b) => a.level - b.level))
</script>

<template>
  <div class="flex flex-col w-full pt-4 px-4 h-full overflow-y-auto">
    <div class="flex flex-col gap-1 w-full mb-4">
      <GhostFeature v-for="feature in features" :key="feature.name" :feature="feature" :ghost="ghost" :readonly="readonly" />
    </div>
  </div>
</template>
