<script setup lang="ts">
import { Ghost } from '@/models/destiny'

defineProps<{ ghost: Ghost, readonly?: boolean }>()
const emit = defineEmits(['update'])

function update(event: Event) {
  emit('update', event)
}
</script>

<template>
  <div class="flex flex-col p-4 w-full h-full">
    <h3 class="inline-block w-fit text-xs text-zinc-400">PERSONALITY TRAITS & NOTES</h3>
    <p v-if="readonly" class="p-1 text-sm bg-zinc-700 w-full h-48 border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ ghost.personalityTraits }}</p>
    <textarea v-else @input="update" v-model="ghost.personalityTraits" class="p-1 text-sm bg-zinc-800 md:bg-zinc-700 w-full cursor-pointer h-[30rem] sm:h-full border-zinc-500 border-2 resize-none" />
  </div>
</template>
