<script setup lang="ts">
import { computed, provide, ref } from 'vue'
import { doc, query, updateDoc, where } from 'firebase/firestore'
import { charactersRef } from '@/firebase'
import { useCollection } from 'vuefire'
import { Guardian as GuardianType, DamageType } from '@/models/destiny'
import Chat from '@/components/Chat.vue'
import Guardian from '@/components/guardian/Guardian.vue'
import { dragscroll as vDragscroll } from 'vue-dragscroll'
import SessionSection from '@/components/SessionSection.vue'
import { useSession } from '@/composables/session'
import { debounce } from '@/utils'
import Actions from '@/components/Actions.vue'

const { currentSession, isCurrentAuthor } = useSession()
const charactersQuery = computed(() => currentSession.value && currentSession.value.members.length ? query(charactersRef, where('id', 'in', currentSession.value.members.map(x => x.character))) : null)
const characters = useCollection<GuardianType>(charactersQuery, { ssrKey: 'characters' })
const chat = ref<InstanceType<typeof Chat>>()
const dragging = ref(false)

const chatSendDice = computed(() => currentSession.value ? async function(context: string|null, data: { formula: string, evaluated: string, value: number, type?: DamageType }[], sender?: string) {
  await chat.value?.sendDice(context, data, sender)
} : null)

const update = debounce((args: unknown) => {
  const character = args as GuardianType
  const characterRef = doc(charactersRef, character.id)
  updateDoc(characterRef, JSON.parse(JSON.stringify(character)))
}, 300)

function onDragScroll(event: MouseEvent) {
  event.preventDefault()
  dragging.value = true
}

function onDragScrollEnd() {
  dragging.value = false
}

provide('ChatSendDice', chatSendDice)
</script>

<template>
  <div v-dragscroll.pass @dragscrollstart="onDragScroll" @dragscrollmove="onDragScroll" @dragscrollend="onDragScrollEnd" class="w-full h-full flex p-4 gap-4 pb-[6rem] md:pb-[1.5rem] overflow-auto no-scrollbar xl:pr-[21rem]" :class="{ 'select-none': dragging }" v-if="isCurrentAuthor">
    <Actions :subclass="null" is-architect @send-action="chat?.sendAction" />
    <Guardian v-for="character in characters" :character="character" @update="() => update(character)" />
    <SessionSection v-if="!characters?.length" />
  </div>
  <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">You do not have access to this page.</p>
  </div>
  <Chat ref="chat" v-if="isCurrentAuthor" />
</template>
