<script setup lang="ts">
import { computed, provide, ref, watch } from 'vue'
import { DamageType, Monster, SessionEncounterEntry } from '@/models/destiny'
import Chat from '@/components/Chat.vue'
import { dragscroll as vDragscroll } from 'vue-dragscroll'
import { useSession } from '@/composables/session'
import BestiaryList from '@/components/BestiaryList.vue'
import BestiaryMonster from '@/components/BestiaryMonster.vue'
import { allMonsters } from '@/models/bestiary/index'
import { parseStatBlock } from '@/utils/statblock/reader'

const { currentSession, isCurrentAuthor, encounters, createEncounter, updateEncounter, deleteEncounter } = useSession()
const chat = ref<InstanceType<typeof Chat>>()
const currentEncounter = ref<SessionEncounterEntry & { id: string }>(encounters.value?.[0])

const chatSendDice = computed(() => currentSession.value ? async function(context: string|null, data: { formula: string, evaluated: string, value: number, type?: DamageType }[], sender?: string) {
  await chat.value?.sendDice(context, data, sender)
} : null)

provide('ChatSendDice', chatSendDice)

async function addMonster(enemy: Monster) {
  if (!encounters.value?.[0]) {
    await createEncounter('New encounter')
  }

  if (!currentEncounter.value) {
    currentEncounter.value = encounters.value[0]
  }

  const monsterData = parseStatBlock(enemy.statblock)

  console.log(monsterData)
  // currentEncounter.value.monsters?.push(monsterData)

  // await updateEncounter(currentEncounter.value)
}

async function removeMonster(index: number) {
  if (!currentEncounter.value) return

  currentEncounter.value.monsters?.splice(index, 1)
  await updateEncounter(currentEncounter.value)
}

watch(encounters, value => {
  if (!currentEncounter.value) {
    currentEncounter.value = encounters.value?.[0]
  }
})
</script>

<template>
  <div v-dragscroll class="w-full flex p-4 gap-4 pb-[6rem] md:pb-[1.5rem] overflow-x-auto no-scrollbar xl:pr-[21rem]" v-if="isCurrentAuthor">
    <BestiaryList @add-monster="addMonster" />
    <template v-if="currentEncounter?.monsters">
      <BestiaryMonster v-for="(_, index) in currentEncounter.monsters" :index="index" :all-monsters="allMonsters" :all-monster-data="currentEncounter.monsters" @remove-monster="removeMonster" />
    </template>
  </div>
  <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">You do not have access to this page.</p>
  </div>
  <Chat ref="chat" v-if="isCurrentAuthor" />
</template>
