<script setup lang="ts">
import { serverTimestamp, doc, updateDoc } from 'firebase/firestore'
import { useCurrentUser, useDocument } from 'vuefire'
import { charactersRef, usersRef } from '@/firebase'
import { useRoute } from 'vue-router'
import { Guardian as GuardianType, Subclass, Item, DamageType, LightAbility, Feature } from '@/models/destiny'
import { ref, computed, watch, provide } from 'vue'
import { getSubclass } from '@/models/destinySubclasses'
import { debounce, experienceCapPerLevel } from '@/utils'
import Chat from '@/components/Chat.vue'
import Guardian from '@/components/guardian/Guardian.vue'
import Actions from '@/components/Actions.vue'
import { useSession } from '@/composables/session'
import { useScreenSize } from '@/composables/screenSize'
import GuardianSmall from '@/components/guardian/GuardianSmall.vue'
import DialogTabs from '@/components/DialogTabs.vue'
import GhostSmall from '@/components/ghost/GhostSmall.vue'

const { currentSession, join } = useSession()
const { isMobile } = useScreenSize()

const user = useCurrentUser()
const route = useRoute()
const chat = ref<InstanceType<typeof Chat>>()
const activeTab = ref(0)

const userDataRef = computed(() => user.value ? doc(usersRef, user.value?.uid) : null)
const userData = useDocument(userDataRef)
const displayName = computed(() => userData.value?.displayName || user.value?.displayName)

const characterRef = computed(() => doc(charactersRef, route.params?.id as string))
const character = useDocument<GuardianType>(characterRef)
const subclass = computed<Subclass | null>(() => character.value?.subclass as never && getSubclass(character.value!.subclass!))
const needsLevelUp = computed(() => character.value && (character.value!.experience >= experienceCapPerLevel(character.value!.level)))
const ghostNeedsLevelUp = computed(() => character.value && (character.value!.ghost.experience >= experienceCapPerLevel(character.value!.ghost.level)))

watch(() => (user.value, currentSession.value, character.value), async () => {
  if (user.value && currentSession.value && character.value && !currentSession.value.members.some(x => x.character === character.value?.id)) {
    const isAlreadyPresent = currentSession.value!.members.some(x => x.player === user.value!.uid)

    await join(currentSession.value.id!, character.value)

    if (isAlreadyPresent) {
      await chat.value!.sendSystem({
        author: 'SYSTEM',
        date: serverTimestamp(),
        type: 'message',
        content: `${displayName.value} changed character for ${character.value.name}`
      })
    } else {
      await chat.value!.sendSystem({
        author: 'SYSTEM',
        date: serverTimestamp(),
        type: 'message',
        content: `${displayName.value} joined with ${character.value.name}`
      })
    }
  }
})

const update = debounce(() => {
  updateDoc(characterRef.value, JSON.parse(JSON.stringify(character.value)))
}, 300)

async function receiveItem(item: Item) {
  character.value!.items.push(item)
  await update()
}

const chatSendItem = computed(() => currentSession.value ? async function(item: Item, index: number) {
  await chat.value?.sendItem(item)
  character.value!.items.splice(index, 1)
  await update()
} : null)
const chatSendDescription = computed(() => currentSession.value ? async function(item: Item|Feature|LightAbility, sender?: string) {
  await chat.value?.sendDescription(item, sender)
} : null)
const chatSendDice = computed(() => currentSession.value ? async function(context: string|null, data: { formula: string, evaluated: string, value: number, type?: DamageType }[], sender?: string) {
  await chat.value?.sendDice(context, data, sender)
} : null)

provide('ChatSendItem', chatSendItem)
provide('ChatSendDescription', chatSendDescription)
provide('ChatSendDice', chatSendDice)
</script>

<template>
  <div v-if="character">
    <div v-if="isMobile">
      <DialogTabs
        :tabs="{
          guardian: 'RISEN',
          ghost: 'GHOST'
        }"
        container-class="!text-xl !w-full !mx-0 !mt-0 !mb-0 !h-12"
        :inactive-tab-class="((activeTab === 0 && ghostNeedsLevelUp) || (activeTab === 1 && needsLevelUp))
          ? 'relative after:contents after:absolute after:inset-0 after:bg-green-500 after:animate-pulse after:pointer-events-none after:opacity-25' : ''"
        active-tab-class="!bg-zinc-800"
        :active-tab="activeTab"
        @update="value => activeTab = value"
      >
        <template #guardian>
          <div class="pb-[5rem]">
            <GuardianSmall :character="character" @update="update" />
          </div>
        </template>
        <template #ghost>
          <div class="pb-[5rem]">
            <GhostSmall :character="character" :ghost="character.ghost" @update="update" />
          </div>
        </template>
      </DialogTabs>
    </div>
    <div v-else>
      <div class="w-full flex p-4 pb-[6rem] md:pb-[1.5rem] gap-4 overflow-x-auto no-scrollbar xl:pr-[21rem]">
        <Actions :subclass="subclass" @send-action="chat?.sendAction" />
        <Guardian :character="character" @update="update" />
      </div>
    </div>
  </div>
  <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">You do not have access to this character.</p>
  </div>
  <Chat ref="chat" v-if="character" :character="character" @receive-item="receiveItem" />
</template>
