<script setup lang="ts">
import { useCollection, useCurrentUser, useDocument } from 'vuefire'
import HomeGuardian from '@/components/HomeGuardian.vue'
import HomeSession from '@/components/HomeSession.vue'
import { charactersRef, sessionsRef, usersRef } from '@/firebase'
import { Guardian, Session } from '@/models/destiny'
import { ref, computed } from 'vue'
import { addDoc, and, doc, or, orderBy, query, where } from 'firebase/firestore'
import SessionSection from '@/components/SessionSection.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import { useSession } from '@/composables/session'
import DialogButton from '@/components/DialogButton.vue'
import { useKonamiCode } from '@/composables/konami'

const user = useCurrentUser()
const { onKonamiCode } = useKonamiCode()

const usersData = useCollection(usersRef)
const isAdmin = computed(() => usersData.value?.find(x => x.id === user.value?.uid)?.isAdmin || false)

function getUserDisplayName(userId: string) {
  return usersData.value?.find(x => x.id == userId)?.displayName || ''
}

const charactersQueryRef = computed(() => user.value && (isAdmin.value
  ? query(charactersRef, where('privacy', '!=', 'deleted'), orderBy('privacy'), orderBy('name', 'desc'))
  : query(charactersRef, where('privacy', '!=', 'deleted'), orderBy('privacy'), orderBy('name', 'desc'), where('player', '==', user.value?.uid))
))
const characters = useCollection<Guardian>(charactersQueryRef, { ssrKey: 'characters' })
const { currentSession, create } = useSession()

const sessionsQuery = computed(() => user.value && (isAdmin.value
  ? query(sessionsRef, and(where('privacy', '!=', 'deleted')))
  : query(sessionsRef, and(where('privacy', '!=', 'deleted'), or(where('author', '==', user.value?.uid), where('privacy', '==', 'public'))))))
const sessions = useCollection<Session>(sessionsQuery, { ssrKey: 'sessions' })

const sessionName = ref('')
const newSession = ref<InstanceType<typeof DialogWindow>>()
const mara = ref<InstanceType<typeof DialogWindow>>()

function createNewCharacter() {
  addDoc(charactersRef, {
    ...JSON.parse(JSON.stringify(new Guardian(user.value!.uid)))
  })
}

onKonamiCode(() => {
  mara.value?.show()
})
</script>

<template>
  <div class="pb-[4rem] md:pb-[2.5rem]">
    <SessionSection />
    <div v-if="user" class="container mx-auto">
      <div class="flex gap-4 p-4 pb-0 w-full justify-center flex-wrap empty:p-0">
        <HomeGuardian v-for="character in characters" :id="character.id" :character="character" :player-name="isAdmin && (getUserDisplayName(character.player) || character.player)" />
      </div>
      <div class="flex gap-4 p-4 justify-center flex-wrap">
        <DialogButton @click="createNewCharacter" color="success">CREATE CHARACTER</DialogButton>
      </div>
      <hr class="border-t-2 border-zinc-400" />
      <div class="flex gap-4 p-4 pb-0 w-full justify-center flex-wrap empty:p-0">
        <HomeSession v-for="session in sessions" :session="session" :disabled="currentSession ? session?.id === currentSession.id : false" :player-name="getUserDisplayName(session.author) || session.authorName" />
      </div>
      <div class="flex gap-4 p-4 justify-center flex-wrap" v-if="user">
        <DialogButton @click="newSession?.show" color="success">CREATE SESSION</DialogButton>
        <Teleport to="body">
          <DialogWindow key="new-session" class="max-w-[30rem]" ref="newSession">
            <div class="grid grid-cols-3 items-center">
              <small class="text-right pr-2 text-zinc-400 text-xs">SESSION NAME</small>
              <input class="col-span-2 mt-1 mb-2 px-2 bg-zinc-800 cursor-pointer h-8 border-zinc-500 border-2" v-model="sessionName" />
            </div>
            <form method="dialog" class="flex justify-center gap-2 mt-2 w-full">
              <DialogButton @click="() => create(sessionName)" color="success">CREATE SESSION</DialogButton>
              <DialogButton>CLOSE</DialogButton>
            </form>
          </DialogWindow>
        </Teleport>
      </div>
    </div>
    <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
      <p class="text-2xl">Please login to continue.</p>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="mara" ref="mara" class="max-w-fit">
      <img src="@/assets/queen.jpg" class="h-[90dvh]" />
    </DialogWindow>
  </Teleport>
</template>
