<script setup lang="ts">
import { sessionsRef } from '@/firebase'
import { useCurrentUser, useDocument } from 'vuefire'
import { doc } from 'firebase/firestore'
import { useRoute, useRouter } from 'vue-router'
import { Session } from '@/models/destiny'
import { useSession } from '@/composables/session'
import DialogButton from '@/components/DialogButton.vue'

const user = useCurrentUser()
const route = useRoute()
const router = useRouter()
const { join } = useSession()
const session = useDocument<Session>(doc(sessionsRef, route.params?.id as string))

function joinSession() {
  join(session.value?.id as string)
  router.push('/')
}

function cancel() {
  router.push('/')
}
</script>

<template>
  <div v-if="session && user" class="h-screen -mt-12 w-full flex items-center justify-center">
    <div class="p-0 w-[40rem] bg-zinc-800 text-white">
      <div class="p-3">
        <p class="pb-1">You have been invited to join <em>{{ session.name }}</em></p>
        <p class="pb-1">The session's Architect is {{ session.authorName }}</p>
        <p class="pb-1"><strong class="font-semibold">The Architect will gain read access to your selected character for the duration of the session.</strong></p>
        <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
          <DialogButton @click="joinSession" color="success">JOIN</DialogButton>
          <DialogButton @click="cancel">CANCEL</DialogButton>
        </form>
      </div>
    </div>
  </div>
  <div v-else-if="user" class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">The session is expired.</p>
  </div>
  <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">Please login to continue.</p>
  </div>
</template>
