<script setup lang="ts">
import useClipboard from 'vue-clipboard3'
import { computed, inject, onMounted, ref } from 'vue'
import { useCurrentUser } from 'vuefire'
import DialogButton from '@/components/DialogButton.vue'
import { AdventureTerm } from '@/puzzles/adventureTerminal'
import { usersRef } from '@/firebase'
import { collection, doc, setDoc, Timestamp } from 'firebase/firestore'

const { toClipboard } = useClipboard()
const showToast = inject('ShowToast', undefined) as (({ content, isSuccess }: { content: string, isSuccess: boolean }) => void)|undefined
const user = useCurrentUser()
const term = ref<AdventureTerm>()
const timer = ref<NodeJS.Timeout>()
const lastLine = ref('')

const userDataRef = computed(() => user.value ? doc(usersRef, user.value?.uid) : null)
const terminalRef = computed(() => userDataRef.value ? collection(userDataRef.value.firestore, userDataRef.value.path, 'terminal') : null)

function initialize() {
  if (!term.value && user.value) {
    const el = document.getElementById('terminal')!
    el.innerHTML = ''
    term.value = new AdventureTerm(el, user.value.uid)
    term.value.onCommand = (command, value) => {
      lastLine.value = value
      setDoc(doc(terminalRef.value!, new Date().toISOString()), {
        date: Timestamp.now(),
        command,
        result: value
      })
    }
  } else {
    clearTimeout(timer.value)
  }
  
  timer.value = setTimeout(initialize, 100)
}

async function copyLastLine() {
  if (lastLine.value) {
    await toClipboard(lastLine.value)
    showToast?.({ content: `Copied last result to the clipboard.`, isSuccess: true })
  }
}

onMounted(() => {
  initialize()
})
</script>

<template>
  <div v-if="user" class="h-screen -mt-12 p-4 w-full flex flex-col items-center gap-4">
    <div id="terminal" class="mt-12"></div>
    <DialogButton class="text-xs" @click="copyLastLine">COPY LAST LINE</DialogButton>
  </div>
  <div v-else-if="user" class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">The session is expired.</p>
  </div>
  <div v-else class="h-screen -mt-12 w-full flex items-center justify-center">
    <p class="text-2xl">Please login to continue.</p>
  </div>
</template>
