<script setup lang="ts">
import { computed, ref } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import { Class, Subclass } from '@/models/destiny'
import { Action, ActionTarget, ActionType, actions } from '@/actions'
import ActionsItem from '@/components/ActionsItem.vue'
import { useRoute } from 'vue-router'

const props = defineProps<{ subclass: Subclass|null, isArchitect?: boolean }>()
const emit = defineEmits(['sendAction'])

const route = useRoute()
const collapsed = ref(false)
const showActions = ref(true)
const showBonusActions = ref(false)
const showMovement = ref(false)
const showReactions = ref(false)
const showFree = ref(true)

const typeFilters = computed(() => {
  const filters: ActionType[] = []
  if (showActions.value) filters.push(ActionType.Action)
  if (showBonusActions.value) filters.push(ActionType.BonusAction)
  if (showMovement.value) filters.push(ActionType.Movement)
  if (showReactions.value) filters.push(ActionType.Reaction)
  if (showFree.value) filters.push(ActionType.Free)
  return filters
})

const targetFilter = computed(() => {
  if (props.subclass?.class === Class.Titan) return ActionTarget.Titan
  if (props.subclass?.class === Class.Warlock) return ActionTarget.Warlock
  if (props.subclass?.class === Class.Hunter) return ActionTarget.Hunter
  else return ActionTarget.Ghost
})

function checkTypes(action: Action) {
  return typeFilters.value.some(type => (action.type & type) === type)
}

const risenActions = computed(() => actions.filter(action => (props.isArchitect ? true : !action.excludeTargets.includes(targetFilter.value)) && !action.excludeTargets.includes(ActionTarget.Risen) && checkTypes(action)))
const ghostActions = computed(() => actions.filter(action => !action.excludeTargets.includes(ActionTarget.Ghost) && checkTypes(action)))

function sendAction(action: Action, sender?: string) {
  emit('sendAction', action.message, sender)
}
</script>

<template>
  <div
    class="w-[16.5rem] mb-8 flex-shrink-0 flex flex-col gap-4"
    :class="{ '-ml-[17.5rem]': collapsed }"
  >
    <RouterLink v-if="route.name === 'Architect'" to="/bestiary" class="p-3 ml-8 h-8 bg-zinc-600 justify-center items-center flex hover:bg-zinc-500 text-zinc-200 leading-8 shadow-sm text-sm font-semibold">OPEN BESTIARY</RouterLink>
    <div class="flex flex-col gap-2 text-xs pl-8">
      <span class="flex items-center">
        <span class="flex-grow">ACTIONS</span>
        <Checkbox v-model="showActions" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">BONUS ACTIONS</span>
        <Checkbox v-model="showBonusActions" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">MOVEMENT</span>
        <Checkbox v-model="showMovement" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">REACTIONS</span>
        <Checkbox v-model="showReactions" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">FREE INTERACTIONS</span>
        <Checkbox v-model="showFree" />
      </span>
    </div>

    <div class="w-full flex-wrap flex gap-2">
      <h3 class="w-full text-sm text-center">RISEN ACTIONS</h3>

      <template v-for="action in risenActions">
        <ActionsItem :action="action" @send-action="sendAction" />
      </template>
    </div>

    <div class="w-full flex-wrap flex gap-2">
      <h3 class="w-full text-sm text-center">GHOST ACTIONS</h3>

      <template v-for="action in ghostActions">
        <ActionsItem :action="action" is-ghost @send-action="sendAction" />
      </template>
    </div>
  </div>
  <button
    class="absolute z-[5] top-14 left-0 w-8 h-32 bg-zinc-600 justify-center items-center flex hover:bg-zinc-500 text-zinc-200 leading-8 shadow-sm text-sm font-semibold"
    @click="() => collapsed = !collapsed"
  >
    <span style="writing-mode: vertical-rl;">{{ collapsed ? 'ACTIONS' : 'HIDE' }}</span>
  </button>
</template>
