<script setup lang="ts">
import { computed, ref } from 'vue'
import { Action, ActionType } from '@/actions'
import { applyMarkdown } from '@/utils'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = withDefaults(defineProps<{
  action: Action,
  isGhost?: boolean
}>(), {
  isGhost: false
})
const emit = defineEmits(['sendAction'])

const popup = ref<InstanceType<typeof DialogWindow>>()

const actionColor = computed(() => {
  if ((props.action.type & ActionType.Action) === ActionType.Action) return 'hover:border-green-600'
  if ((props.action.type & ActionType.BonusAction) === ActionType.BonusAction) return 'hover:border-orange-600'
  if ((props.action.type & ActionType.Reaction) === ActionType.Reaction) return 'hover:border-yellow-600'
  if ((props.action.type & ActionType.Movement) === ActionType.Movement) return 'hover:border-blue-600'
  if ((props.action.type & ActionType.Free) === ActionType.Free) return 'hover:border-rose-600'
  return 'hover:border-gray-600'
})

function sendAction() {
  emit('sendAction', props.action, props.isGhost ? 'ghost' : 'character')
}
</script>

<template>
  <button class="h-10 w-32 bg-zinc-800 border-2 border-zinc-500 hover:bg-white/25" :class="actionColor" @click="popup?.show">
    <span class="block h-4 text-sm leading-8 -mt-1 font-semibold">{{ action.name }}</span>
    <small class="text-xs">{{ action.cost }}</small>
  </button>
  <Teleport to="body">
    <DialogWindow :key="`${isGhost ? 'ghost-' : ''}action-${action.name}-${action.cost}`" class="max-w-[35rem]" ref="popup">
      <div class="markdown" v-html="applyMarkdown(action.description)" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="sendAction">USE ACTION</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
