<script setup lang="ts">
import { computed, ref } from 'vue'
import { applyMarkdown, getRaceName } from '@/utils'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import { Monster } from '@/models/destiny'
import { HitPoints, StatBlock } from '@/utils/statblock/types'

const props = defineProps<{
  index: number,
  allMonsters: Monster[],
  allMonsterData: StatBlock[]
}>()
const emit = defineEmits(['update', 'removeMonster'])

const popup = ref<InstanceType<typeof DialogWindow>>()
const isLore = ref(false)

const monsterData = computed(() => props.allMonsterData?.[props.index])
const monster = computed(() => props.allMonsters.find(x => x.id === monsterData.value?.name))
const monsterName = computed(() => {
  const count = props.allMonsterData.slice(0, props.index).filter(x => x.name === monsterData.value?.name).length
  return count ? `${monsterData.value.name} ${count + 1}` : monsterData.value?.name
})
const statblock = computed(() => {
  const text = monster.value?.statblock
  return text?.replace(/(.+?) :: (.+?)\n/g, '$1 $2\n\n').replace(/\n:\n/g, '\n\n')
})
const challengeRating = computed(() => {
  if (!statblock.value) return ''

  const [, cr] = /Individual CR (.+?) \(/.exec(statblock.value) || ['', '']
  return cr
})

function toggleLore() {
  isLore.value = !isLore.value
}

function update() {
  emit('update', props.index)
}

function removeMonster() {
  emit('removeMonster', props.index)
}
</script>

<template>
  <div class="h-32 w-48 bg-zinc-800 border-2 border-zinc-500">
    <button class="w-full hover:bg-white/25 hover:border-gray-600" @click="popup?.show">
      <span class="block h-6 text-sm leading-8 -mt-1 font-semibold line-clamp-1">{{ monsterName }}</span>
      <small class="block text-xs">CR {{ challengeRating }} {{ monster?.race ? getRaceName(monster.race) : '' }}</small>
    </button>
    <div class="flex flex-col justify-center px-1">
      <!-- <div class="flex items-center gap-1">
        <small class="text-xs text-zinc-400 w-1/3 text-right">HIT PTS</small>
        <input min="0" :max="(monsterData.hitPoints as HitPoints)?.average" type="number" @input="update" v-model="monsterData.hitPoints" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
        <input min="0" type="number" @input="update" :placeholder="monsterData?.hitPoints?.toString()" v-model="monsterData.hitPoints" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
      </div>
      <div class="flex items-center gap-1">
        <small class="text-xs text-zinc-400 w-1/3 text-right">SHLD PTS</small>
        <input min="0" :max="monsterData.energyShields?.average" type="number" @input="update" v-model="monsterData.energyShields?.average" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
        <input min="0" type="number" @input="update" :placeholder="monsterData.energyShields?.average.toString()" v-model="monsterData.energyShields?.average" class="text-right mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2" />
      </div> -->
      <div class="flex items-center gap-1">

      </div>
    </div>
  </div> 
  <Teleport to="body">
    <DialogWindow :key="`monster-${monster?.id}`" class="max-w-[35rem]" ref="popup">
      <DialogButton class="absolute right-3" @click="toggleLore">{{ isLore ? 'INFO' : 'LORE' }}</DialogButton>
      <div v-if="isLore">
        <h2 class="text-2xl font-semibold">{{ monster?.name }}</h2>
        <hr class="my-2 h-1.5 border-none bg-zinc-400" style="clip-path: polygon(100% 50%, 0 0, 0 100%);" />
        <div class="markdown" v-html="applyMarkdown(monster?.lore ?? '')" />
      </div>
      <div class="markdown statblock" v-else v-html="applyMarkdown(statblock ?? '')" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="removeMonster">REMOVE MONSTER</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
