<script setup lang="ts">
import { computed, ref } from 'vue'
import { applyMarkdown, getRaceName } from '@/utils'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import { Monster } from '@/models/destiny'

const props = defineProps<{
  monster: Monster
}>()
const emit = defineEmits(['addMonster'])

const popup = ref<InstanceType<typeof DialogWindow>>()
const isLore = ref(false)

const statblock = computed(() => {
  const text = props.monster.statblock
  return text.replace(/(.+?) :: (.+?)\n/g, '$1 $2\n\n').replace(/\n:\n/g, '\n\n')
})
const challengeRating = computed(() => {
  const [, cr] = /Individual CR (.+?) \(/.exec(statblock.value) || ['', '']
  return cr
})

function toggleLore() {
  isLore.value = !isLore.value
}

function addMonster() {
  emit('addMonster', props.monster)
}
</script>

<template>
  <button class="h-10 w-32 bg-zinc-800 border-2 border-zinc-500 hover:bg-white/25 hover:border-gray-600" @click="popup?.show">
    <span class="block h-6 text-sm leading-8 -mt-1 font-semibold line-clamp-1">{{ monster.name }}</span>
    <small class="block text-xs">CR {{ challengeRating }} {{ getRaceName(monster.race) }}</small>
  </button>
  <Teleport to="body">
    <DialogWindow :key="`monster-${monster.id}`" class="max-w-[35rem]" ref="popup">
      <DialogButton class="absolute right-3" @click="toggleLore">{{ isLore ? 'INFO' : 'LORE' }}</DialogButton>
      <div v-if="isLore">
        <h2 class="text-2xl font-semibold">{{ monster.name }}</h2>
        <hr class="my-2 h-1.5 border-none bg-zinc-400" style="clip-path: polygon(100% 50%, 0 0, 0 100%);" />
        <div class="markdown" v-html="applyMarkdown(monster.lore)" />
      </div>
      <div class="markdown statblock" v-else v-html="applyMarkdown(statblock)" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="addMonster">ADD MONSTER</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
