<script setup lang="ts">
import { computed, ref } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import { useRoute } from 'vue-router'
import { Enemy, Monster, Race } from '@/models/destiny'
import { allMonsters } from '@/models/bestiary/index'
import BestiaryItem from './BestiaryItem.vue'

const emit = defineEmits(['addMonster'])

const route = useRoute()
const collapsed = ref(false)
const showEliksni = ref(true)
const showKrill = ref(true)
const showCabal = ref(true)
const showVex = ref(true)
const showTaken = ref(false)
const showMisc = ref(false)

const raceFilters = computed(() => {
  const filters: (Race|null)[] = []
  if (showEliksni.value) filters.push(Race.Eliksni)
  if (showKrill.value) filters.push(Race.Krill)
  if (showCabal.value) filters.push(Race.Cabal)
  if (showVex.value) filters.push(Race.Vex)
  if (showTaken.value) filters.push(Race.Taken)
  if (showMisc.value) filters.push(null)
  return filters
})

function checkTypes(race: Race) {
  switch (race) {
    case Race.Eliksni:
    case Race.Krill:
    case Race.Cabal:
    case Race.Vex:
    case Race.Taken:
      return raceFilters.value.includes(race)
    default:
      return raceFilters.value.includes(null)
  }
}

const monsters = computed(() => allMonsters.filter(monster => checkTypes(monster.race)))

function addMonster(enemy: Monster) {
  emit('addMonster', enemy)
}
</script>

<template>
  <div
    class="w-[16.5rem] mb-8 flex-shrink-0 flex flex-col gap-4"
    :class="{ '-ml-[17.5rem]': collapsed }"
  >
    <RouterLink v-if="route.name === 'Bestiary'" to="/architect" class="p-3 ml-8 h-8 bg-zinc-600 justify-center items-center flex hover:bg-zinc-500 text-zinc-200 leading-8 shadow-sm text-sm font-semibold">ARCHITECT VIEW</RouterLink>
    <div class="flex flex-col gap-2 text-xs pl-8">
      <span class="flex items-center">
        <span class="flex-grow">ELIKSNI</span>
        <Checkbox v-model="showEliksni" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">HIVE</span>
        <Checkbox v-model="showKrill" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">CABAL</span>
        <Checkbox v-model="showCabal" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">VEX</span>
        <Checkbox v-model="showVex" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">TAKEN</span>
        <Checkbox v-model="showTaken" />
      </span>
      <span class="flex items-center">
        <span class="flex-grow">MISC</span>
        <Checkbox v-model="showMisc" />
      </span>
    </div>

    <div class="w-full flex-wrap flex gap-2">
      <h3 class="w-full text-sm text-center">BESTIARY</h3>

      <template v-for="monster in monsters">
        <BestiaryItem :monster="monster" @add-monster="addMonster" />
      </template>
    </div>
  </div>
  <button
    class="absolute z-[5] top-14 left-0 w-8 h-32 bg-zinc-600 justify-center items-center flex hover:bg-zinc-500 text-zinc-200 leading-8 shadow-sm text-sm font-semibold"
    @click="() => collapsed = !collapsed"
  >
    <span style="writing-mode: vertical-rl;">{{ collapsed ? 'ACTIONS' : 'HIDE' }}</span>
  </button>
</template>
