<script setup lang="ts">
import { serverTimestamp, doc, query, updateDoc, where, Timestamp } from 'firebase/firestore'
import { useCollection, useCurrentUser } from 'vuefire'
import { charactersRef, usersRef } from '@/firebase'
import { Guardian, SessionChatEntry, Item, DamageType, LightAbility, Feature, UserData, Class } from '@/models/destiny'
import { ref, computed, watch } from 'vue'
import { format, formatDistanceToNow } from 'date-fns'
import { enCA } from 'date-fns/locale'
import { getDamageTypeByName, getDamageTypeName } from '@/utils'
import { elementColors, getColor } from '@/utils/color'
import GuardianItem from '@/components/guardian/GuardianItem.vue'
import GuardianLightAbility from '@/components/guardian/GuardianLightAbility.vue'
import GuardianFeature from '@/components/guardian/GuardianFeature.vue'
import { User } from 'firebase/auth'
import { rollDice } from '@/utils/diceRoll'
import DialogWindow from '@/components/DialogWindow.vue'
import SessionSection from '@/components/SessionSection.vue'
import { useSession } from '@/composables/session'
import { getSubclass } from '@/models/destinySubclasses'
import VueSelect, { VueSelectInstance } from 'vue-select'
import ghostImg from '@/assets/ghost.svg'
import hunterImg from '@/assets/hunter.svg'
import titanImg from '@/assets/titan.svg'
import warlockImg from '@/assets/warlock.svg'
import guardianImg from '@/assets/light.svg'

const props = defineProps<{ character?: Guardian }>()
const emit = defineEmits(['receiveItem'])

const commandsRegex = /^\/(roll|r)\s+(.*)$/
const user = useCurrentUser()
const { currentSession, chat, sendChat, deleteChat } = useSession()
const charactersQueryRef = computed(() => currentSession.value && currentSession.value.members.length ? query(charactersRef, where('id', 'in', currentSession.value.members.map(x => x.character))) : null)
const characters = useCollection<Guardian>(charactersQueryRef, { ssrKey: 'characters' })
const usersData = useCollection<UserData>(usersRef)
const users = computed<{ key?: string, label: string, html: string }[]>(() => currentSession.value ? [
  { key: undefined, label: 'Everyone', html: 'Everyone' },
  ...currentSession.value.members.map(x => {
    const character = characters.value.find(y => y.id === x.character)
    const characterName = character?.name || ''
    const ghostName = character?.ghost?.name || ''
    return {
      key: x.player,
      label: x.playerName,
      html: `${x.playerName} <span class="inline-flex items-center text-xs">${getCharacterClass(character)}${characterName}<img class="h-3 w-3 ml-2 mr-1" src="${ghostImg}">${ghostName}</span>`
    }
  }),
  ...(currentSession.value.author !== user.value?.uid ? [{ key: currentSession.value.author, label: 'Architect', html: 'Architect' }] : [])
] : [])
const senders = computed<{ key?: string, label: string }[]>(() => {
  const items: { key: string, label: string }[] = []
  if (!currentSession.value) return items
  if (currentSession.value.author === user.value?.uid) items.push({ key: 'architect', label: 'Architect' })
  if (props.character) items.push({ key: 'character', label: props.character.name || '' })
  if (props.character?.ghost) items.push({ key: 'ghost', label: props.character.ghost.name || '' })
  items.push({ key: 'player', label: getUserDisplayName(user.value) || '' })
  return items
})
const filteredChat = computed(() => chat.value.filter(x => !x.recipient || (usersData.value?.find(y => y.id === user.value?.uid)?.isAdmin ? true : (x.recipient === user.value?.uid || x.author === user.value?.uid))))

const sender = ref<{ key?: string, label: string }>(senders.value?.[0])
const recipient = ref<{ key?: string, label: string, html: string }>(users.value?.[0])
const message = ref('')
const sessionInfo = ref<InstanceType<typeof DialogWindow>>()
const collapsed = ref(true)
const now = ref<Date>(new Date)

setInterval(() => now.value = new Date, 15000)

function getCharacterClass(character?: Guardian) {
  const _class = getSubclass(character?.subclass || '')?.class

  switch (_class) {
    case Class.Hunter:
      return `<img class="h-3 w-3 ml-2 mr-1" src="${hunterImg}">`
    case Class.Titan:
      return `<img class="h-3 w-3 ml-2 mr-1" src="${titanImg}">`
    case Class.Warlock:
      return `<img class="h-3 w-3 ml-2 mr-1" src="${warlockImg}">`
    default:
      return `<img class="h-3 w-3 ml-2 mr-1" src="${guardianImg}">`
  }
}

function getMessageCharacter(message: SessionChatEntry) {
  const found = currentSession.value?.members.find(x => x.player === message.author)
  if (found) return characters.value?.find(x => x.id === found.character)
  return null
}

function getUserDisplayName(user: User|null|undefined) {
  return usersData.value?.find(x => x.id === user?.uid)?.displayName || user?.displayName || ''
}

function getUserCharacter(user: User|null|undefined) {
  const found = currentSession.value?.members.find(x => x.player === user?.uid)
  if (found) return characters.value?.find(x => x.id === found.character)
  return undefined
}

function getSenderName(senderOvrd?: string) {
  switch (senderOvrd || sender.value) {
    case 'architect': return 'Architect'
    case 'player': return getUserDisplayName(user.value)
    case 'character': return props.character?.name || ''
    case 'ghost': return props.character?.ghost?.name || ''
    default: return senderOvrd || sender.value?.label
  }
}

async function sendDice(context: string | null, data: { formula: string, evaluated: string, value: number, type?: DamageType }[], sender?: string, toRecipient?: boolean) {
  if (user.value && chat.value) {
    const entry: SessionChatEntry = {
      authorName: getSenderName(sender),
      author: user.value.uid,
      type: 'dice',
      data: JSON.stringify(data),
      date: serverTimestamp()
    }

    if (context) {
      entry.content = context
    }

    if (toRecipient && recipient.value?.key) {
      entry.recipient = recipient.value.key
      entry.recipientName = recipient.value.label
    }

    await sendChat(entry)
  }
}

async function sendMessage(event: MouseEvent | KeyboardEvent) {
  if (event instanceof MouseEvent || (event instanceof KeyboardEvent && event.key === 'Enter' && !event.altKey && !event.ctrlKey && !event.shiftKey)) {
    event.preventDefault()
    const messageText = message.value.trim()

    if (user.value && messageText) {
      message.value = ''
      const [, command, params] = commandsRegex.exec(messageText) || []

      if (command === 'r' || command === 'roll') {
        const formulae = params.split(',').map(x => {
          const type = getDamageTypeByName(x.match(/\[(.*)\]/)?.[1])
          const formula = x.replace(/(\[(.*)\])/, '').replace('kh', '').replace('kl', '')
          return { formula, type }
        })
        const result = await rollDice(formulae, {
          isAdvantage: params.includes('kh'),
          isDisadvantage: params.includes('kl')
        })
        return sendDice(null, result, sender.value?.key, true)
      }

      const entry: SessionChatEntry = {
        content: messageText,
        authorName: getSenderName(),
        author: user.value.uid,
        type: 'message',
        date: serverTimestamp()
      }

      if (recipient.value?.key) {
        entry.recipient = recipient.value.key
        entry.recipientName = recipient.value.label
      }

      await sendChat(entry)
    }
  }
}

defineExpose({
  sendAction: async function (action: string, sender?: string) {
    if (user.value && chat.value) {
      const entry: SessionChatEntry = {
        authorName: getSenderName(sender),
        author: user.value.uid,
        type: 'action',
        date: serverTimestamp(),
        content: `${getSenderName(sender)} ${action}.`
      }

      await sendChat(entry)
    }
  },
  sendItem: async function (item: Item) {
    if (user.value && chat.value) {
      const messageText = message.value.trim()
      const entry: SessionChatEntry = {
        authorName: props.character?.name || getUserDisplayName(user.value),
        author: user.value.uid,
        type: 'item',
        itemName: (item.quantity ?? 0) > 1 ? `${item.name} (${item.quantity})` : item.name,
        data: JSON.stringify(item),
        date: serverTimestamp()
      }

      if (messageText) {
        entry.content = messageText.trim()
      }

      if (recipient.value?.key) {
        entry.recipient = recipient.value.key
        entry.recipientName = recipient.value.label
      }

      await sendChat(entry)
    }
  },
  sendDescription: async function (item: Item | Feature | LightAbility, sender?: string) {
    if (user.value && chat.value) {
      let type: 'itemDesc' | 'featureDesc' | 'abilityDesc' = 'itemDesc'
      switch (item._type) {
        case 'Item': type = 'itemDesc'; break
        case 'Feature': type = 'featureDesc'; break
        case 'LightAbility': type = 'abilityDesc'; break
      }
      const data = JSON.stringify(item)
      const entry: SessionChatEntry = {
        authorName: getSenderName(sender),
        author: user.value.uid,
        type,
        data,
        date: serverTimestamp()
      }

      await sendChat(entry)
    }
  },
  sendDice,
  sendSystem: async function (message: SessionChatEntry) {
    await sendChat(message)
  }
})

function getDice(message: SessionChatEntry): { formula: string, evaluated: string, value: number, type?: DamageType }[] {
  return message.data ? JSON.parse(message.data) : []
}

function getMessageItem(message: SessionChatEntry) {
  return message.data ? JSON.parse(message.data) as Item : null
}

function getMessageAbility(message: SessionChatEntry) {
  return message.data ? JSON.parse(message.data) as LightAbility : null
}

function getMessageFeature(message: SessionChatEntry) {
  return message.data ? JSON.parse(message.data) as Feature : null
}

async function receiveItem(message: SessionChatEntry & { readonly id: string }) {
  if (message.type === 'item' && message.data && props.character) {
    const item = JSON.parse(message.data) as Item
    await unsendMessage(message)
    emit('receiveItem', item)
  }
}

async function updateCharacter(message: SessionChatEntry & { readonly id: string }) {
  const character = getMessageCharacter(message)

  if (character && message.author === user.value?.uid) {
    const characterRef = doc(charactersRef, character.id)
    await updateDoc(characterRef, character as never)
  }
}

async function unsendMessage(message: SessionChatEntry & { readonly id: string }) {
  await deleteChat(message.id)
}

function positionDropdown(dropdownList: HTMLElement, component: VueSelectInstance, context: { width: string, top: string, left: string }) {
  const { height } = component.$refs.toggle.getBoundingClientRect()
  dropdownList.style.left = context.left
  dropdownList.style.width = context.width
  dropdownList.style.top = (+context.top.replace('px', '') - height - dropdownList.scrollHeight) + 'px'
}

watch(users, () => {
  if (!recipient.value) recipient.value = users.value[0]
})

watch(senders, () => {
  if (!sender.value) sender.value = senders.value[0]
})

watch(chat, async () => {
  if (currentSession.value && !chat.value.length) {
    const entry: SessionChatEntry = {
      content: 'Welcome to the start of a new adventure!',
      author: 'SYSTEM',
      authorName: '',
      type: 'message',
      date: serverTimestamp()
    }
    await sendChat(entry)
  }
})
</script>

<template>
  <div
    v-if="user && currentSession"
    class="z-10 flex-shrink-0 bg-zinc-800 overflow-x-clip flex flex-col fixed w-full bottom-[4rem] md:w-80 md:bottom-[2.5rem] md:right-4 xl:right-0 xl:h-[calc(100vh-5.5rem)] shadow-lg shadow-black/50"
    :class="{ 'h-12': collapsed, 'h-[calc(100dvh-7rem)]': !collapsed }"
  >
    <div class="p-3 z-10 bg-zinc-600 shadow-lg shadow-black/25">
      <h3 class="font-semibold pl-8 pr-8 xl:pr-0">{{ currentSession?.name }}</h3>
      <span class="w-full h-12 absolute xl:hidden top-0 right-0 p-3 px-1 cursor-pointer hover:bg-white/25 text-white text-3xl leading-6 text-right" @click="() => collapsed = !collapsed">{{ collapsed ? '&blacktriangle;' : '&blacktriangledown;' }}</span>
      <img src="@/assets/chat.svg" class="invert w-10 h-12 absolute top-0 left-0 p-3 px-2 cursor-pointer hover:bg-black/25" @click="sessionInfo?.show" />
    </div>
    <div class="flex flex-col-reverse flex-grow p-2 gap-2 overflow-y-auto overflow-x-hidden" :class="{ 'hidden xl:flex': collapsed }">
      <template v-for="message in filteredChat" :key="message.id">
        <template v-if="message.author === 'SYSTEM'">
          <div class="p-1 leading-4 text-sm relative border-2 border-zinc-600">
            <p class="break-words py-1 whitespace-pre-wrap font-semibold" v-if="message.content">{{ message.content }}</p>
          </div>
        </template>
        <template v-else-if="message.type === 'item'">
          <div v-if="!message.recipient || message.recipient === user.uid || message.author === user.uid" class="p-1 leading-5 relative border-2 border-zinc-600">
            <h3>{{ message.authorName }} sent {{ message.recipient === user.uid ? 'you' : message.recipientName }} a {{ message.itemName }}</h3>
            <button v-if="character" @click="() => receiveItem(message)" class="mt-1 py-2 px-4 text-sm bg-zinc-700 hover:bg-zinc-600 font-semibold">{{ message.author === user.uid ? 'CANCEL' : 'RECEIVE' }}</button>
          </div>
        </template>
        <template v-else-if="message.type === 'action'">
          <div class="p-1 leading-4 text-sm relative border-2 border-zinc-600">
            <abbr :key="now.getTime()" class="text-xs pb-1 block border-b border-zinc-700" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <p class="break-words py-1 whitespace-pre-wrap font-semibold" v-if="message.content">{{ message.content }}</p>
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
        <template v-else-if="message.type === 'dice'">
          <div class="p-1 leading-4 text-sm relative bg-zinc-600 rounded-md">
            <small class="text-sm block font-semibold" v-if="message.authorName && message.recipientName">{{ message.authorName }} &rarr; {{ message.recipientName }}</small>
            <small class="text-sm block font-semibold" v-if="message.authorName && !message.recipientName">{{ message.authorName }}</small>
            <abbr :key="now.getTime()" class="text-xs pb-1 block border-b border-zinc-700" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <p class="break-words py-1 whitespace-pre-wrap" v-if="message.content">{{ message.content }}</p>
            <div class="bg-zinc-700 rounded-sm mt-1 flex flex-col items-center gap-1 p-1"
              v-for="dice in getDice(message)">
              <small class="text-xs">{{ dice.formula }} &RightArrow; {{ dice.evaluated }}</small>
              <span class="text-lg h-4 leading-3 font-semibold" v-if="dice.type === undefined">{{ dice.value }}</span>
              <span v-else class="text-lg h-4 leading-3 relative inline-flex items-center gap-1">
                <img class="w-3 ml-[0.125rem] invert absolute opacity-100 animate-ping mt-[0.125rem]" src="@/assets/explosive.svg" v-if="dice.type >= 900 && dice.type < 9000" />
                <img class="w-4 invert" src="@/assets/kinetic.svg" v-if="(dice.type - DamageType.Kinetic) % 900 === 0" />
                <img class="w-4 invert" src="@/assets/poison.svg" v-if="(dice.type - DamageType.Poison) % 900 === 0" />
                <img class="w-4 invert" src="@/assets/psychic.svg" v-if="(dice.type - DamageType.Psychic) % 900 === 0" />
                <img class="w-4 invert-[10%]" src="@/assets/light.svg" v-if="(dice.type - DamageType.Light) % 900 === 0" />
                <img class="w-4 invert-[40%]" src="@/assets/darkness.svg" v-if="(dice.type - DamageType.Darkness) % 900 === 0" />
                <img class="w-4" :style="elementColors.arc.filter" src="@/assets/arc.svg" v-if="(dice.type - DamageType.Arc) % 900 === 0" />
                <img class="w-4" :style="elementColors.solar.filter" src="@/assets/solar.svg" v-if="(dice.type - DamageType.Solar) % 900 === 0" />
                <img class="w-4" :style="elementColors.void.filter" src="@/assets/void.svg" v-if="(dice.type - DamageType.Void) % 900 === 0" />
                <img class="w-4" :style="elementColors.strand.filter" src="@/assets/strand.svg" v-if="(dice.type - DamageType.Strand) % 900 === 0" />
                <img class="w-4" :style="elementColors.stasis.filter" src="@/assets/stasis.svg" v-if="(dice.type - DamageType.Stasis) % 900 === 0" />
                <img class="w-4" :style="elementColors.luster.filter" src="@/assets/luster.svg" v-if="(dice.type - DamageType.Luster) % 900 === 0" />
                <img class="w-4 invert" src="@/assets/shield.svg" v-if="dice.type - DamageType.ShieldHealing === 0" />
                <img class="w-4 invert" src="@/assets/health.svg" v-if="dice.type - DamageType.HealthHealing === 0" />
                <img class="w-4 invert" src="@/assets/health.svg" v-if="dice.type - DamageType.Healing === 0" />
                <span :style="{ color: getColor(dice.type) }" class="font-semibold">{{ dice.value }}</span>
                <i :style="{ color: getColor(dice.type) }">{{ getDamageTypeName(dice.type) + (dice.type < 9000 ? ' damage' : '') }}</i>
              </span>
            </div>
            <div v-if="props.character && getDice(message).some(x => x.type !== undefined && x.type < 9000)" class="flex gap-1 pt-1">
              <button class="py-1 px-2 text-xs bg-zinc-700 hover:bg-zinc-500 font-semibold w-full" @click="() => $bus.trigger('guardianHealthActivateTab', getDice(message))">
                DAMAGE GUARDIAN
              </button>
              <button class="py-1 px-2 text-xs bg-zinc-700 hover:bg-zinc-500 font-semibold w-full" @click="() => $bus.trigger('ghostHealthActivateTab', getDice(message))">
                DAMAGE GHOST
              </button>
            </div>
            <div v-if="props.character && getDice(message).some(x => x.type !== undefined && x.type > 9000)" class="flex gap-1 pt-1">
              <button class="py-1 px-2 text-xs bg-zinc-700 hover:bg-zinc-500 font-semibold w-full" @click="() => $bus.trigger('guardianHealthActivateTab', getDice(message))">
                HEAL GUARDIAN
              </button>
              <button v-if="getDice(message).some(x => x.type === DamageType.Healing || x.type === DamageType.HealthHealing)" class="py-1 px-2 text-xs bg-zinc-700 hover:bg-zinc-500 font-semibold w-full" @click="() => $bus.trigger('ghostHealthActivateTab', getDice(message))">
                HEAL GHOST
              </button>
            </div>
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
        <template v-else-if="message.type === 'itemDesc'">
          <div class="p-1 leading-4 text-sm relative bg-zinc-600 rounded-md">
            <small class="text-sm block font-semibold" v-if="message.authorName && message.recipientName">{{ message.authorName }} &rarr; {{ message.recipientName }}</small>
            <small class="text-sm block font-semibold" v-if="message.authorName && !message.recipientName">{{ message.authorName }}</small>
            <abbr :key="now.getTime()" class="text-xs pb-1 block" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <GuardianItem v-if="getMessageCharacter(message)" :character="getMessageCharacter(message)!" :saving-character="getUserCharacter(user)" :item="getMessageItem(message)!" :index="-1" in-message :is-own-message="message.author === user.uid" @update-all="() => updateCharacter(message)" />
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
        <template v-else-if="message.type === 'abilityDesc'">
          <div class="p-1 leading-4 text-sm relative bg-zinc-600 rounded-md">
            <small class="text-sm block font-semibold" v-if="message.authorName && message.recipientName">{{ message.authorName }} &rarr; {{ message.recipientName }}</small>
            <small class="text-sm block font-semibold" v-if="message.authorName && !message.recipientName">{{ message.authorName }}</small>
            <abbr :key="now.getTime()" class="text-xs pb-1 block" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <GuardianLightAbility v-if="getMessageCharacter(message)" :character="getMessageCharacter(message)!" :saving-character="getUserCharacter(user)" :ability="getMessageAbility(message)!" in-message :is-own-message="message.author === user.uid" />
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
        <template v-else-if="message.type === 'featureDesc'">
          <div class="p-1 leading-4 text-sm relative bg-zinc-600 rounded-md">
            <small class="text-sm block font-semibold" v-if="message.authorName && message.recipientName">{{ message.authorName }} &rarr; {{ message.recipientName }}</small>
            <small class="text-sm block font-semibold" v-if="message.authorName && !message.recipientName">{{ message.authorName }}</small>
            <abbr :key="now.getTime()" class="text-xs pb-1 block" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <GuardianFeature v-if="getMessageCharacter(message)" :character="getMessageCharacter(message)!" :saving-character="getUserCharacter(user)" :feature="getMessageFeature(message)!" in-message :is-own-message="message.author === user.uid" />
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
        <template v-else-if="message.type === 'message'">
          <div class="p-1 leading-4 text-sm relative bg-zinc-600 rounded-md">
            <small class="text-sm block font-semibold" v-if="message.authorName && message.recipientName">{{ message.authorName }} &rarr; {{ message.recipientName }}</small>
            <small class="text-sm block font-semibold" v-if="message.authorName && !message.recipientName">{{ message.authorName }}</small>
            <abbr :key="now.getTime()" class="text-xs pb-1 block border-b border-zinc-700" v-if="message.authorName" :title="format((message.date as Timestamp).toDate(), 'PPPPpppp', { locale: enCA })">{{ formatDistanceToNow((message.date as Timestamp).toDate(), { locale: enCA, addSuffix: true }) }}</abbr>
            <p class="break-words py-1 whitespace-pre-wrap" v-if="message.content">{{ message.content }}</p>
            <button v-if="message.author === user.uid" class="w-4 h-4 text-xl leading-4 absolute top-1 right-1 cursor-pointer hover:text-red-500" @click="() => unsendMessage(message)">&times;</button>
          </div>
        </template>
      </template>
    </div>
    <div class="flex flex-wrap" :class="{ 'hidden xl:flex': collapsed }">
      <div class="grid w-full grid-cols-12">
        <span class="grid place-items-center text-xs">To</span>
        <VueSelect :options="users" v-model="recipient" append-to-body :calculate-position="positionDropdown" :clearable="false" :searchable="false">
          <template v-slot:option="option: { key: string, label: string, html: string }">
            <span v-html="option.html"></span>
          </template>
        </VueSelect>
        <!-- <select v-model="recipient" class="w-full h-8 bg-zinc-200 text-zinc-800 col-span-11">
          <option v-for="user in users" :key="user.key" :value="user" v-html="user.label"></option>
        </select> -->
        <span class="grid place-items-center text-xs">As</span>
        <VueSelect :options="senders"  v-model="sender" append-to-body :calculate-position="positionDropdown" :clearable="false" :searchable="false"></VueSelect>
        <!-- <select v-model="sender" class="w-full h-8 bg-zinc-200 text-zinc-800 col-span-11">
          <option v-for="option in senders" :key="option.key" :value="option.key">{{ option.label }}</option>
        </select> -->
      </div>
      <textarea @keypress="sendMessage" v-model="message" class="text-zinc-800 flex-grow resize-none" />
      <button @click="sendMessage" class="w-10 text-xs flex-grow-0 flex-shrink bg-zinc-700 font-semibold" :class="{ 'hover:bg-zinc-600': message, 'cursor-default text-zinc-400': !message }">SEND</button>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="chat-session" class="max-w-[35rem]" ref="sessionInfo">
      <SessionSection in-dialog @close="sessionInfo?.hide" />
    </DialogWindow>
  </Teleport>
</template>
