<script setup lang="ts">
import { onMounted, ref } from 'vue'

const props = defineProps<{ alwaysOpen?: boolean }>()

const collapsible = ref<HTMLInputElement | null>(null)
const loaded = ref(false)
const animating = ref(true)

onMounted(() => {
  collapsible.value?.style.setProperty('--max-height', collapsible.value?.clientHeight + 'px')
  loaded.value = true
  setTimeout(() => {
    animating.value = false
  }, 0)
})

const open = ref(props.alwaysOpen ? true : false)

function toggle() {
  if (!props.alwaysOpen) {
    open.value = !open.value
  }
}
</script>

<template>
  <div>
    <slot name="opener" v-bind="{ toggle, open }">
      <button @click="toggle">Open/Close</button>
    </slot>
    <slot name="before" />
    <div
      ref="collapsible"
      style="transition-property: max-height; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); overflow-y: hidden"
      :style="{ 'transition-duration': loaded && !animating ? '300ms' : 0, 'max-height': !loaded || open ? 'var(--max-height)' : '0' }"
    >
      <slot v-bind="{ open }" />
    </div>
  </div>
</template>
