<script setup lang="ts">
withDefaults(defineProps<{
  color?: 'default' | 'warning' | 'danger' | 'success',
  block?: boolean,
  type?: 'button' | 'link' | 'route',
  to?: string
}>(), {
  color: 'default',
  block: false,
  type: 'button',
  to: ''
})
</script>

<template>
  <a
    v-if="type === 'link'"
    :href="to"
    class="py-2 px-4 text-sm bg-zinc-700 font-semibold"
    :class="{
      'hover:bg-zinc-600': color === 'default',
      'hover:bg-yellow-600': color === 'warning',
      'hover:bg-green-600': color === 'success',
      'hover:bg-red-600': color === 'danger',
      'w-full': block
    }"
  >
    <slot />
  </a>
  <RouterLink
    v-else-if="type === 'route'"
    :to="to"
    class="py-2 px-4 text-sm bg-zinc-700 font-semibold"
    :class="{
      'hover:bg-zinc-600': color === 'default',
      'hover:bg-yellow-600': color === 'warning',
      'hover:bg-green-600': color === 'success',
      'hover:bg-red-600': color === 'danger',
      'w-full': block
    }"
  >
    <slot />
  </RouterLink>
  <button
    v-else
    class="py-2 px-4 text-sm bg-zinc-700 font-semibold"
    :class="{
      'hover:bg-zinc-600': color === 'default',
      'hover:bg-yellow-600': color === 'warning',
      'hover:bg-green-600': color === 'success',
      'hover:bg-red-600': color === 'danger',
      'w-full': block
    }"
  >
    <slot />
  </button>
</template>
