<script setup lang="ts">
import { ref } from 'vue'

const dialog = ref<HTMLDialogElement>()
const visible = ref(false)

function show() {
  visible.value = true
  dialog.value?.showModal()
}

function hide(manual = false, returnValue?: string) {
  if (manual) dialog.value?.close(returnValue)
  visible.value = false
}

function closeDialogIfOutside(event: Event) {
  if (event.target === dialog.value) {
    hide(true)
  }
}

defineExpose({
  show,
  hide: (returnValue?: string) => hide(true, returnValue),
  visible
})
</script>

<template>
  <dialog ref="dialog" class="p-0 bg-zinc-800/75 w-full text-white shadow-black/50 shadow-lg backdrop:bg-black/50 backdrop:backdrop-blur-sm" @close="hide" @click="closeDialogIfOutside">
    <div class="p-3" v-if="visible">
      <slot />
    </div>
  </dialog>
</template>
