<script setup lang="ts">
import { computed, ref, watch } from 'vue'

const props = withDefaults(defineProps<{
  tabs: Record<string, string>,
  containerClass?: string,
  activeTabClass?: string,
  inactiveTabClass?: string,
  activeTab?: number
}>(), {
  containerClass: '',
  activeTabClass: '',
  inactiveTabClass: ''
})
const emit = defineEmits<{
  update: [value: number]
}>()

const keys = computed(() => Object.keys(props.tabs))
const active = ref<string>(keys.value?.[0] ?? '')
const allActiveTabClass = computed(() => `text-zinc-300 ${props.activeTabClass}`)
const allInactiveTabClass = computed(() => `bg-zinc-950/50 text-zinc-400 hover:bg-zinc-600/50 ${props.inactiveTabClass}`)

function toggle(key: string) {
  active.value = key
  emit('update', keys.value.indexOf(key))
}

watch(() => props.activeTab, value => {
  if (value !== undefined) {
    active.value = keys.value?.[value]
  }
})
</script>

<template>
  <div class="flex -mx-3 -mt-3 mb-3 h-8 text-sm" :class="containerClass">
    <button
      v-for="key in keys"
      class="p-1 text-center w-full font-semibold"
      :class="{ [allActiveTabClass]: active === key, [allInactiveTabClass]: active !== key }"
      @click="() => toggle(key)"
    >
      {{ tabs[key] }}
    </button>
  </div>
  <template v-for="key in keys">
    <slot v-if="active === key" :name="key" />
  </template>
</template>
