<script setup lang="ts">
import { useRouter } from 'vue-router'
import { Session } from '@/models/destiny'
import { doc, updateDoc } from 'firebase/firestore'
import { sessionsRef } from '@/firebase'
import { onMounted, ref } from 'vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import Radio from './forms/Radio.vue'

const router = useRouter()

const props = withDefaults(defineProps<{
  id?: string,
  session?: Session,
  playerName?: string,
  disabled: boolean
}>(), {
  playerName: ''
})

const editSession = ref<InstanceType<typeof DialogWindow>>()
const remove = ref<InstanceType<typeof DialogWindow>>()
  
const filteredMembers = ref<{ player: string, playerName: string, character: string }[]>([])
const sessionName = ref<string>('')
const sessionPrivacy = ref<'private'|'public'|'deleted'>('deleted')

function join() {
  if (props.session?.id) {
    router.push({ name: 'Join', params: { id: props.session!.id } })
  }
}

function doUpdate() {
  if (props.session?.id) {
    sessionStorage.removeItem('light-session')
    updateDoc(doc(sessionsRef, props.session!.id), {
      name: sessionName.value,
      members: filteredMembers.value,
      privacy: sessionPrivacy.value
    })
  }
}

function doRemove() {
  if (props.session?.id) {
    updateDoc(doc(sessionsRef, props.session!.id), {
      privacy: 'deleted'
    })
  }
}

onMounted(() => {
  if (props.session) {
    sessionName.value = props.session.name
    sessionPrivacy.value = props.session.privacy
    filteredMembers.value = props.session.members
  }
})
</script>

<template>
  <div v-if="session" class="w-80 h-20 flex cursor-pointer relative" :class="{ 'bg-zinc-800 pointer-events-none cursor-default': disabled, 'bg-zinc-700': !disabled }">
    <div class="flex flex-grow flex-col p-2 hover:after:bg-white/25 after:content-['_'] after:absolute after:inset-0" @click="editSession?.show">
      <h2 class="text-xl font-semibold">{{ session.name }}</h2>
      <p class="leading-4 text-sm">{{ session.members.length }} character{{ session.members.length > 1 ? 's' : '' }} &mdash; {{ session.privacy === 'public' ? 'Public' : 'Private' }}</p>
      <small class="text-zinc-400 italic" v-if="playerName">{{ playerName }}</small>
    </div>
    <button v-if="!disabled" class="w-8 h-8 text-xl leading-4 absolute top-0 right-0 p-2 cursor-pointer hover:bg-red-600 hover:text-zinc-900" @click="remove?.show">&times;</button>
  </div>
  <Teleport to="body">
    <DialogWindow key="edit-session" class="max-w-[30rem]" ref="editSession">
      <div class="grid grid-cols-3 items-center">
        <small class="text-right pr-2 text-zinc-400 text-xs">SESSION NAME</small>
        <input class="col-span-2 mt-1 mb-2 px-2 bg-zinc-800 cursor-pointer h-8 border-zinc-500 border-2" v-model="sessionName" />
      </div>
      <div class="grid grid-cols-3 items-center">
        <small class="text-right pr-2 text-zinc-400 text-xs">PRIVACY</small>
        <ul class="flex gap-6 w-full col-span-2">
          <li class="flex items-center gap-x-3">
            <Radio light value="private" name="sessionPrivacy" v-model="sessionPrivacy">
              <img v-if="sessionPrivacy === 'private'" alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
            </Radio>Private
          </li>
          <li class="flex items-center gap-x-3">
            <Radio light value="public" name="sessionPrivacy" v-model="sessionPrivacy">
              <img v-if="sessionPrivacy === 'public'" alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
            </Radio>Public
          </li>
        </ul>
      </div>
      <ul class="mt-2 flex flex-col gap-1">
        <li class="border-2 border-zinc-600 px-2 py-1 flex justify-between relative" v-for="(_, index) in filteredMembers">
          <p>{{ filteredMembers[index].playerName }}</p>
          <button class="w-8 h-8 text-xl leading-4 absolute top-0 right-0 p-2 cursor-pointer hover:bg-red-600 hover:text-zinc-900" @click="() => filteredMembers.splice(index, 1)">&times;</button>
        </li>
      </ul>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="join" color="success">JOIN</DialogButton>
        <DialogButton @click="doUpdate" color="success">SAVE SESSION</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow :key="`delete-session-${session?.id}`" v-if="!disabled" class="max-w-[30rem]" ref="remove">
      <p>Are you sure you want to delete {{ session?.name ?? 'this session' }}?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="doRemove" color="danger">DELETE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
