<script setup lang="ts">
import { useRouter } from 'vue-router'
import { Guardian } from '@/models/destiny'
import { doc, updateDoc } from 'firebase/firestore'
import { charactersRef } from '@/firebase'
import { ref as storageRef } from 'firebase/storage'
import { useFirebaseStorage, useStorageFileUrl } from 'vuefire'
import { getSubclass } from '@/models/destinySubclasses'
import { getRace } from '@/models/destinyRaces'
import { computed, ref } from 'vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const storage = useFirebaseStorage()

const router = useRouter()

const props = withDefaults(defineProps<{
  id?: string,
  character?: Guardian,
  playerName?: string
}>(), {
  playerName: ''
})

const avatarRef = computed(() => props.character ? storageRef(storage, `${props.character?.id}/avatar`) : null)
const avatar = useStorageFileUrl(avatarRef)
const race = props.character?.race && getRace(props.character.race!)?.name
const subclass = props.character?.subclass && getSubclass(props.character.subclass!)?.name.split(' ')[1]
const remove = ref<InstanceType<typeof DialogWindow>>()

function open() {
  if (props.character?.id) {
    router.push({ name: 'Guardian', params: { id: props.character!.id } })
  }
}

function doRemove() {
  if (props.character?.id) {
    updateDoc(doc(charactersRef, props.character!.id), {
      privacy: 'deleted'
    })
  }
}
</script>

<template>
  <div v-if="character" class="w-80 h-20 bg-zinc-700 flex cursor-pointer relative">
    <img v-if="avatar.url?.value" :src="avatar.url.value" class="w-20 h-20 bg-zinc-600 object-cover" @click="open" />
    <div v-else class="w-20 h-20 bg-zinc-600" @click="open" />
    <div class="flex flex-grow flex-col p-2 hover:after:bg-white/25 after:content-['_'] after:absolute after:inset-0" @click="open">
      <h2 class="text-xl font-semibold">{{ character.name }}</h2>
      <p class="leading-4 text-sm">{{ race }} {{ subclass || 'Risen' }} Lv.{{ character?.level }}</p>
      <small class="text-zinc-400 italic" v-if="playerName">{{ playerName }}</small>
    </div>
    <button class="w-8 h-8 text-xl leading-4 absolute top-0 right-0 p-2 cursor-pointer hover:bg-red-600 hover:text-zinc-900" @click="remove?.show">&times;</button>
  </div>
  <Teleport to="body">
    <DialogWindow :key="`delete-guardian-${character?.id}`" class="max-w-[30rem]" ref="remove">
      <p>Are you sure you want to delete {{ character?.name ?? 'this character' }}?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="doRemove" color="danger">DELETE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
