<script setup lang="ts">
import { Guardian, Item } from '@/models/destiny'
import { allItems as allCommonItems } from '@/models/destinyItems'
import { allItems as allExoticWeapons } from '@/models/destinyExoticWeapons'
import ListingHeader from '@/components/ListingHeader.vue'
import GuardianItem from '@/components/guardian/GuardianItem.vue'

defineProps<{ character: Guardian }>()
const emit = defineEmits(['copyItem'])

const allItems = [...allCommonItems, ...allExoticWeapons]

function copy(item: Item) {
  emit('copyItem', item)
}
</script>

<template>
  <ListingHeader :headers="{
    'ALL ITEMS': 'w-full'
  }" />
  <div class="flex flex-col gap-1 w-full mt-2 mb-3">
    <template v-for="(item, index) in allItems">
      <GuardianItem v-if="item" :key="index" :index="index" :character="character" :item="item" copy-only @copy="copy" />
    </template>
  </div>
</template>
