<script setup lang="ts">
defineProps<{ headers: Record<string, string> }>()
</script>

<template>
  <div class="flex w-full items-center gap-2">
    <div class="flex items-center gap-2" :class="_class" v-for="(_class, header) of headers">
      <h3 class="uppercase text-xs text-zinc-400 empty:hidden">{{ header }}</h3>
      <hr class="border-t-2 border-zinc-400 flex-grow" />
    </div>
    <slot />
  </div>
</template>
