<script setup lang="ts">
import { GoogleAuthProvider, signInWithPopup } from 'firebase/auth'
import { computed, ref, watch } from 'vue'
import { useFirebaseAuth, useCurrentUser, useDocument } from 'vuefire'
import { usersRef } from '@/firebase'
import { doc, getDoc, setDoc, updateDoc } from 'firebase/firestore'
import DialogWindow from './DialogWindow.vue'
import DialogButton from './DialogButton.vue'
import { UserData } from '@/models/destiny'
import { tracker } from '../tracker'

const auth = useFirebaseAuth()
const provider = new GoogleAuthProvider()

let user = useCurrentUser()

const userDataRef = computed(() => user.value ? doc(usersRef, user.value?.uid) : null)
const userData = useDocument<UserData>(userDataRef)
const displayName = computed(() => userData.value?.displayName || user.value?.displayName)
const parameters = ref<InstanceType<typeof DialogWindow>>()
const newDisplayName = ref(displayName.value)
const emulatedUserId = computed({
  get () {
    return window.__EMULATED_USER_ID__
  },
  set (value) {
    if (value) localStorage.setItem('emulatedUserId', value)
    else localStorage.removeItem('emulatedUserId')
    window.__EMULATED_USER_ID__ = value
  }
})

async function signIn () {
  await signInWithPopup(auth!, provider)
  location.reload()
}

async function signOut () {
  await auth!.signOut()
  location.reload()
}

async function saveParameters () {
  await updateDoc(userDataRef.value!, {
    displayName: newDisplayName.value
  })
}

watch(user, async () => {
  if (user.value) {
    const exists = (await getDoc(userDataRef.value!)).exists()

    if (!exists) {
      await setDoc(userDataRef.value!, {
        displayName: displayName.value
      })
    }

    tracker?.setUserID(user.value.email!)

    newDisplayName.value = displayName.value
  }
})
</script>

<template>
  <div v-if="auth" class="flex items-center font-semibold text-zinc-400">
    <button v-if="user" class="p-3 text-zinc-200 hover:text-zinc-950 hover:bg-zinc-200" @click="parameters?.show">Hello {{ displayName }}</button>
    <button v-else-if="auth" class="p-3 text-zinc-200 hover:text-zinc-950 hover:bg-zinc-200" @click="signIn">Login</button>
    <button v-if="user" class="p-3 text-zinc-200 hover:text-zinc-950 hover:bg-zinc-200" @click="signOut">Logout</button>
  </div>
  <Teleport to="body">
    <DialogWindow key="user-parameters" class="max-w-[30rem]" ref="parameters" v-if="userData">
      <div class="grid grid-cols-3 items-baseline">
        <small class="text-right pr-2 text-zinc-400 text-xs">DISPLAY NAME</small>
        <input class="col-span-2 mt-1 mb-2 px-2 bg-zinc-800 cursor-pointer h-8 border-zinc-500 border-2" v-model="newDisplayName" />
      </div>
      <div v-if="userData.isAdmin" class="grid grid-cols-3 items-baseline">
        <small class="text-right pr-2 text-zinc-400 text-xs">EMULATED USER ID</small>
        <input class="col-span-2 mt-1 mb-2 px-2 bg-zinc-800 cursor-pointer h-8 border-zinc-500 border-2" v-model="emulatedUserId" />
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton color="success" @click="saveParameters">SAVE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
