<script setup lang="ts">
import { computed, inject, ComputedRef } from 'vue'
import { Guardian, DamageType, LightAbility } from '@/models/destiny'
import { rollDice } from '@/utils/diceRoll'
import DialogButton from '@/components/DialogButton.vue'

const sendDice = inject('ChatSendDice', undefined) as ComputedRef<(context: string|null, data: { formula: string, value: number, type?: DamageType }[], sender?: string) => Promise<void> | null>|undefined
const showToast = inject('ShowToast', undefined) as (({ content, isSuccess }: { content: string, isSuccess: boolean }) => void)|undefined

const props = defineProps<{ character?: Guardian, item: LightAbility }>()
const emit = defineEmits(['roll'])

const rechargeDice = computed(() => props.item.recharge ? `1${props.item.recharge.split(/,\s?/)[0]}` : null)
const rechargeResult = computed(() => props.item.recharge ? props.item.recharge.split(/,\s?/)[1] as never as number : null)

async function roll() {
  if (!props.character || !rechargeDice.value) return

  const result = await rollDice([{ formula: rechargeDice.value! }])
  let name = `Recharging ${props.item.name} (needed: ${rechargeResult.value})`

  if (result[0].value >= (rechargeResult.value ?? 0)) {
    props.character.charges[props.item.resource]++
    name += ' - SUCCESS'
  } else {
    name += ' - FAILURE'
  }

  if (sendDice?.value) await sendDice.value(name, result, 'character')
  else showToast?.({ content: name, isSuccess: result[0].value >= (rechargeResult.value ?? 0) })

  emit('roll')
}
</script>

<template>
  <div class="flex flex-col">
    <div class="flex gap-1">
      <DialogButton block @click="roll">ROLL FORMULA ({{ rechargeDice }})</DialogButton>
    </div>
  </div>
</template>
