<script setup lang="ts">
import { inject, ref, watch } from 'vue'
import { useCurrentUser } from 'vuefire'
import useClipboard from 'vue-clipboard3'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import { useSession } from '@/composables/session'
import { doc, updateDoc } from 'firebase/firestore'
import { sessionsRef } from '@/firebase'
import Radio from './forms/Radio.vue'

const { toClipboard } = useClipboard()
const showToast = inject('ShowToast', undefined) as (({ content, isSuccess }: { content: string, isSuccess: boolean }) => void)|undefined

const props = withDefaults(defineProps<{
  inDialog?: boolean
}>(), {
  inDialog: false
})
const emit = defineEmits(['close'])
const user = useCurrentUser()
const { currentSession, sessionLink, currentPlayer, isCurrentAuthor, end, quit } = useSession()

const editSession = ref<InstanceType<typeof DialogWindow>>()
const quitSession = ref<InstanceType<typeof DialogWindow>>()
const endSession = ref<InstanceType<typeof DialogWindow>>()

const filteredMembers = ref<{ player: string, playerName: string, character: string }[]>([])
const sessionName = ref<string>('')
const sessionPrivacy = ref<'private'|'public'|'deleted'>('deleted')

async function updateSession() {
  if (currentSession.value) {
    await updateDoc(doc(sessionsRef, currentSession.value.id), {
      name: sessionName.value,
      members: filteredMembers.value,
      privacy: sessionPrivacy.value
    })
  }
}

async function doQuitSession() {
  await quit()

  if (props.inDialog) {
    emit('close')
  }
}

async function doEndSession() {
  if (isCurrentAuthor) {
    await end()

    if (props.inDialog) {
      emit('close')
    }
  }
}

async function copy() {
  await toClipboard(sessionLink.value!)
  showToast?.({ content: `Copied "${sessionLink.value}" to the clipboard.`, isSuccess: true })

  if (props.inDialog) {
    emit('close')
  }
}

watch(currentSession, value => {
  if (value) {
    sessionName.value = value.name
    sessionPrivacy.value = value.privacy
    filteredMembers.value = value.members
  }
})
</script>

<template>
  <div v-if="currentSession && user">
    <div v-if="isCurrentAuthor" class="flex gap-4 w-full justify-center flex-wrap" :class="{ 'bg-zinc-800': !inDialog }">
      <div class="text-center w-full" :class="{ 'p-3': !inDialog }">
        <h3 class="text-lg">You are currently hosting session <em>{{ currentSession.name }}</em>.</h3>
        <p>There are currently {{ currentSession.members.length }} players.</p>
        <p>You may invite players using this link:</p>
        <code class="cursor-copy inline-block -ml-3 pl-3 pr-3 text-ellipsis overflow-hidden max-w-[100vw] hover:underline" @click="copy">{{ sessionLink }}</code>
        <form method="dialog" class="flex gap-2 mt-2 w-full flex-wrap" :class="{ 'justify-end': inDialog, 'justify-center': !inDialog }">
          <DialogButton v-if="!inDialog" type="route" to="/architect">ARCHITECT VIEW</DialogButton>
          <DialogButton v-if="editSession" @click.prevent="editSession.show" color="success">EDIT</DialogButton>
          <DialogButton v-if="quitSession" @click.prevent="quitSession.show" color="danger">QUIT</DialogButton>
          <DialogButton v-if="endSession" @click.prevent="endSession.show" color="danger">END</DialogButton>
          <DialogButton v-if="inDialog">CLOSE</DialogButton>
        </form>
      </div>
    </div>
    <div v-else-if="!isCurrentAuthor && !currentPlayer" class="flex gap-4 p-4 w-full justify-center flex-wrap" :class="{ 'bg-zinc-800': !inDialog }">
      <div class="text-center w-full" :class="{ 'p-3': !inDialog }">
        <h3 class="text-lg">You are currently joining session <em>{{ currentSession.name }}</em>.</h3>
        <p class="pb-1">The session's Architect is {{ currentSession.authorName }}</p>
        <p>Please select your character.</p>
        <form method="dialog" class="flex gap-2 mt-2 w-full flex-wrap" :class="{ 'justify-end': inDialog, 'justify-center': !inDialog }">
          <DialogButton v-if="quitSession" @click.prevent="quitSession.show" color="danger">QUIT SESSION</DialogButton>
          <DialogButton v-if="inDialog">CLOSE</DialogButton>
        </form>
      </div>
    </div>
    <div v-else class="flex gap-4 p-4 w-full justify-center flex-wrap" :class="{ 'bg-zinc-800': !inDialog }">
      <div class="text-center w-full" :class="{ 'p-3': !inDialog }">
        <h3 class="text-lg">You are currently in session <em>{{ currentSession.name }}</em>.</h3>
        <p class="pb-1">The session's Architect is {{ currentSession.authorName }}</p>
        <form method="dialog" class="flex gap-2 mt-2 w-full flex-wrap" :class="{ 'justify-end': inDialog, 'justify-center': !inDialog }">
          <DialogButton v-if="quitSession" @click.prevent="quitSession.show" color="danger">QUIT SESSION</DialogButton>
          <DialogButton v-if="inDialog">CLOSE</DialogButton>
        </form>
      </div>
    </div>
    <Teleport to="body">
      <DialogWindow key="edit-session" class="max-w-[30rem]" ref="editSession">
        <div class="grid grid-cols-3 items-center">
          <small class="text-right pr-2 text-zinc-400 text-xs">SESSION NAME</small>
          <input class="col-span-2 mt-1 mb-2 px-2 bg-zinc-800 cursor-pointer h-8 border-zinc-500 border-2" v-model="sessionName" />
        </div>
        <div class="grid grid-cols-3 items-center">
          <small class="text-right pr-2 text-zinc-400 text-xs">PRIVACY</small>
          <ul class="flex gap-6 w-full col-span-2">
            <li class="flex items-center gap-x-3">
              <Radio light value="private" name="sessionPrivacy" v-model="sessionPrivacy">
                <img v-if="sessionPrivacy === 'private'" alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>Private
            </li>
            <li class="flex items-center gap-x-3">
              <Radio light value="public" name="sessionPrivacy" v-model="sessionPrivacy">
                <img v-if="sessionPrivacy === 'public'" alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>Public
            </li>
          </ul>
        </div>
        <ul class="mt-2 flex flex-col gap-1">
          <li class="border-2 border-zinc-600 px-2 py-1 flex justify-between relative" v-for="(_, index) in filteredMembers">
            <p>{{ filteredMembers[index].playerName }}</p>
            <button class="w-8 h-8 text-xl leading-4 absolute top-0 right-0 p-2 cursor-pointer hover:bg-red-600 hover:text-zinc-900" @click="() => filteredMembers.splice(index, 1)">&times;</button>
          </li>
        </ul>
        <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
          <DialogButton @click="updateSession" color="success">SAVE SESSION</DialogButton>
          <DialogButton>CLOSE</DialogButton>
        </form>
      </DialogWindow>
      <DialogWindow key="quit-session" class="max-w-[30rem]" ref="quitSession">
        <p>Are you sure you want to quit this session?</p>
        <p>You may join back again by following the invitation link.</p>
        <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
          <DialogButton @click="doQuitSession" color="danger">QUIT SESSION</DialogButton>
          <DialogButton>CLOSE</DialogButton>
        </form>
      </DialogWindow>
      <DialogWindow key="end-session" v-if="isCurrentAuthor" class="max-w-[30rem]" ref="endSession">
        <p>Are you sure you want to end this session?</p>
        <p>All current players will disconnect from it.</p>
        <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
          <DialogButton @click="doEndSession" color="danger">END SESSION</DialogButton>
          <DialogButton>CLOSE</DialogButton>
        </form>
      </DialogWindow>
    </Teleport>
  </div>
</template>
