<script setup lang="ts">
import { Subclass } from '@/models/destiny'

defineProps<{ subclass: Subclass }>()
</script>

<template>
  <pre class="whitespace-pre-wrap">
    {{ JSON.stringify(subclass, null, 4) }}
  </pre>
</template>
