<script setup lang="ts">
import { RouterLink, useRoute } from 'vue-router'
import Login from '@/components/Login.vue'
import { onMounted, provide, ref } from 'vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const toasts = ref<{ content: string, isSuccess: boolean, timeout: NodeJS.Timeout, lifespan: number }[]>([])
const credits = ref<InstanceType<typeof DialogWindow>>()

function removeToast(index: number) {
  toasts.value.splice(index, 1)
}

function removeTimeout(index: number) {
  if (toasts.value[index]) {
    clearTimeout(toasts.value[index].timeout)
  }
}

provide('ShowToast', ({ content, isSuccess }: { content: string, isSuccess: boolean }) => {
  const item = {
    content,
    isSuccess,
    timeout: setInterval(() => {
      item.lifespan -= 1
    }, 100),
    lifespan: 50
  }
  toasts.value.push(item)
})

onMounted(() => {
  setInterval(() => {
    for (let i in toasts.value) {
      if (toasts.value[i].lifespan <= 0) {
        removeToast(+i)
      }
    }
  }, 100)
})

const route = useRoute()
</script>

<template>
  <div class="min-h-full bg-zinc-900 text-zinc-300">
    <div class="h-full">
      <header class="bg-zinc-950/50 h-12 sticky z-10 shadow-black/25 shadow-lg top-0 flex items-center justify-between backdrop-blur-lg">
        <RouterLink to="/">
          <h1 class="text-xl font-semibold flex items-center mx-2 text-zinc-200">
            <img src="@/assets/logo.svg" class="h-12 mr-1 ml-2 invert md:h-6 md:ml-0" />
            <span class="hidden md:inline">Light Companion</span>
          </h1>
        </RouterLink>
        <Login />
      </header>
      <RouterView :key="route.name ?? ''" />
    </div>
    <footer class="bg-zinc-950/50 text-zinc-200 z-10 w-full fixed bottom-0 flex items-center justify-end p-2 flex-col md:flex-row md:gap-2 font-semibold backdrop-blur-lg">
      <button @click="credits?.show" class="block md:inline hover:text-zinc-950 hover:bg-zinc-200 p-2 -m-2">Light Companion &copy; {{ (new Date()).getFullYear() }}</button>
      <span class="hidden md:inline -mx-[0.125rem]"> | </span>
      <div class="flex gap-2">
        <a href="https://www.bungie.net" target="_blank" class="hover:text-zinc-950 hover:bg-zinc-200 p-2 -m-2">Destiny &copy; Bungie</a>
        <span class="-mx-[0.125rem]"> | </span>
        <a href="https://velvetfanggames.com" target="_blank" class="hover:text-zinc-950 hover:bg-zinc-200 p-2 -m-2">D&Destiny &copy; Velvet Fang</a>
      </div>
    </footer>
  </div>
  <Teleport to="body">
    <DialogWindow key="credits" class="max-w-[70rem]" ref="credits">
      <h3 class="text-2xl font-semibold pb-2">Credits</h3>
      <p class="pb-2">Destiny, Destiny 2, and all its content and icons are property of <a href="https://bungie.net" target="_blank" class="font-semibold hover:text-zinc-950 hover:bg-zinc-200 p-1 -m-1">Bungie</a>.</p>
      <p class="pb-2">Dungeons & Destiny, or D&Destiny, is a product of <a href="https://velvetfanggames.com" target="_blank" class="font-semibold hover:text-zinc-950 hover:bg-zinc-200 p-1 -m-1">Velvet Fang</a>.</p>
      <p class="pb-2">Dungeons & Dragons, D&D, and the dragon head logo are trademarks of <a href="https://company.wizards.com/en" target="_blank" class="font-semibold hover:text-zinc-950 hover:bg-zinc-200 p-1 -m-1">Wizards of the Coast</a>.</p>
      <p class="pb-2">Light Companion is the product of months of hard work from François Allard (lead developer), Nicolas Blier (data entry and developer), Ian Thibault (data entry), and all the previously mentioned entities.</p>
      <h3 class="text-xl font-semibold pb-2">Legal Information</h3>
      <p class="pb-2">The contents of the D&Destiny Player's Guidebook, Architect's Guide and Bestiary of the Wilds define their own Product Identity sections in their PDFs, available through <a href="https://velvetfanggames.com" target="_blank" class="font-semibold hover:text-zinc-950 hover:bg-zinc-200 p-1 -m-1">their website</a>.</p>
      <p class="pb-2">Except for material designated as Product Identity (see above), all of the the content of Light Companion (this website) is Open Game Content as described in Section 1(d) of the License.</p>
      <p class="pb-2">Light Companion is published under the Open Game License version 1.0a Copyright 2000 Wizards of the Coast, Inc.</p>
      <h3 class="text-xl font-semibold pb-2">OPEN GAME LICENSE Version 1.0a</h3>
      <p class="pb-2">The following text is the property of Wizards of the  Coast, Inc. and is Copyright 2000 Wizards of the  Coast, Inc ("Wizards"). All Rights Reserved.</p>
      <p class="pb-2">1. Definitions: (a)"Contributors" means the copyright and/or trademark owners who have contributed Open Game Content; (b)"Derivative Material" means copyrighted material including derivative works and translations (including into other computer languages), potation, modification, correction, addition, extension, upgrade, improvement, compilation, abridgment or other form in which an existing work may be recast, transformed or adapted; (c) "Distribute" means to reproduce, license, rent, lease, sell, broadcast, publicly display, transmit or otherwise distribute; (d)"Open Game Content" means the game mechanic and includes the methods, procedures, processes and routines to the extent such content does not embody the Product Identity and is an enhancement over the prior art and any additional content clearly identified as Open Game Content by the Contributor, and means any work covered by this License, including translations and derivative works under copyright law, but specifically excludes Product Identity. (e) "Product Identity" means product and product line names, logos and identifying marks including trade dress; artifacts; creatures characters; stories, storylines, plots, thematic elements, dialogue, incidents, language, artwork, symbols, designs, depictions, likenesses, formats, poses, concepts, themes and graphic, photographic and other visual or audio representations; names and descriptions of characters, spells, enchantments, personalities, teams, personas, likenesses and special abilities; places, locations, environments, creatures, equipment, magical or supernatural abilities or effects, logos, symbols, or graphic designs; and any other trademark or registered trademark clearly identified as Product identity by the owner of the Product Identity, and which specifically excludes the Open Game Content; (f) "Trademark" means the logos, names, mark, sign, motto, designs that are used by a Contributor to identify itself or its products or the associated products contributed to the Open Game License by the Contributor (g) "Use", "Used" or "Using" means to use, Distribute, copy, edit, format, modify, translate and otherwise create Derivative Material of Open Game Content. (h) "You" or "Your" means the licensee in terms of this agreement.</p>
      <p class="pb-2">2. The License: This License applies to any Open Game Content that contains a notice indicating that the Open Game Content may only be Used under and in terms of this License. You must affix such a notice to any Open Game Content that you Use. No terms may be added to or subtracted from this License except as described by the License itself. No other terms or conditions may be applied to any Open Game Content distributed using this License.</p>
      <p class="pb-2">3.Offer and Acceptance: By Using the Open Game Content You indicate Your acceptance of the terms of this License.</p>
      <p class="pb-2">4. Grant and Consideration: In consideration for agreeing to use this License, the Contributors grant You a perpetual, worldwide, royalty-free, nonexclusive license with the exact terms of this License to Use, the Open Game Content.</p>
      <p class="pb-2">5.Representation of Authority to Contribute: If You are contributing original material as Open Game Content, You represent that Your Contributions are Your original creation and/or You have sufficient rights to grant the rights conveyed by this License.</p>
      <p class="pb-2">6.Notice of License Copyright: You must update the COPYRIGHT NOTICE portion of this License to include the exact text of the COPYRIGHT NOTICE of any Open Game Content You are copying, modifying or distributing, and You must add the title, the copyright date, and the copyright holder's name to the COPYRIGHT NOTICE of any original Open Game Content you Distribute.</p>
      <p class="pb-2">7. Use of Product Identity: You agree not to Use any Product Identity, including as an indication as to compatibility, except as expressly licensed in another, independent Agreement with the owner of each element of that Product Identity. You agree not to indicate compatibility or co-adaptability with any Trademark or Registered Trademark in conjunction with a work containing Open Game Content except as expressly licensed in another, independent Agreement with the owner of such Trademark or Registered Trademark. The use of any Product Identity in Open Game Content does not constitute a challenge to the ownership of that Product Identity. The owner of any Product Identity used in Open Game Content shall retain all rights, title and interest in and to that Product Identity.</p>
      <p class="pb-2">8. Identification: If you distribute Open Game Content You must clearly indicate which portions of the work that you are distributing are Open Game Content.</p>
      <p class="pb-2">9. Updating the License: Wizards or its designated Agents may publish updated versions of this License. You may use any authorized version of this License to copy, modify and distribute any Open Game Content originally distributed under any version of this License.</p>
      <p class="pb-2">10. Copy of this License: You MUST include a copy of this License with every copy of the Open Game Content You Distribute.</p>
      <p class="pb-2">11. Use of Contributor Credits: You may not market or advertise the Open Game Content using the name of any Contributor unless You have written permission from the Contributor to do so.</p>
      <p class="pb-2">12. Inability to Comply: If it is impossible for You to comply with any of the terms of this License with respect to some or all of the Open Game Content due to statute, judicial order, or governmental regulation then You may not Use any Open Game Material so affected.</p>
      <p class="pb-2">13. Termination: This License will terminate automatically if You fail to comply with all terms herein and fail to cure such breach within 30 days of becoming aware of the breach. All sublicenses shall survive the termination of this License.</p>
      <p class="pb-2">14. Reformation: If any provision of this License is held to be unenforceable, such provision shall be reformed only to the extent necessary to make it enforceable.</p>
      <p class="pb-2">15. COPYRIGHT NOTICE Open Game License v 1.0a Copyright 2000, Wizards of the Coast, Inc.</p>
      <p class="pb-2">System Reference Document 5.0 Copyright 2016, Wizards of the Coast, Inc.; Authors Mike Mearls, Jeremy Crawford, Chris Perkins, Rodney Thompson, Peter Lee, James Wyatt, Robert J. Schwalb, Bruce R. Cordell, Chris Sims, and Steve Townshend, based on original material by E. Gary Gygax and Dave Arneson.</p>
      <p class="pb-2">END OF LICENSE</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
  <div class="fixed bottom-20 right-10 flex flex-col-reverse gap-5 z-20">
    <div v-for="(toast, i) in toasts" :key="i" class="flex items-center w-full p-4 space-x-4 shadow-lg text-zinc-200 space-x shadow-black/50 relative hover:after:bg-black/25 after:pointer-events-none after:contents-['_'] after:absolute after:inset-0" :class="{ 'bg-green-600': toast.isSuccess, 'bg-red-600': !toast.isSuccess }" role="alert" @mouseenter="() => removeTimeout(i)" @touchstart="() => removeTimeout(i)">
      <div v-if="toast.isSuccess" class="inline-flex items-center justify-center -rotate-45 flex-shrink-0 w-8 h-8 bg-zinc-700 text-green-300">
        <svg aria-hidden="true" class="w-5 h-5 rotate-45" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div v-else class="inline-flex items-center justify-center -rotate-45 flex-shrink-0 w-8 h-8 bg-zinc-700 text-red-300">
        <svg aria-hidden="true" class="w-5 h-5 rotate-45" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Error icon</span>
      </div>
      <div class="ml-3 text-sm font-normal flex-grow">{{ toast.content }}</div>
      <button type="button" @click="() => removeToast(i)" class="ml-auto -mx-1.5 -my-1.5 p-1.5 inline-flex h-8 w-8 text-zinc-700 hover:text-white hover:bg-zinc-600/50 rounded-2xl" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
  </div>
</template>
