@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

#terminal {
  background: #000;
  width: 640px;
  height: 480px;
  color: #aaa;
  font-family: Monaco, monospace;
  font-weight: 400;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 10.5pt;
  padding: 3px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  line-height: 1.2em;
  overflow-y: scroll;
  position: relative;
  color: #888;
}

.faux-input {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0px;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

.term-focus {
  text-shadow: none;
  color: #ccc;
}

#terminal .red {
  color: red;
}

#terminal .green {
  color: green;
}

#terminal .blue {
  color: lightblue;
}

#terminal .white {
  color: #fff;
}

#terminal .bold {
  font-weight: bold;
}

.bell {
  width: 0.1em;
  height: 1.1em;
  line-height: 1.2em;
  background: #fff;
  position: absolute;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    visibility: visible;
  }

  49% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

#dicebox canvas {
  width: 100%;
  height: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.itemOpener:hover > .itemAction {
  @apply inline-flex;
}

.itemOpener:hover > .itemAction + h3 {
  @apply ml-8;
}

.formula p {
  @apply inline;
}

.formula abbr {
  @apply decoration-transparent inline-block text-center w-[1em] border-b-2 border-dashed cursor-help h-[1.5em] border-b-zinc-200;
}

.multiselect {
  @apply w-full relative;
}

.ms-large .multiselect-wrapper {
  @apply h-[4rem] overflow-hidden;
}

.ms-small .multiselect-wrapper {
  @apply h-[2.5rem] overflow-hidden;
}

.ms-tiny .multiselect-wrapper {
  @apply h-[1.25rem] overflow-hidden;
}

.multiselect-tags {
  @apply flex flex-wrap gap-x-1;
}

.multiselect-tag {
  @apply relative cursor-pointer flex items-center;
}

.multiselect-tag:not(:last-of-type)::after {
  content: ',';
}

.multiselect-tag-remove {
  @apply absolute inset-0 hover:bg-red-600/20;
}

.multiselect-dropdown {
  @apply bg-zinc-900 absolute w-full overflow-y-auto max-h-80 z-20;
}

.multiselect-dropdown.is-hidden {
  @apply hidden;
}

.multiselect-option {
  @apply p-1 cursor-pointer hover:bg-zinc-600;
}

.markdown h3 {
  @apply text-xl font-semibold;
}

.markdown p {
  @apply pb-2;
}

.markdown strong {
  @apply font-semibold;
}

.markdown ul {
  @apply list-disc pl-4 pb-2;
}

.markdown table {
  @apply table-auto mb-2 w-full;
}

.markdown thead {
  @apply bg-zinc-800;
}

.markdown tr:nth-child(odd) {
  @apply bg-zinc-700/50;
}

.markdown tr:nth-child(even) {
  @apply bg-zinc-800/50;
}

.markdown td,
.markdown th {
  @apply py-1 px-2;
}

.statblock p {
  @apply pb-0;
}

.statblock table:last-of-type ~ p {
  @apply pb-2;
}

.statblock h2 {
  @apply text-2xl font-semibold;
}

.statblock h3 {
  @apply mt-3;
}

.statblock table {
  @apply mt-2 border-separate table-fixed;
}

.statblock table:has(th:empty) {
  @apply -mt-1;
}

.statblock th:empty {
  @apply hidden;
}

.statblock hr {
  @apply my-2 h-1.5 border-none bg-zinc-400;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.v-select {
  @apply w-full h-8 bg-zinc-200 text-zinc-800 col-span-11;
}

.vs__search {
  @apply border-none;
}

.vs__dropdown-toggle {
  @apply border-none rounded-none;
}

.vs__dropdown-menu {
  @apply fixed border-none rounded-none shadow-none;
}

.vs__dropdown-option {
  @apply px-2;
}
