<script setup lang="ts">
import { computed } from 'vue'
import { getProficiencyBonus, getAbilityModifier, getSign } from '@/utils'
import { getSubclass } from '@/models/destinySubclasses'
import { Guardian, Ability, ChargeType, LightAbility, SubclassFeature } from '@/models/destiny'
import { getMelee } from '@/models/destinyMelees'
import { getGrenade } from '@/models/destinyGrenades'
import { getClassAbility } from '@/models/destinyClassAbilities'
import { getSuperAbility } from '@/models/destinySuperAbilities'
import { getSubclassAbility, getSubclassFeature } from '@/models/destinySubclassAbilities'
import GuardianLightAbility from '@/components/guardian/GuardianLightAbility.vue'
import GuardianFeatureSelect from '@/components/guardian/GuardianFeatureSelect.vue'

const props = defineProps<{ character: Guardian, readonly?: boolean }>()
const emit = defineEmits(['update'])

const subclass = computed(() => props.character.subclass ? getSubclass(props.character.subclass) : null)
const subclassPath = computed(() => subclass.value?.getPath(props.character?.subclassPath))
const subclassPerkAbilities = computed(() => [
  ...subclass.value?.perks ?? [],
  ...subclassPath.value?.perks ?? []
].flatMap(x => x.abilities ?? []))
const subclassPerkCharges = computed(() => [
  ...subclass.value?.perks ?? [],
  ...subclassPath.value?.perks ?? [],
  ...subclass.value?.perks.filter(x => x.featureOptions).flatMap(x => x.featureOptions!)
    .filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? [],
  ...subclassPath.value?.perks.filter(x => x.featureOptions).flatMap(x => x.featureOptions!)
    .filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level).flatMap(x => x.charges ?? []))
const melee = computed(() => props.character.meleeChoice && getMelee(props.character.meleeChoice, props.character.level))
const grenade = computed(() => props.character.grenadeChoice && getGrenade(props.character.grenadeChoice, props.character.level))
const classAbility = computed(() => subclass.value && getClassAbility(subclass.value.classAbility, props.character.level))
const superAbility = computed(() => subclassPath.value && getSuperAbility(subclassPath.value.super, props.character.level))
const subclassAbilities = computed(() => subclassPerkAbilities.value?.map(x => getSubclassAbility(x, props.character.level) || getSubclassFeature(x)))
const totalSubclassFeatureChoices = computed(() => subclassPerkCharges.value.filter(x => x.type === ChargeType.Subclass)
  .reduce((sum, item) => sum + item.value, subclass.value!.charges!.values[props.character.level]))

function update(event: Event) {
  emit('update', event)
}
</script>

<template>
  <div class="h-full overflow-y-auto flex-grow">
    <div class="flex p-4 md:block">
      <div v-if="subclass" class="flex flex-col flex-grow md:flex-row">
        <dl class="flex gap-1 w-full justify-start md:justify-center md:border-r-2 border-zinc-600">
          <dt class="flex text-xs h-6 items-center text-zinc-400">LIGHT ABILITY MODIFIER</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="subclass?.lightModifier === Ability.Constitution">CON</span>
            <span v-if="subclass?.lightModifier === Ability.Intelligence">INT</span>
            <span v-if="subclass?.lightModifier === Ability.Wisdom">WIS</span>
            <span v-if="subclass?.lightModifier === Ability.Charisma">CHA</span>
          </dd>
        </dl>
        <dl class="flex gap-1 w-full justify-start md:justify-center md:border-r-2 border-zinc-600">
          <dt class="flex text-xs h-6 items-center text-zinc-400">LIGHT LEVEL</dt>
          <dd class="flex text-sm h-6 items-center">{{ getProficiencyBonus(character) - 1 }}</dd>
        </dl>
        <dl class="flex gap-1 w-full justify-start md:justify-center md:border-r-2 border-zinc-600">
          <dt class="flex text-xs h-6 items-center text-zinc-400">LIGHT SAVE DC</dt>
          <dd class="flex text-sm h-6 items-center">{{ 8 + getProficiencyBonus(character) + getAbilityModifier(character, subclass!.lightModifier) }}</dd>
        </dl>
        <dl class="flex gap-1 w-full justify-start md:justify-center">
          <dt class="flex text-xs h-6 items-center text-zinc-400">LIGHT ATTACK MODIFIER</dt>
          <dd class="flex text-sm h-6 items-center">{{ getSign(getProficiencyBonus(character) + getAbilityModifier(character, subclass!.lightModifier)) }}</dd>
        </dl>
      </div>
      <div v-if="subclass" class="flex flex-col flex-grow md:flex-row">
        <dl class="flex gap-1 w-full justify-end md:justify-center" :class="{ 'md:border-r-2 border-zinc-600': melee || superAbility || classAbility || subclass.charges }" v-if="grenade">
          <dt class="flex text-xs h-6 items-center text-zinc-400">GRENADE</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-transparent text-right w-4 grow ml-1">{{ character.charges[ChargeType.Grenade] }}</span>
            <input v-else type="number" class="bg-transparent text-right w-4 ml-1 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.charges[ChargeType.Grenade]" @change="update" />
            /{{ subclassPerkCharges.filter(x => x.type === ChargeType.Grenade).reduce((sum, item) => sum + item.value, 1) }}
          </dd>
        </dl>
        <dl class="flex gap-1 w-full justify-end md:justify-center" :class="{ 'md:border-r-2 border-zinc-600': superAbility || classAbility || subclass.charges }" v-if="melee">
          <dt class="flex text-xs h-6 items-center text-zinc-400">MELEE</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-transparent text-right w-4 grow ml-1">{{ character.charges[ChargeType.Melee] }}</span>
            <input v-else type="number" class="bg-transparent text-right w-4 ml-1 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.charges[ChargeType.Melee]" @change="update" />
            /{{ subclassPerkCharges.filter(x => x.type === ChargeType.Melee).reduce((sum, item) => sum + item.value, 1) }}
          </dd>
        </dl>
        <dl class="flex gap-1 w-full justify-end md:justify-center" :class="{ 'md:border-r-2 border-zinc-600': classAbility || subclass.charges }" v-if="superAbility">
          <dt class="flex text-xs h-6 items-center text-zinc-400">SUPER</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-transparent text-right w-4 grow ml-1">{{ character.charges[ChargeType.Super] }}</span>
            <input v-else type="number" class="bg-transparent text-right w-4 ml-1 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.charges[ChargeType.Super]" @change="update" />
            /{{ subclassPerkCharges.filter(x => x.type === ChargeType.Super).reduce((sum, item) => sum + item.value, 1) }}
          </dd>
        </dl>
        <dl class="flex gap-1 w-full justify-end md:justify-center" :class="{ 'md:border-r-2 border-zinc-600': subclass.charges }" v-if="classAbility">
          <dt class="flex text-xs h-6 items-center text-zinc-400">CLASS ABILITY</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-transparent text-right w-4 grow ml-1">{{ character.charges[ChargeType.Class] }}</span>
            <input v-else type="number" class="bg-transparent text-right w-4 ml-1 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.charges[ChargeType.Class]" @change="update" />
            /{{ subclassPerkCharges.filter(x => x.type === ChargeType.Class).reduce((sum, item) => sum + item.value, 1) }}
          </dd>
        </dl>
        <dl class="flex gap-1 w-full justify-end md:justify-center" v-if="subclass.charges && subclass.charges.values[character.level]">
          <dt class="flex text-xs h-6 items-center text-zinc-400">{{ subclass.charges?.name.toUpperCase() }}</dt>
          <dd class="flex text-sm h-6 items-center">
            <span v-if="subclass.charges.type === 'ability' && readonly" class="bg-transparent text-right w-6 grow ml-1">{{ character.charges[ChargeType.Subclass] }}</span>
            <input
              type="number"
              class="bg-transparent text-right w-6 ml-1 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]"
              v-model="character.charges[ChargeType.Subclass]"
              v-else-if="subclass.charges.type === 'ability'"
              @change="update"
            />
            <span v-else-if="subclass.charges.type === 'feature'">{{ character.subclassFeatureChoices[subclass.charges.name]?.length || 0 }}</span>
            /{{ totalSubclassFeatureChoices }}
          </dd>
        </dl>
      </div>
    </div>
    <div class="px-4">
      <div class="flex flex-col -mt-1 mb-1 pb-3 gap-1" v-if="melee || grenade || superAbility || classAbility">
        <GuardianLightAbility v-if="melee" :character="character" :ability="melee" :readonly="readonly" @update="update" />
        <GuardianLightAbility v-if="grenade" :character="character" :ability="grenade" :readonly="readonly" @update="update" />
        <GuardianLightAbility v-if="superAbility" :character="character" :ability="superAbility" :readonly="readonly" @update="update" />
        <GuardianLightAbility v-if="classAbility" :character="character" :ability="classAbility" :readonly="readonly" @update="update" />
      </div>
      <div v-if="subclass?.charges && subclass.charges.values[character.level]" class="relative">
        <span v-if="subclass.charges.type === 'feature' && (character.subclassFeatureChoices[subclass.charges.name]?.length || 0) < totalSubclassFeatureChoices" class="animate-pulse absolute pointer-events-none left-0 right-0 -top-3 h-6 w-full bg-green-500 opacity-25"></span>
        <hr class="border-t-2 border-zinc-400 -mb-4" />
        <h3 class="inline-block w-fit text-xs text-zinc-400 pr-2 bg-zinc-800 leading-4">{{ subclass.charges.name.toUpperCase() }}</h3>
        <div class="flex flex-col gap-1 w-full mt-1 mb-3" v-if="subclass.charges.type === 'ability'">
          <template v-for="subclassAbility in subclassAbilities">
            <GuardianLightAbility v-if="subclassAbility" :key="subclassAbility.name" :character="character" :ability="(subclassAbility as LightAbility)" :readonly="readonly" />
          </template>
        </div>
        <div class="flex flex-col gap-1 w-full mt-1 mb-3" v-else-if="subclass.charges.type === 'feature'">
          <GuardianFeatureSelect
            v-if="subclassAbilities"
            :character="character"
            :features="(subclassAbilities as SubclassFeature[])"
            @update="update"
            :disabled="character.subclassFeatureChoices[subclass.charges.name]?.length >= totalSubclassFeatureChoices"
            :readonly="readonly"
          />
        </div>
      </div>
    </div>
  </div>
</template>
