<script setup lang="ts">
import { computed } from 'vue'
import { Guardian, Subclass, GuardianRace, GuardianFoundation } from '@/models/destiny'
import { getRace } from '@/models/destinyRaces'
import { getSubclass } from '@/models/destinySubclasses'
import { getFoundation } from '@/models/destinyFoundations'
import GuardianFeature from '@/components/guardian/GuardianFeature.vue'
import ListingHeader from '@/components/ListingHeader.vue'

const props = defineProps<{ character: Guardian, readonly?: boolean }>()

const race = computed<GuardianRace | null>(() => props.character.race as never && getRace(props.character.race!))
const faction = computed<GuardianFoundation | null>(() => props.character.faction as never && getFoundation(props.character.faction!))
const subclass = computed<Subclass | null>(() => props.character.subclass as never && getSubclass(props.character.subclass!))
const subclassPath = computed(() => subclass.value?.getPath(props.character?.subclassPath))

const raceFeatures = computed(() => race.value?.perks.filter(x => x.level <= props.character.level))
const factionFeatures = computed(() => [
  ...faction.value?.perks ?? [],
  ...faction.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level))
const classFeatures = computed(() => [
  ...subclass.value?.perks ?? [],
  ...subclass.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level).sort((a, b) => a.level - b.level))
const subclassFeatures = computed(() => [
  ...subclassPath.value?.perks ?? [],
  ...subclassPath.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level).sort((a, b) => a.level - b.level))

const emit = defineEmits(['update'])

function update(event: Event) {
  emit('update', event)
}
</script>

<template>
  <div class="flex flex-col w-full pt-4 px-4 h-full overflow-y-auto">
    <template v-if="race && raceFeatures?.length">
      <ListingHeader :headers="{
        'RACE': 'w-full'
      }" />
      <div class="flex flex-col gap-1 w-full mt-1 mb-4">
        <GuardianFeature v-for="feature in raceFeatures" :key="feature.name" :feature="feature" :character="character" :readonly="readonly" @change="update" />
      </div>
    </template>
    <template v-if="faction && factionFeatures?.length">
      <ListingHeader :headers="{
        'FACTION': 'w-full'
      }" />
      <div class="flex flex-col gap-1 w-full mt-1 mb-4">
        <GuardianFeature v-for="feature in factionFeatures" :key="feature.name" :feature="feature" :character="character" :readonly="readonly" @change="update" />
      </div>
    </template>
    <template v-if="subclass && classFeatures?.length">
      <ListingHeader :headers="{
        'SUBCLASS': 'w-full'
      }" />
      <div class="flex flex-col gap-1 w-full mt-1 mb-4">
        <GuardianFeature v-for="feature in classFeatures" :key="feature.name" :feature="feature" :character="character" :readonly="readonly" @change="update" />
      </div>
    </template>
    <template v-if="subclassPath && subclassFeatures?.length">
      <ListingHeader :headers="{
        'SUBCLASS PATH': 'w-full'
      }" />
      <div class="flex flex-col gap-1 w-full mt-1 mb-4">
        <GuardianFeature v-for="feature in subclassFeatures" :key="feature.name" :feature="feature" :character="character" :readonly="readonly" @change="update" />
      </div>
    </template>
  </div>
</template>
