<script setup lang="ts">
import { ComputedRef, computed, inject, onMounted, ref } from 'vue'
import { ClassAbility, Feature, GrenadeAbility, Guardian, MeleeAbility, SubclassFeature, SuperAbility } from '@/models/destiny'
import { applyMarkdown } from '@/utils'
import { getClassAbility } from '@/models/destinyClassAbilities'
import { getMelee } from '@/models/destinyMelees'
import { getSuperAbility } from '@/models/destinySuperAbilities'
import { getGrenade } from '@/models/destinyGrenades'
import { getSubclass } from '@/models/destinySubclasses'
import Collapsible from '@/components/Collapsible.vue'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const formula = ref<InstanceType<typeof DialogWindow>>()
const saveFormula = ref<InstanceType<typeof DialogWindow>>()
const props = withDefaults(defineProps<{
  character: Guardian,
  savingCharacter?: Guardian,
  feature: Feature,
  inMessage?: boolean,
  isOwnMessage?: boolean,
  readonly?: boolean
}>(), {
  inMessage: false,
  isOwnMessage: false
})
const emit = defineEmits(['change'])
const sendToChat = inject('ChatSendDescription', undefined) as ComputedRef<(item: Feature, sender?: string) => Promise<void> | null>|undefined

const subclass = computed(() => props.character.subclass ? getSubclass(props.character.subclass) : null)
const isReaction = computed(() => props.feature.description.toLowerCase().includes('reaction'))
const isBonusAction = computed(() => props.feature.description.toLowerCase().includes('bonus action'))
const isAction = computed(() => props.feature.description.match(/(?<!bonus) action/) !== null)
const missingChoice = computed(() => {
  if ((props.feature as SubclassFeature).abilityOptions?.length) {
    switch (getEnumType((props.feature as SubclassFeature).abilityOptions![0])) {
      case 'MeleeAbility':
        return !props.character.meleeChoice || !(props.feature as SubclassFeature).abilityOptions?.includes(props.character.meleeChoice)
      case 'GrenadeAbility':
        return !props.character.grenadeChoice || !(props.feature as SubclassFeature).abilityOptions?.includes(props.character.grenadeChoice)
    }
  }

  if ((props.feature as SubclassFeature).pathOptions?.length) {
    return !props.character.subclassPath || !((props.feature as SubclassFeature).pathOptions?.map(x => x.id).includes(props.character.subclassPath))
  }

  if ((props.feature as SubclassFeature).featureOptions?.length) {
    return !props.character.subclassFeatureChoices[props.feature.name]
  }
})

function getEnumType(value: ClassAbility | GrenadeAbility | MeleeAbility | SuperAbility) {
  if (Object.values(ClassAbility).includes(value as ClassAbility)) return 'ClassAbility'
  if (Object.values(MeleeAbility).includes(value as MeleeAbility)) return 'MeleeAbility'
  if (Object.values(SuperAbility).includes(value as SuperAbility)) return 'SuperAbility'
  if (Object.values(GrenadeAbility).includes(value as GrenadeAbility)) return 'GrenadeAbility'
}

function getFeatureOptionName(value: ClassAbility | GrenadeAbility | MeleeAbility | SuperAbility) {
  if (Object.values(ClassAbility).includes(value as ClassAbility)) return getClassAbility(value as ClassAbility, 99)?.name
  if (Object.values(MeleeAbility).includes(value as MeleeAbility)) return getMelee(value as MeleeAbility, 99)?.name
  if (Object.values(SuperAbility).includes(value as SuperAbility)) return getSuperAbility(value as SuperAbility, 99)?.name
  if (Object.values(GrenadeAbility).includes(value as GrenadeAbility)) return getGrenade(value as GrenadeAbility, 99)?.name
}

onMounted(() => {
  if ((props.feature as SubclassFeature).featureOptions && !props.character.subclassFeatureChoices[props.feature.name]) {
    props.character.subclassFeatureChoices[props.feature.name] = ''
    change(new Event('update'))
  }
})

function change(event: Event) {
  emit('change', event)
}
</script>

<template>
  <Collapsible
    :class="{ 'itemOpener bg-zinc-700': !inMessage && !readonly && sendToChat, 'bg-zinc-800': inMessage, 'bg-zinc-700': readonly || !sendToChat }"
    class="w-full relative p-1 hover:after:bg-white/10 after:pointer-events-none after:cursor-pointer after:content-normal after:inset-0 after:absolute"
  >
    <template #opener="{ toggle }">
      <button v-if="!readonly && sendToChat" @click.prevent="() => sendToChat?.(feature, 'character')" class="itemAction absolute top-0 left-0 h-8 w-8 hidden p-1 mr-[0.125rem] hover:bg-white/50">
        <img class="invert" src="@/assets/attack.svg" />
      </button>
      <h3 class="cursor-pointer font-semibold" @click="toggle">{{ feature.name }}</h3>
    </template>
    <template #before>
      <small class="absolute pointer-events-none top-2 right-2 text-xs uppercase gap-1 text-zinc-400 hidden xs:flex" v-if="!inMessage">
        <span v-if="isAction" class="pr-1 border-r border-zinc-400 text-zinc-200">Action</span>
        <span v-if="isBonusAction" class="pr-1 border-r border-zinc-400 text-zinc-200">Bonus Action</span>
        <span v-if="isReaction" class="pr-1 border-r border-zinc-400 text-zinc-200">Reaction</span>
        <span v-if="feature.source">{{ feature.source }}</span>
        <span v-if="feature.level">Lv. {{ feature.level }}</span>
      </small>
    </template>
    <template #default="{ open }">
      <span v-if="missingChoice && !inMessage && !readonly && !open" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
      <div class="relative flex flex-wrap gap-x-4 pt-1" :class="{ 'flex-col': inMessage }">
        <dl class="flex gap-1 xs:hidden" v-if="isAction || isBonusAction || isReaction">
          <dt class="flex text-xs h-6 items-center text-zinc-400">TYPE</dt>
          <dd class="flex text-sm h-6 items-center gap-1">
            <span v-if="isAction">Action{{ isBonusAction || isReaction ? ', ' : '' }}</span>
            <span v-if="isBonusAction">Bonus Action{{ isReaction ? ', ' : '' }}</span>
            <span v-if="isReaction">Reaction</span>
          </dd>
        </dl>
        <dl class="flex gap-1 xs:hidden">
          <dt class="flex text-xs h-6 items-center text-zinc-400">SOURCE</dt>
          <dd class="flex text-sm h-6 items-center gap-1">
            <span v-if="feature.source">{{ feature.source }}</span>
            <span v-if="feature.level">Lv. {{ feature.level }}</span>
          </dd>
        </dl>
        <dl class="flex gap-1" v-if="feature.damage?.length">
          <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">DAMAGE</dt>
          <dd class="flex text-sm h-6 items-center">
            <DamageFormula :character="character" :subclass="subclass" :item="feature" />
          </dd>
        </dl>
        <div v-if="feature.description" class="-mb-1 text-sm markdown" v-html="applyMarkdown(feature.description)" />
        <div class="my-1 flex gap-1 text-sm" v-if="!inMessage && !readonly && (feature as SubclassFeature).abilityOptions?.length">
          <label v-for="option in (feature as SubclassFeature).abilityOptions">
            <input v-if="getEnumType(option) === 'MeleeAbility'" v-model="character.meleeChoice" class="hidden peer" :name="feature.name" type="radio" @change="change" :value="option" />
            <input v-if="getEnumType(option) === 'GrenadeAbility'" v-model="character.grenadeChoice" class="hidden peer" :name="feature.name" type="radio" @change="change" :value="option" />
            <span class="block cursor-pointer p-2 border-zinc-800 border-2 hover:bg-zinc-500 peer-checked:border-zinc-400 font-semibold">{{ getFeatureOptionName(option) }}</span>
          </label>
        </div>
        <div class="my-1 flex gap-1 text-sm" v-if="!inMessage && !readonly && (feature as SubclassFeature).pathOptions?.length">
          <label v-for="option in (feature as SubclassFeature).pathOptions">
            <input v-model="character.subclassPath" class="hidden peer" :name="feature.name" type="radio" @change="change" :value="option.id" />
            <span class="block cursor-pointer p-2 border-zinc-800 border-2 hover:bg-zinc-500 peer-checked:border-zinc-400 font-semibold">{{ option.name }}</span>
          </label>
        </div>
        <div class="my-1 flex gap-1 text-sm" v-if="!inMessage && !readonly && (feature as SubclassFeature).featureOptions?.length">
          <label v-for="option in (feature as SubclassFeature).featureOptions">
            <input v-model="character.subclassFeatureChoices[feature.name]" class="hidden peer" :name="feature.name" type="radio" @change="change" :value="option.name" />
            <span class="block cursor-pointer p-2 border-zinc-800 border-2 hover:bg-zinc-500 peer-checked:border-zinc-400 font-semibold">{{ option.name }}</span>
          </label>
        </div>
      </div>
    </template>
  </Collapsible>
  <div class="flex gap-1">
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && isOwnMessage && (feature.attackFormula || feature.damage?.length)" @click="formula?.show">ROLL</DialogButton>
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && (feature.savingThrowFormula?.length)" @click="saveFormula?.show">SAVING THROW</DialogButton>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-feature-dice" class="max-w-[30rem]" v-if="inMessage && isOwnMessage && !readonly && (feature.attackFormula || feature.damage?.length)" ref="formula">
      <DamageFormula :character="character" :subclass="subclass" :item="feature" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="guardian-feature-save" class="max-w-[30rem]" v-if="inMessage && !readonly && (feature.savingThrowFormula?.length)" ref="saveFormula">
      <DamageFormula :character="character" :saving-character="savingCharacter" :subclass="subclass" :item="feature" show-save-formula @before-roll="saveFormula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
