<script setup lang="ts">
import { Guardian, Subclass, Ability, DamageType } from '@/models/destiny'
import { computed, onMounted, onUnmounted, ref, nextTick } from 'vue'
import { getSubclass } from '@/models/destinySubclasses'
import { clampAndRound, getDiceAverageOrMaxOnFirstLevel, getAbilityModifier, getHealthPoints } from '@/utils'
import { ref as storageRef } from 'firebase/storage'
import { useFirebaseStorage, useStorageFile } from 'vuefire'
import DialogWindow from '@/components/DialogWindow.vue'
import GuardianHealth from '@/components/guardian/GuardianHealth.vue'
import eventBus from '@/event'

const storage = useFirebaseStorage()

const emit = defineEmits(['update'])
const props = defineProps<{ character: Guardian, readonly?: boolean }>()
const avatarRef = computed(() => storageRef(storage, `${props.character.id}/avatar`))
const avatar = useStorageFile(avatarRef)
const avatarForm = ref<HTMLFormElement|null>(null)

const subclass = computed<Subclass | null>(() => props.character?.subclass as never && getSubclass(props.character!.subclass!))
const health = ref<InstanceType<typeof DialogWindow>>()
const healthForm = ref<InstanceType<typeof GuardianHealth>>()

const maxHitPoints = computed(() => props.character?.maxHitPoints
  ?? (subclass.value && getHealthPoints(subclass.value.shieldDie, getAbilityModifier(props.character!, Ability.Constitution), props.character!.level))
  ?? 1)
const hitPointsPercentage = computed(() => clampAndRound(props.character!.hitPoints / maxHitPoints.value * 100, 0, 100))
const maxShieldPoints = computed(() => props.character?.maxShieldPoints
  ?? (subclass.value && getDiceAverageOrMaxOnFirstLevel(subclass.value.shieldDie, props.character!.level))
  ?? 0)
const hasShield = computed(() => props.character?.shieldPoints && maxShieldPoints.value)
const shieldPointsPercentage = computed(() => clampAndRound(props.character!.shieldPoints / maxShieldPoints.value * 100, 0, 100))
const maxOvershieldPoints = computed(() => props.character?.maxOvershieldPoints
  ?? (subclass.value && props.character!.level * 5)
  ?? 5)
const hasOvershield = computed(() => props.character?.overshieldPoints && maxOvershieldPoints.value)
const overshieldPointsPercentage = computed(() => clampAndRound(props.character!.overshieldPoints / maxOvershieldPoints.value * 100, 0, 100))

function showHealth() {
  if (!props.readonly) health.value?.show()
}

function update(event: Event) {
  emit('update', event)
}

function uploadPicture(event: Event) {
  event.preventDefault()
  const avatarValue = avatarForm.value?.files.item(0)

  if (avatarValue) {
    avatar.upload(avatarValue)
  }
}

onMounted(() => {
  eventBus.on('guardianHealthActivateTab', guardianHealthActivateTab)
})

onUnmounted(() => {
  eventBus.off('guardianHealthActivateTab', guardianHealthActivateTab)
})

async function guardianHealthActivateTab(data: { formula: string, evaluated: string, value: number, type?: DamageType }[]) {
  showHealth()
  await nextTick()
  healthForm.value?.setDefaultValues(data)
}
</script>

<template>
  <div v-if="character" class="relative w-48 h-48 bg-zinc-800">
    <img :id="readonly ? '' : 'character-img'" class="w-48 h-48 object-cover" v-if="avatar.url?.value" :src="avatar.url.value" />
    <label v-if="!readonly" class="w-48 h-40 block absolute top-0 cursor-pointer hover:bg-white/20">
      <input ref="avatarForm" type="file" accept="image/*" class="w-0 h-0 hidden" @change="uploadPicture" />
    </label>
    <div class="absolute bottom-0 bg-zinc-900/50 w-full h-8"></div>
    <div class="absolute bottom-0 bg-red-600/50 h-8" :style="{ width: hitPointsPercentage + '%' }"></div>
    <div v-if="hasShield" class="absolute bottom-0 bg-white/80 h-1" :style="{ width: shieldPointsPercentage + '%' }"></div>
    <div v-if="hasOvershield" class="absolute bottom-7 bg-blue-300/80 h-1" :style="{ width: overshieldPointsPercentage + '%' }"></div>
    <button :class="{ 'cursor-default': readonly, 'hover:bg-white/20': !readonly }" class="absolute bottom-0 w-full h-8 flex items-center justify-around text-lg font-semibold" @click="() => showHealth()">
      <span class="text-red-200">{{ character.hitPoints }}/{{ maxHitPoints }}</span>
      <span v-if="hasShield" class="text-white">{{ character.shieldPoints }}/{{ maxShieldPoints }}</span>
      <span v-if="hasOvershield" class="text-blue-100">{{ character.overshieldPoints }}/{{ maxOvershieldPoints }}</span>
    </button>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-health" class="max-w-[30rem]" ref="health" v-if="character">
      <GuardianHealth :character="character" :readonly="readonly" @update="update" ref="healthForm" />
    </DialogWindow>
  </Teleport>
</template>
