<script setup lang="ts">
import MultiSelect from '@vueform/multiselect'
import { Guardian, Subclass, Ability, Alignment, GuardianRace, GuardianFoundation,
  ProficiencyType, SubclassFeature, GrenadeAbility, MeleeAbility, ArmorItemType, Feature, 
  ChargeType} from '@/models/destiny'
import { ref, computed, watch } from 'vue'
import { PrimaryAmmo, HeavyAmmo, Arrow } from '@/models/destinyItems'
import { allSubclasses, getSubclass } from '@/models/destinySubclasses'
import { getSign, getAbilityModifier, showNumber, clampAndRound, getSkillName, getAbilityName, getSkillAbility, getAllSkills,
  getDiceAverageOrMaxOnFirstLevel, getHealthPoints, conditions, getProficiencyBonus, experienceCapPerLevel, getAlignmentName } from '@/utils'
import { parseAc } from '@/utils/acParser'
import { allRaceNames, getRace } from '@/models/destinyRaces'
import { allFoundationNames, getFoundation } from '@/models/destinyFoundations'
import GuardianAvatar from '@/components/guardian/GuardianAvatar.vue'
import GuardianTabSkills from '@/components/guardian/GuardianTabSkills.vue'
import GuardianTabFeatures from '@/components/guardian/GuardianTabFeatures.vue'
import GuardianTabLight from '@/components/guardian/GuardianTabLight.vue'
import GuardianTabNotes from '@/components/guardian/GuardianTabNotes.vue'
import GuardianTabInventory from '@/components/guardian/GuardianTabInventory.vue'
import Ghost from '@/components/ghost/Ghost.vue'
import Radio from '@/components/forms/Radio.vue'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import ListingHeader from '@/components/ListingHeader.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = defineProps<{ character: Guardian, readonly?: boolean }>()
const emit = defineEmits(['update'])
const race = computed<GuardianRace | null>(() => props.character.race as never && getRace(props.character.race!))
const faction = computed<GuardianFoundation | null>(() => props.character.faction as never && getFoundation(props.character.faction!))
const subclass = computed<Subclass | null>(() => props.character.subclass as never && getSubclass(props.character.subclass!))
const subclassPath = computed(() => subclass.value?.getPath(props.character.subclassPath))
const levelUp = ref<InstanceType<typeof DialogWindow>>()
const formula = ref<InstanceType<typeof DialogWindow>>()
const allFeatures = computed(() => [
  ...race.value?.perks ?? [],
  ...faction.value?.perks ?? [],
  ...faction.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? [],
  ...subclass.value?.perks ?? [],
  ...subclassPath.value?.perks ?? [],
  ...subclass.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? [],
  ...subclassPath.value?.perks?.flatMap(x => x.featureOptions ?? [])
    ?.filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level))
const acFeatures = computed(() => [
  ...allFeatures.value.filter(x => x.ac),
  ...props.character.items.filter(x => x.ac && x.type !== ArmorItemType.GhostShell) || []
])
const bestAc = computed(() => acFeatures.value.map(x => ({
  name: x.name,
  ac: parseAc({
    dex: getAbilityModifier(props.character, Ability.Dexterity),
    con: getAbilityModifier(props.character, Ability.Constitution),
    wis: getAbilityModifier(props.character, Ability.Wisdom)
  }, x.ac!)
})).reduce((max, item) => item.ac > max.ac ? item : max, {
  name: 'Natural Armor',
  ac: 10 + getAbilityModifier(props.character, Ability.Dexterity)
}))
const missingChoiceFeatures = computed(() => allFeatures.value.some(feature =>{ 
  if ((feature as SubclassFeature).abilityOptions?.length) {
    switch (getEnumType((feature as SubclassFeature).abilityOptions![0])) {
      case 'MeleeAbility':
        return !props.character.meleeChoice || !(feature as SubclassFeature).abilityOptions?.includes(props.character.meleeChoice)
      case 'GrenadeAbility':
        return !props.character.grenadeChoice || !(feature as SubclassFeature).abilityOptions?.includes(props.character.grenadeChoice)
    }
  }

  if ((feature as SubclassFeature).pathOptions?.length) {
    return !props.character.subclassPath || !((feature as SubclassFeature).pathOptions?.map(x => x.id).includes(props.character.subclassPath))
  }

  if ((feature as SubclassFeature).featureOptions?.length) {
    return !props.character.subclassFeatureChoices[feature.name]
  }
}))
const missingChoiceLight = computed(() => subclass.value?.charges?.type === 'feature' &&
  (props.character.subclassFeatureChoices[subclass.value.charges.name]?.length || 0)
    < allFeatures.value.filter(x => (x as SubclassFeature).charges?.type === ChargeType.Subclass)
      .reduce((sum, item) => sum + ((item as SubclassFeature)?.charges?.value || 0), subclass.value!.charges!.values[props.character.level]))
const needsLevelUp = computed(() => props.character.experience >= experienceCapPerLevel(props.character.level))
const ghostNeedsLevelUp = computed(() => props.character.ghost.experience >= experienceCapPerLevel(props.character.ghost.level))

enum GuardianTab {
  Skills = 0,
  Inventory = 1,
  Features = 2,
  Ghost = 3,
  Light = 4,
  Notes = 5
}

function getEnumType(value: GrenadeAbility | MeleeAbility) {
  if (Object.values(MeleeAbility).includes(value as MeleeAbility)) return 'MeleeAbility'
  if (Object.values(GrenadeAbility).includes(value as GrenadeAbility)) return 'GrenadeAbility'
}

const active = ref<GuardianTab>(GuardianTab.Skills)
const maxExperience = computed(() => experienceCapPerLevel(props.character.level))
const allSkills = getAllSkills()
const firstHalfSkills = allSkills.slice(0, 10)
const secondHalfSkills = allSkills.slice(10)

function showFormula() {
  formula.value?.show()
  levelUp.value?.hide()
}

function doLevelUp(rollResult?: { value: number }[]) {
  formula.value?.hide()
  
  const previousShieldPoints = maxShieldPoints.value
  const isManualShieldPoints = !!props.character.maxShieldPoints || rollResult
  props.character.level = clampAndRound(props.character.level + 1, 1, 20)

  if (isManualShieldPoints) {
    if (rollResult?.length) {
      props.character.maxShieldPoints = previousShieldPoints + rollResult[0].value
    } else {
      const diceAverage = ((subclass.value?.shieldDie ?? 0) / 2) + 1
      props.character.maxShieldPoints = previousShieldPoints + diceAverage
    }
  }

  update()
}

function update() {
  emit('update')
}

function changeMeleeAndGrenade() {
  const abilitiesWithOptions = allFeatures.value.filter(x => x && (x as SubclassFeature).abilityOptions).map(x => x as SubclassFeature)
  let hasChange = false
  let foundGrenade = false
  let foundMelee = false

  for (const ability of abilitiesWithOptions) {
    if (ability.abilityOptions?.some(x => Object.values(GrenadeAbility).includes(+x))) {
      foundGrenade = true

      if (!ability.abilityOptions.some(x => x === props.character.grenadeChoice)) {
        props.character.grenadeChoice = null
        hasChange = true
      }
    }
    
    if (ability.abilityOptions?.some(x => Object.values(MeleeAbility).includes(+x))) {
      foundMelee = true

      if (!ability.abilityOptions.some(x => x === props.character.meleeChoice)) {
        props.character.meleeChoice = null
        hasChange = true
      }
      
      if (ability.abilityOptions.length === 1) {
        props.character.meleeChoice = ability.abilityOptions[0] as MeleeAbility
        hasChange = true
      }
    }
  }

  if (!foundGrenade) {
    props.character.grenadeChoice = null
  }

  if (!foundMelee) {
    props.character.meleeChoice = null
  }
  
  if (hasChange) {
    update()
  }
}

const shieldDiceFeature = computed(() => subclass.value ? ({
  _type: 'Feature',
  name: `${props.character.name} rolls for shield points`,
  level: 0,
  description: '',
  attackFormula: `1d${subclass.value.shieldDie}`
} as Feature) : null)

const primaryAmmoId = (new PrimaryAmmo).id
const heavyAmmoId = (new HeavyAmmo).id
const arrowId = (new Arrow).id

const maxHitPoints = computed(() => props.character.maxHitPoints
  ?? (subclass.value && getHealthPoints(subclass.value.shieldDie, getAbilityModifier(props.character, Ability.Constitution), props.character.level))
  ?? 1)
const maxShieldPoints = computed(() => props.character.maxShieldPoints
  ?? (subclass.value && getDiceAverageOrMaxOnFirstLevel(subclass.value.shieldDie, props.character.level))
  ?? 0)
const maxOvershieldPoints = computed(() => props.character.maxOvershieldPoints
  ?? (subclass.value && props.character.level * 5)
  ?? 5)

watch(() => props.character.subclass, changeMeleeAndGrenade)
watch(() => props.character.subclassPath, changeMeleeAndGrenade)
watch(() => props.character.level, changeMeleeAndGrenade)
watch(() => props.character.conditions, update)
watch(() => props.character.hitPoints, () => {
  if (props.character.hitPoints < 0) props.character.hitPoints = 0
  if (props.character.hitPoints > maxHitPoints.value) props.character.hitPoints = maxHitPoints.value
  update()
})
watch(() => props.character.shieldPoints, () => {
  if (props.character.shieldPoints < 0) props.character.shieldPoints = 0
  if (props.character.shieldPoints > maxShieldPoints.value) props.character.shieldPoints = maxShieldPoints.value
  update()
})
watch(() => props.character.overshieldPoints, () => {
  if (props.character.overshieldPoints < 0) props.character.overshieldPoints = 0
  if (props.character.overshieldPoints > maxOvershieldPoints.value) props.character.overshieldPoints = maxOvershieldPoints.value
  update()
})
watch(() => props.character.maxHitPoints, () => {
  if (!props.character.maxHitPoints) props.character.maxHitPoints = null
  update()
})
watch(() => props.character.maxShieldPoints, () => {
  if (!props.character.maxShieldPoints) props.character.maxShieldPoints = null
  update()
})
watch(() => props.character.maxOvershieldPoints, () => {
  if (!props.character.maxOvershieldPoints) props.character.maxOvershieldPoints = null
  update()
})
</script>

<template>
  <div class="w-[56rem] min-h-[66rem] h-full p-4 mb-8 bg-zinc-700">
    <div class="flex gap-4">
      <GuardianAvatar :character="character" :readonly="readonly" @update="update" />
      <div class="w-[41rem] h-8 flex flex-wrap gap-4">
        <span v-if="readonly" class="w-[24rem] h-12 bg-zinc-800 pl-2 leading-[3rem] text-2xl font-semibold">{{ character.name }}</span>
        <input v-else class="w-[24rem] h-12 bg-zinc-800 pl-2 text-2xl font-semibold" v-model="character.name" @change="update" />
        <div class="w-[16rem] h-12 flex flex-col bg-zinc-800 relative">
          <span v-if="!readonly && needsLevelUp" class="animate-pulse absolute pointer-events-none top-0 left-0 right-0 h-6 w-full bg-green-500 opacity-25"></span>
          <span v-if="readonly" class="w-full h-6 px-1 text-right leading-6 font-semibold">{{ subclass ? subclass.name : 'Risen' }} Lv.{{ character.level }}</span>
          <button v-else class="w-full h-6 px-2 text-right hover:bg-zinc-600 font-semibold" @click="levelUp?.show">{{ subclass ? subclass.name : 'Risen' }} Lv. {{ character.level }} &blacktriangleright;</button>
          <span class="w-full h-6 px-2 text-xs flex items-center text-zinc-400">
            EXPERIENCE: 
            <span v-if="readonly" class="bg-transparent ml-1 text-right w-10 grow">{{ character.experience }}</span>
            <input v-else type="number" class="bg-transparent ml-1 text-right w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.experience" @change="update" />
            /{{ showNumber(maxExperience) }}
          </span>
        </div>
        <div class="w-[16rem] h-32 bg-zinc-800 grid grid-cols-3 p-1 gap-1">
          <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">RACE</dt>
          <dd class="col-span-2 flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-zinc-800 w-full inline-block leading-5 px-1">{{ allRaceNames.find(x => x.id === character.race)?.name ?? '' }}</span>
            <select v-else v-model="character.race" @change="update" class="bg-zinc-800 w-full cursor-pointer">
              <option :value="null"></option>
              <option v-for="race in allRaceNames" :key="race.id" :value="race.id">{{ race.name }}</option>
            </select>
          </dd>
          <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">FACTION</dt>
          <dd class="col-span-2 flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-zinc-800 w-full inline-block leading-5 px-1">{{ allFoundationNames.find(x => x.id === character.faction)?.name ?? '' }}</span>
            <select v-else v-model="character.faction" @change="update" class="bg-zinc-800 w-full cursor-pointer">
              <option :value="null"></option>
              <option v-for="foundation in allFoundationNames" :key="foundation.id" :value="foundation.id">{{ foundation.name }}</option>
            </select>
          </dd>
          <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">ALIGNMENT</dt>
          <dd class="col-span-2 flex text-sm h-6 items-center">
            <span v-if="readonly" class="bg-zinc-800 w-full inline-block leading-5 px-1">{{ getAlignmentName(character.alignment) }}</span>
            <select v-else v-model="character.alignment" @change="update" class="bg-zinc-800 w-full cursor-pointer">
              <option :value="null"></option>
              <option :value="Alignment.LawfulGood">Lawful Good</option>
              <option :value="Alignment.LawfulNeutral">Lawful Neutral</option>
              <option :value="Alignment.LawfulEvil">Lawful Evil</option>
              <option :value="Alignment.NeutralGood">Neutral Good</option>
              <option :value="Alignment.TrueNeutral">True Neutral</option>
              <option :value="Alignment.NeutralEvil">Neutral Evil</option>
              <option :value="Alignment.ChaoticGood">Chaotic Good</option>
              <option :value="Alignment.ChaoticNeutral">Chaotic Neutral</option>
              <option :value="Alignment.ChaoticEvil">Chaotic Evil</option>
            </select>
          </dd>
          <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">SPEED</dt>
          <dd class="col-span-2 flex text-sm pl-1 h-6 items-center">
            <span v-if="readonly" class="bg-zinc-800 w-full inline-block leading-4">{{ character.speed }}</span>
            <input v-else class="bg-transparent w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" v-model="character.speed" @change="update" />
          </dd>
        </div>
        <div class="w-[24rem] h-32 bg-zinc-800 grid grid-cols-12 grid-rows-4 p-1 gap-1">
          <dt class="col-span-3 row-span-2 flex text-xs h-6 items-center justify-end text-zinc-400">CONDITIONS</dt>
          <dd class="col-span-9 row-span-2 flex text-sm h-[4rem]">
            <span v-if="readonly" class="text-sm">{{ character.conditions.join(',&nbsp; ') }}</span>
            <MultiSelect v-else class="text-sm cursor-pointer hover:bg-white/25 ms-large border-b border-zinc-400 -mb-[1px]" :options="conditions" v-model="character.conditions" :close-on-select="false" mode="tags" />
          </dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">ARMOR CLASS</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center" :title="bestAc.name">{{ bestAc.ac }}</dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">SHIELD DICE</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ subclass ? `${getProficiencyBonus(character) - 1}d${subclass.shieldDie}` : '-' }}</dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">PROFICIENCY</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ getSign(getProficiencyBonus(character)) }}</dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">PRIMARY</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ character.items?.filter(x => x.id === primaryAmmoId).reduce((sum, x) => sum + (x?.quantity || 0), 0) }}</dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">HEAVY</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ character.items?.filter(x => x.id === heavyAmmoId).reduce((sum, x) => sum + (x?.quantity || 0), 0) }}</dd>
          <dt class="col-span-3 flex text-xs h-6 items-center justify-end text-zinc-400">ARROWS</dt>
          <dd class="col-span-1 flex text-sm h-6 items-center">{{ character.items?.filter(x => x.id === arrowId).reduce((sum, x) => sum + (x?.quantity || 0), 0) }}</dd>
        </div>
      </div>
    </div>
    <div class="flex gap-4 mt-4">
      <button class="p-1 text-center w-full font-semibold" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Skills, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Skills }" @click="() => active = GuardianTab.Skills">Abilities</button>
      <button class="p-1 text-center w-full font-semibold" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Inventory, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Inventory }" @click="() => active = GuardianTab.Inventory">Inventory</button>
      <button class="p-1 text-center w-full font-semibold relative" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Features, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Features }" @click="() => active = GuardianTab.Features">
        <span v-if="missingChoiceFeatures && active !== GuardianTab.Features" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
        <span class="relative">Features</span>
      </button>
      <button class="p-1 text-center w-full font-semibold relative" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Ghost, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Ghost }" @click="() => active = GuardianTab.Ghost">
        <span v-if="ghostNeedsLevelUp && active !== GuardianTab.Ghost" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
        <span class="relative">Ghost</span>
      </button>
      <button class="p-1 text-center w-full font-semibold relative" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Light, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Light }" @click="() => active = GuardianTab.Light">
        <span v-if="missingChoiceLight && active !== GuardianTab.Light" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
        <span class="relative">Light</span>
      </button>
      <button class="p-1 text-center w-full font-semibold" :class="{ 'text-zinc-300 bg-zinc-800': active === GuardianTab.Notes, 'bg-zinc-900 text-zinc-400 hover:bg-zinc-600': active !== GuardianTab.Notes }" @click="() => active = GuardianTab.Notes">Info & Notes</button>
    </div>
    <div class="bg-zinc-800 -mx-4 -mb-4 flex min-h-[56rem]">
      <template v-if="active === GuardianTab.Skills">
        <GuardianTabSkills :character="character" :subclass="subclass" :features="allFeatures" @update="update" :readonly="readonly" />
      </template>
      <template v-if="active === GuardianTab.Inventory">
        <GuardianTabInventory :character="character" @update="update" :readonly="readonly" />
      </template>
      <template v-if="active === GuardianTab.Features">
        <GuardianTabFeatures :character="character" @update="update" :readonly="readonly" />
      </template>
      <div v-show="active === GuardianTab.Ghost" class="h-full">
        <Ghost :character="character" :ghost="character.ghost" @update="update" :readonly="readonly" />
      </div>
      <template v-if="active === GuardianTab.Light">
        <GuardianTabLight :character="character" @update="update" :readonly="readonly" />
      </template>
      <template v-if="active === GuardianTab.Notes">
        <GuardianTabNotes :character="character" @update="update" :readonly="readonly" />
      </template>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-level" class="max-w-[50rem]" ref="levelUp" v-if="character && !readonly">
      <ListingHeader :headers="{
        'LEVEL AND SUBCLASS': 'w-full'
      }" />
      <div class="grid grid-cols-3 gap-2 items-center h-12">
        <label class="text-xs text-zinc-400 text-right">CHARACTER SUBCLASS</label>
        <select v-model="character.subclass" @change="update" class="col-span-2 bg-zinc-800 w-full cursor-pointer h-10 border-zinc-500 border-2">
          <option :value="null"></option>
          <option v-for="subclass in allSubclasses" :key="subclass.id" :value="subclass.id">{{ subclass.name }}</option>
        </select>
      </div>
      <div class="grid grid-cols-3 gap-2 items-center h-12">
        <label class="text-xs text-zinc-400 text-right">CHARACTER LEVEL</label>
        <div class="flex col-span-2 gap-2">
          <input type="number" class="bg-transparent w-20 p-1 h-10 text-center text-lg border-zinc-500 border-2" v-model="character.level" :min="1" :max="20" @change="update" />
          <DialogButton
            class="hidden sm:block relative"
            v-if="character.level < 20"
            :color="character.experience >= maxExperience ? 'success' : 'danger'"
            @click="doLevelUp"
          >
            <span v-if="!readonly && needsLevelUp" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
            LVL UP (AVERAGE HP)
          </DialogButton>
          <DialogButton
            class="hidden sm:block relative"
            v-if="character.level < 20 && subclass"
            :color="character.experience >= maxExperience ? 'success' : 'danger'"
            @click="showFormula"
          >
            <span v-if="!readonly && needsLevelUp" class="animate-pulse absolute pointer-events-none inset-0 h-full w-full bg-green-500 opacity-25"></span>
            LVL UP (ROLL 1d{{ subclass.shieldDie }})
          </DialogButton>
        </div>
      </div>
      <p v-if="character.level < 20">{{ character.experience >= maxExperience ? 'Your character is ready to level up!' : `You are ${maxExperience - character.experience}XP away from your next level. Are you sure you want to level up?` }}</p>
      <ListingHeader :headers="{
        'SKILLS': 'w-full'
      }" class="mt-2" />
      <div class="flex flex-col gap-4 sm:flex-row">
        <table class="markdown w-full mt-1">
          <tr v-for="skill in firstHalfSkills">
            <td class="w-1/2">{{ getSkillName(skill) }} <span class="text-zinc-500 text-sm uppercase w-12 ml-2">({{ getAbilityName(getSkillAbility(skill)).slice(0, 3) }})</span></td>
            <td title="No proficiency">
              <Radio :value="ProficiencyType.None" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/not-proficient.svg" />
              </Radio>
            </td>
            <td title="Half-proficiency">
              <Radio :value="ProficiencyType.Half" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/half-proficient.svg" />
              </Radio>
            </td>
            <td title="Proficiency">
              <Radio :value="ProficiencyType.Proficiency" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>
            </td>
            <td title="Expertise">
              <Radio :value="ProficiencyType.Expertise" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/expert.svg" />
              </Radio>
            </td>
          </tr>
        </table>
        <table class="markdown w-full -mt-4 sm:mt-1">
          <tr v-for="skill in secondHalfSkills">
            <td class="w-1/2">{{ getSkillName(skill) }} <span class="text-zinc-500 text-sm uppercase w-12 ml-2">({{ getAbilityName(getSkillAbility(skill)).slice(0, 3) }})</span></td>
            <td title="No proficiency">
              <Radio :value="ProficiencyType.None" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/not-proficient.svg" />
              </Radio>
            </td>
            <td title="Half-proficiency">
              <Radio :value="ProficiencyType.Half" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/half-proficient.svg" />
              </Radio>
            </td>
            <td title="Proficiency">
              <Radio :value="ProficiencyType.Proficiency" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/proficient.svg" />
              </Radio>
            </td>
            <td title="Expertise">
              <Radio :value="ProficiencyType.Expertise" :name="getSkillName(skill)" v-model="character.skillProficiencies[skill]" @update:modelValue="update">
                <img alt="" class="invert h-6 opacity-50" src="@/assets/expert.svg" />
              </Radio>
            </td>
          </tr>
        </table>
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="guardian-level-dice" class="max-w-[30rem]" v-if="character && !readonly" ref="formula">
      <DamageFormula :character="character" :subclass="subclass" :item="shieldDiceFeature!" show-all-formula simple-roll @roll="(_, result) => doLevelUp(result)" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
