<script setup lang="ts">
import { computed, ComputedRef, inject, ref, watch } from 'vue'
import { Guardian, Ability, Skill, Feature, Subclass, DamageType, AllWeaponItemType, ArmorItemType, ToolItemType, VehicleItemType, ChargeType, Item } from '@/models/destiny'
import { getSign, getProficiencyBonus, getDamageTypeName, getItemTypeName, conditions, getDiceAverageOrMaxOnFirstLevel, getAbilityModifier } from '@/utils'
import DeathSaves from '@/components/forms/DeathSaves.vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import DamageSelector from '@/components/forms/DamageSelector.vue'
import WeaponSelector from '@/components/forms/WeaponSelector.vue'
import ArmorSelector from '@/components/forms/ArmorSelector.vue'
import ToolSelector from '@/components/forms/ToolSelector.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import GuardianAbility from '@/components/guardian/GuardianAbility.vue'
import GuardianSkill from '@/components/guardian/GuardianSkill.vue'
import MultiSelect from '@vueform/multiselect'
import { useAutoResize } from '@/composables/autoResize'
import DialogButton from '../DialogButton.vue'
import DamageFormula from '../DamageFormula.vue'

const props = defineProps<{ character: Guardian, subclass: Subclass|null, features: Feature[], readonly?: boolean }>()
const sendDice = inject('ChatSendDice', undefined) as ComputedRef<(context: string|null, data: { formula: string, value: number, type?: DamageType }[], sender?: string) => Promise<void> | null>|undefined

const formula = ref<InstanceType<typeof DialogWindow>>()

const characterResistances = ref<DamageType[]>(props.character.resistances)
const existingResistances = computed(() => props.features.filter(x => x.resistances).flatMap(x => x.resistances!.filter(Boolean)))
const resistances = computed(() => Array.from(new Set([
  ...existingResistances.value,
  ...(characterResistances.value || [])
])).map(x => getDamageTypeName(x)).join(', '))

const characterWeaknesses = ref<DamageType[]>(props.character.weaknesses)
const existingWeaknesses = computed(() => props.features.filter(x => x.weaknesses).flatMap(x => x.weaknesses!.filter(Boolean)))
const weaknesses = computed(() => Array.from(new Set([
  ...existingWeaknesses.value,
  ...(characterWeaknesses.value || [])
])).map(x => getDamageTypeName(x)).join(', '))

const characterImmunities = ref<DamageType[]>(props.character.immunities)
const existingImmunities = computed(() => props.features.filter(x => x.immunities).flatMap(x => x.immunities!.filter(Boolean)))
const immunities = computed(() => Array.from(new Set([
  ...existingImmunities.value,
  ...(characterImmunities.value || [])
])).map(x => getDamageTypeName(x)).join(', '))

const characterWeapons = ref<AllWeaponItemType[]>(props.character.weapons)
const existingWeapons = computed(() => props.subclass?.weapons ?? [])
const weapons = computed(() => Array.from(new Set([
  ...existingWeapons.value,
  ...(characterWeapons.value || [])
])).map(x => getItemTypeName(x)).join(', '))

const characterArmor = ref<ArmorItemType[]>(props.character.armor)
const existingArmor = computed(() => props.subclass?.armor ?? [])
const armor = computed(() => Array.from(new Set([
  ...existingArmor.value,
  ...(characterArmor.value || [])
])).map(x => getItemTypeName(x)).join(', '))

const characterTools = ref<(ToolItemType|VehicleItemType)[]>(props.character.tools)
const existingTools = computed(() => props.subclass?.tools ?? [])
const tools = computed(() => Array.from(new Set([
  ...existingTools.value,
  ...(characterTools.value || [])
])).map(x => getItemTypeName(x)).join(', '))

const subclassPath = computed(() => props.subclass?.getPath(props.character?.subclassPath))
const subclassPerkCharges = computed(() => [
  ...props.subclass?.perks ?? [],
  ...subclassPath.value?.perks ?? [],
  ...props.subclass?.perks.filter(x => x.featureOptions).flatMap(x => x.featureOptions!)
    .filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? [],
  ...subclassPath.value?.perks.filter(x => x.featureOptions).flatMap(x => x.featureOptions!)
    .filter(x => Object.values(props.character.subclassFeatureChoices).flatMap(x => x).includes(x.name)) ?? []
].filter(x => x.level <= props.character.level).flatMap(x => x.charges ?? []))

const maxShieldPoints = computed(() => props.character?.maxShieldPoints
  ?? (props.subclass && getDiceAverageOrMaxOnFirstLevel(props.subclass.shieldDie, props.character!.level))
  ?? 0)

function applyBriefRest() {
  props.character.shieldPoints = maxShieldPoints.value
  props.character.charges[ChargeType.Class] = subclassPerkCharges.value.filter(x => x.type === ChargeType.Class).reduce((sum, item) => sum + item.value, 1)
  props.character.charges[ChargeType.Melee] = subclassPerkCharges.value.filter(x => x.type === ChargeType.Melee).reduce((sum, item) => sum + item.value, 1)
  props.character.charges[ChargeType.Grenade] = subclassPerkCharges.value.filter(x => x.type === ChargeType.Grenade).reduce((sum, item) => sum + item.value, 1)
}

function applyShortRest() {
  applyBriefRest()
  props.character.charges[ChargeType.Super] = subclassPerkCharges.value.filter(x => x.type === ChargeType.Super).reduce((sum, item) => sum + item.value, 1)
}

function applyLongRest() {
  applyShortRest()
}

const resistancesDialog = ref<InstanceType<typeof DialogWindow>>()
const weaknessesDialog = ref<InstanceType<typeof DialogWindow>>()
const immunitiesDialog = ref<InstanceType<typeof DialogWindow>>()
const weaponsDialog = ref<InstanceType<typeof DialogWindow>>()
const armorDialog = ref<InstanceType<typeof DialogWindow>>()
const toolsDialog = ref<InstanceType<typeof DialogWindow>>()

const senses = ref<HTMLTextAreaElement>()
const languages = ref<HTMLTextAreaElement>()
useAutoResize(senses)
useAutoResize(languages)

const emit = defineEmits(['update'])

function update(event: Event) {
  emit('update', event)
}

function showFormula() {
  if (!sendDice?.value) return
  formula.value?.show()
}

watch(props.character.resistances, () => {
  characterResistances.value = props.character.resistances
})
watch(characterResistances, () => {
  props.character.resistances = characterResistances.value
  update(new Event('update'))
})
watch(props.character.weaknesses, () => {
  characterWeaknesses.value = props.character.weaknesses
})
watch(characterWeaknesses, () => {
  props.character.weaknesses = characterWeaknesses.value
  update(new Event('update'))
})
watch(props.character.immunities, () => {
  characterImmunities.value = props.character.immunities
})
watch(characterImmunities, () => {
  props.character.immunities = characterImmunities.value
  update(new Event('update'))
})
watch(() => props.character.conditionImmunities, () => {
  update(new Event('update'))
})
watch(props.character.weapons, () => {
  characterWeapons.value = props.character.weapons
})
watch(characterWeapons, () => {
  props.character.weapons = characterWeapons.value
  update(new Event('update'))
})
watch(props.character.armor, () => {
  characterArmor.value = props.character.armor
})
watch(characterArmor, () => {
  props.character.armor = characterArmor.value
  update(new Event('update'))
})
watch(props.character.tools, () => {
  characterTools.value = props.character.tools
})
watch(characterTools, () => {
  props.character.tools = characterTools.value
  update(new Event('update'))
})
</script>

<template>
  <div class="flex gap-4 p-4 h-full flex-wrap md:flex-nowrap">
    <div class="flex max-h-[54rem] w-full flex-wrap xs:flex-col xs:justify-between xs:w-min md:w-32 gap-4">
      <div class="flex items-center justify-between flex-grow border-2 border-zinc-900 p-2 w-full relative">
        <span class="text-xs text-zinc-400">INITIATIVE</span>
        <button
          class="font-semibold text-xl absolute right-0 top-0 bottom-0 w-10"
          :class="{ 'hover:bg-white/25': !readonly && !!sendDice, 'cursor-default': readonly || !sendDice }"
          @click="showFormula"
          title="Roll for initiative"
        >{{ getSign(getAbilityModifier(character, Ability.Dexterity)) }}</button>
      </div>
      <GuardianAbility :character="character" :ability="Ability.Strength" :readonly="readonly" @change="update" />
      <GuardianAbility :character="character" :ability="Ability.Dexterity" :readonly="readonly" @change="update" />
      <GuardianAbility :character="character" :ability="Ability.Constitution" :readonly="readonly" @change="update" />
      <GuardianAbility :character="character" :ability="Ability.Intelligence" :readonly="readonly" @change="update" />
      <GuardianAbility :character="character" :ability="Ability.Wisdom" :readonly="readonly" @change="update" />
      <GuardianAbility :character="character" :ability="Ability.Charisma" :readonly="readonly" @change="update" />
    </div>
    <div class="flex flex-col justify-between h-[54rem] w-fit flex-grow md:w-64">
      <GuardianSkill :character="character" :skill="Skill.Acrobatics" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.AnimalHandling" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Arcana" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Athletics" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Deception" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.History" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Insight" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Intimidation" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Investigation" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Medicine" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Nature" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Perception" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Performance" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Persuasion" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Religion" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.SleightOfHand" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Stealth" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Survival" :readonly="readonly" />
      <GuardianSkill :character="character" :skill="Skill.Technology" :readonly="readonly" />
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex gap-4" v-if="!readonly">
        <DialogButton @click="applyBriefRest" block>BRIEF REST</DialogButton>
        <DialogButton @click="applyShortRest" block>SHORT REST</DialogButton>
        <DialogButton @click="applyLongRest" block>LONG REST</DialogButton>
      </div>
      <div class="md:w-[28rem] h-fit border-zinc-900 border-2 grid grid-cols-4 p-2 gap-2">
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">INSP.</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <Checkbox v-model="character.inspiration" @update:model-value="update" :readonly="readonly" light />
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">RTL SAVES</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <DeathSaves :character="character" @change="update" :readonly="readonly" />
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">SENSES</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="bg-transparent w-10 grow">{{ character.senses }}</span>
          <textarea v-else class="bg-transparent w-10 grow resize-none overflow-hidden hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" rows="1" ref="senses" v-model="character.senses" @change="update">{{ character.senses }}</textarea>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">LANG.</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="bg-transparent w-10 grow">{{ character.languages }}</span>
          <textarea v-else class="bg-transparent w-10 grow resize-none overflow-hidden hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" rows="1" ref="languages" v-model="character.languages" @change="update">{{ character.languages }}</textarea>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">RESIST.</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ resistances }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="resistancesDialog?.show">{{ resistances || '-' }}</button>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">WEAK.</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ weaknesses }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="weaknessesDialog?.show">{{ weaknesses || '-' }}</button>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">IMMUNITIES</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ immunities }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="immunitiesDialog?.show">{{ immunities || '-' }}</button>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400 text-right">CONDITION IMMUNITIES</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ character.conditionImmunities.join(',&nbsp; ') }}</span>
          <MultiSelect v-else class="text-sm cursor-pointer hover:bg-white/25 ms-tiny border-b border-zinc-400 -mb-[1px]" :options="conditions" v-model="character.conditionImmunities" :close-on-select="false" mode="tags" />
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">WEAPONS</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ weapons }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="weaponsDialog?.show">{{ weapons || '-' }}</button>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">ARMOR</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ armor }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="armorDialog?.show">{{ armor || '-' }}</button>
        </dd>
        <dt class="flex text-xs h-6 items-center justify-end text-zinc-400">TOOLS</dt>
        <dd class="col-span-3 flex text-sm items-center">
          <span v-if="readonly" class="text-sm">{{ tools }}</span>
          <button v-else class="w-full text-left hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" @click="toolsDialog?.show">{{ tools || '-' }}</button>
        </dd>
      </div>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-resist" class="max-w-[30rem]" ref="resistancesDialog">
      <DamageSelector :existing="existingResistances" v-model="characterResistances" />
    </DialogWindow>
    <DialogWindow key="guardian-weak" class="max-w-[30rem]" ref="weaknessesDialog">
      <DamageSelector :existing="existingWeaknesses" v-model="characterWeaknesses" />
    </DialogWindow>
    <DialogWindow key="guardian-immune" class="max-w-[30rem]" ref="immunitiesDialog">
      <DamageSelector :existing="existingImmunities" v-model="characterImmunities" />
    </DialogWindow>
    <DialogWindow key="guardian-weapon" class="max-w-[30rem]" ref="weaponsDialog">
      <WeaponSelector :existing="existingWeapons" v-model="characterWeapons" />
    </DialogWindow>
    <DialogWindow key="guardian-armor" class="max-w-[30rem]" ref="armorDialog">
      <ArmorSelector :existing="existingArmor" v-model="characterArmor" />
    </DialogWindow>
    <DialogWindow key="guardian-tool" class="max-w-[30rem]" ref="toolsDialog">
      <ToolSelector :existing="existingTools" v-model="characterTools" />
    </DialogWindow>
    <DialogWindow key="guardian-initiative-dice" class="max-w-[30rem]" v-if="!readonly" ref="formula">
      <DamageFormula :character="character" :item="({
        _type: 'Feature',
        name: 'Roll for initiative',
        attackFormula: '1d20 + [mod]',
        ability: Ability.Dexterity,
        proficient: false
      } as Item)" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
