<script setup lang="ts">
import { ComputedRef, computed, inject, ref } from 'vue'
import { getSubclass } from '@/models/destinySubclasses'
import { ChargeType, Class, Guardian, LightAbility, LightElement } from '@/models/destiny'
import { applyMarkdown } from '@/utils'
import { elementColors } from '@/utils/color'
import Collapsible from '@/components/Collapsible.vue'
import DamageFormula from '@/components/DamageFormula.vue'
import RechargeFormula from '@/components/RechargeFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = withDefaults(defineProps<{
  character: Guardian,
  savingCharacter?: Guardian,
  ability: LightAbility,
  inMessage?: boolean,
  isOwnMessage?: boolean,
  readonly?: boolean
}>(), {
  inMessage: false,
  isOwnMessage: false,
  readonly: false
})
const emit = defineEmits(['update'])

const subclass = computed(() => props.character.subclass ? getSubclass(props.character.subclass) : null)
const formula = ref<InstanceType<typeof DialogWindow>>()
const saveFormula = ref<InstanceType<typeof DialogWindow>>()
const recharge = ref<InstanceType<typeof DialogWindow>>()
const sendToChat = inject('ChatSendDescription', undefined) as ComputedRef<(item: LightAbility, sender?: string) => Promise<void> | null>|undefined

function doRecharge() {
  recharge.value?.hide()
  emit('update')
}
</script>

<template>
  <Collapsible
    v-if="ability"
    :class="{ 'itemOpener border-zinc-600': !inMessage && !readonly && sendToChat, 'border-zinc-800': inMessage, 'border-zinc-600': readonly || !sendToChat }"
    class="w-full relative border-2 p-1 hover:after:bg-white/10 after:pointer-events-none after:cursor-pointer after:content-normal after:inset-0 after:absolute"
  >
    <template #opener="{ toggle }">
      <button v-if="!inMessage && !readonly && sendToChat" @click.prevent="() => sendToChat?.(ability, 'character')" class="itemAction absolute top-0 left-0 h-8 w-8 hidden p-1 mr-[0.125rem] hover:bg-white/50">
        <img class="invert" src="@/assets/attack.svg" />
      </button>
      <h3 class="cursor-pointer" @click="toggle">
        <span class="font-semibold">{{ ability.name }}</span>
        <span class="text-xs h-4 ml-2 text-zinc-400 uppercase" v-if="!inMessage">{{ ability.castingTime }}</span>
      </h3>
    </template>
    <template #before>
      <div class="absolute top-0 right-0 flex" :class="{ 'p-1': !inMessage }">
        <img v-if="ability.element === LightElement.Solar" :style="elementColors.solar.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/solar.svg" />
        <img v-if="ability.element === LightElement.Void" :style="elementColors.void.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/void.svg" />
        <img v-if="ability.element === LightElement.Arc" :style="elementColors.arc.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/arc.svg" />
        <img v-if="ability.resource === ChargeType.Grenade" src="@/assets/grenade.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
        <img v-if="ability.resource === ChargeType.Melee" src="@/assets/melee.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
        <img v-if="ability.resource === ChargeType.Super" src="@/assets/super.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
        <img v-if="ability.resource === ChargeType.Class && subclass?.class === Class.Titan" src="@/assets/titan.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
        <img v-if="ability.resource === ChargeType.Class && subclass?.class === Class.Warlock" src="@/assets/warlock.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
        <img v-if="ability.resource === ChargeType.Class && subclass?.class === Class.Hunter" src="@/assets/hunter.svg" class="invert h-6 w-5 mx-1 pointer-events-none" />
      </div>
    </template>
    <div class="flex flex-wrap gap-x-4 pt-1" :class="{ 'flex-col': inMessage }">
      <dl class="flex gap-1" v-if="ability.castingTime && inMessage">
        <dt class="flex text-xs h-6 items-center text-zinc-400 w-1/3">CASTING TIME</dt>
        <dd class="flex text-sm h-6 items-center">{{ ability.castingTime }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.range">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">RANGE</dt>
        <dd class="flex text-sm h-6 items-center">{{ ability.range }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.cost">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">COST</dt>
        <dd class="flex text-sm h-6 items-center" v-if="ability.resource === ChargeType.Grenade">{{ ability.cost }} grenade ability charge</dd>
        <dd class="flex text-sm h-6 items-center" v-if="ability.resource === ChargeType.Melee">{{ ability.cost }} melee ability charge</dd>
        <dd class="flex text-sm h-6 items-center" v-if="ability.resource === ChargeType.Super">{{ ability.cost }} super ability charge</dd>
        <dd class="flex text-sm h-6 items-center" v-if="ability.resource === ChargeType.Class">{{ ability.cost }} class ability charge</dd>
        <dd class="flex text-sm h-6 items-center" v-if="ability.resource === ChargeType.Subclass">{{ ability.cost }} {{ subclass?.charges?.name.toLowerCase() }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.recharge">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">RECHARGE</dt>
        <dd class="flex text-sm h-6 items-center">{{ ability.recharge }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.duration">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">DURATION</dt>
        <dd class="flex text-sm h-6 items-center">{{ ability.duration }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.damage?.length">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">DAMAGE</dt>
        <dd class="text-sm h-6 items-center">
          <DamageFormula :character="character" :subclass="subclass" :item="ability" />
        </dd>
      </dl>
      <dl class="flex gap-1" v-if="ability.prerequisiteLevel && ability.resource === ChargeType.Subclass">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">PREREQUISITE</dt>
        <dd class="flex text-sm h-6 items-center">Lv.{{ ability.prerequisiteLevel }}</dd>
      </dl>
    </div>
    <div class="text-sm markdown pt-1 -mb-2" v-html="applyMarkdown(ability.description)" />
    <div class="flex flex-wrap gap-x-1 pt-2" v-if="!inMessage || (inMessage && isOwnMessage && (ability.attackFormula || ability.damage?.length))">
      <DialogButton v-if="!inMessage && ability.recharge && !readonly" @click="recharge?.show">RECHARGE</DialogButton>
    </div>
  </Collapsible>
  <div class="flex gap-1">
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && isOwnMessage && (ability.attackFormula || ability.damage?.length)" @click="formula?.show">ROLL</DialogButton>
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && (ability.savingThrowFormula?.length)" @click="saveFormula?.show">SAVING THROW</DialogButton>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-power-dice" class="max-w-[30rem]" v-if="inMessage && !readonly && isOwnMessage && (ability.attackFormula || ability.damage?.length)" ref="formula">
      <DamageFormula :character="character" :subclass="subclass" :item="ability" show-all-formula @before-roll="formula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="guardian-power-save" class="max-w-[30rem]" v-if="inMessage && !readonly && (ability.savingThrowFormula?.length)" ref="saveFormula">
      <DamageFormula :character="character" :saving-character="savingCharacter" :subclass="subclass" :item="ability" show-save-formula @before-roll="saveFormula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="guardian-power-recharge" class="max-w-[30rem]" v-if="!inMessage && !readonly && ability.recharge" ref="recharge">
      <p>Recharging an ability occurs at the beginning of your turn or when a feature or ability instructs you to do so.</p>
      <p>When you roll the dice specified in the "recharge" formula, you must get at least the number indicated to successfully gain one charge of that ablity.</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <RechargeFormula :character="character" :item="ability" @roll="doRecharge" />
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
