<script setup lang="ts">
import { watch, computed, ref, inject, ComputedRef } from 'vue'
import { Feature, Guardian, SubclassFeature } from '@/models/destiny'
import { getSubclass } from '@/models/destinySubclasses'
import { applyMarkdown } from '@/utils'
import Collapsible from '@/components/Collapsible.vue'
import Checkbox from '@/components/forms/Checkbox.vue'

const props = defineProps<{ character: Guardian, features: SubclassFeature[], disabled: boolean, readonly?: boolean }>()
const emit = defineEmits(['update'])
const sendToChat = inject('ChatSendDescription', undefined) as ComputedRef<(item: Feature, sender?: string) => Promise<void> | null>|undefined

const subclass = computed(() => props.character.subclass ? getSubclass(props.character.subclass) : null)
const selection = ref([...props.character.subclassFeatureChoices[subclass.value!.charges!.name] || []])

watch(selection, (value: string[]) => {
  props.character.subclassFeatureChoices[subclass.value!.charges!.name] = value
  emit('update')
})
</script>

<template>
  <template v-for="(feature, i) in features.filter(Boolean)" :key="feature.name">
    <Collapsible v-if="!disabled || selection.includes(feature.name)" :class="{ 'itemOpener': !readonly && sendToChat }" class="bg-zinc-700 px-2 py-1 relative hover:bg-zinc-600">
      <template #opener="{ toggle }">
        <button v-if="!readonly && sendToChat" @click.prevent="() => sendToChat?.(feature, 'character')" class="itemAction absolute top-0 left-0 h-8 w-8 hidden p-1 mr-[0.125rem] hover:bg-white/50">
          <img class="invert" src="@/assets/attack.svg" />
        </button>
        <h3 class="cursor-pointer font-semibold" @click="toggle">{{ feature.name }}</h3>
      </template>
      <template #before>
        <small v-if="!readonly" class="absolute top-2 right-2 flex gap-1 text-zinc-400">
          <Checkbox v-model="selection" name="global" :value="feature.name" type="checkbox" :disabled="disabled && !selection.includes(feature.name)" />
        </small>
        <div class="absolute top-2" :class="{ 'right-2': readonly, 'right-8': !readonly }">
          <dl class="flex gap-1" v-if="feature.prerequisite">
            <dt class="flex text-xs h-6 items-center text-zinc-400">PREREQUISITE</dt>
            <dd class="flex text-sm h-6 items-center">{{ feature.prerequisite }}</dd>
          </dl>
        </div>
      </template>
      <div class="text-sm markdown">
        <div v-if="feature.description" class="-mb-1" v-html="applyMarkdown(feature.description)" />
      </div>
    </Collapsible>
  </template>
</template>
