<script setup lang="ts">
import { DamageType, MiscItemType, Guardian, HeavyWeaponItemType, Item, ItemRange, ItemRarity, MartialWeaponItemType,
  PrimaryWeaponItemType, SimpleWeaponItemType, VehicleItemType, WeaponItemType, Size, GenericItemType, ArmorItemType, 
  ItemType} from '@/models/destiny'
import { applyMarkdown, getItemPropertyName, getRarityName, getItemTypeName, getAllRarities, getAllItemProperties,
  getDamageTypeName, enumerateEnum, conditions, getAllAbilities, getAbilityName, getItemPropertyDescription } from '@/utils'
import { elementColors } from '@/utils/color'
import { ComputedRef, computed, inject, ref, watch } from 'vue'
import MultiSelect from '@vueform/multiselect'
import { Arrow, HeavyAmmo, PrimaryAmmo, Rocket, getItem } from '@/models/destinyItems'
import { getSubclass } from '@/models/destinySubclasses'
import Collapsible from '@/components/Collapsible.vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import DamageFormula from '@/components/DamageFormula.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import ListingHeader from '@/components/ListingHeader.vue'

const uuidEmpty = '00000000-0000-0000-0000-000000000000'

const priorityDamageTypes = [
  DamageType.Arc,
  DamageType.ExplosiveArc,
  DamageType.Solar,
  DamageType.ExplosiveSolar,
  DamageType.Void,
  DamageType.ExplosiveVoid,
  DamageType.Stasis,
  DamageType.ExplosiveStasis,
  DamageType.Strand,
  DamageType.ExplosiveStrand,
  DamageType.Luster,
  DamageType.ExplosiveLuster
]

const otherDamageTypes = [
  DamageType.Light,
  DamageType.ExplosiveLight,
  DamageType.Darkness,
  DamageType.ExplosiveDarkness,
  DamageType.Poison,
  DamageType.ExplosivePoison,
  DamageType.Psychic,
  DamageType.ExplosivePsychic
]

const arrowId = (new Arrow).id
const primaryAmmoId = (new PrimaryAmmo).id
const heavyAmmoId = (new HeavyAmmo).id
const rocketId = (new Rocket).id

const allItemProperties = getAllItemProperties().map(x => ({ label: getItemPropertyName(x), value: x}))

const sendItem = inject('ChatSendItem', undefined) as ComputedRef<(item: Item, index: number) => Promise<void>|null>|undefined
const sendToChat = inject('ChatSendDescription', undefined) as ComputedRef<(item: Item, sender?: string) => Promise<void>|null>|undefined
const showToast = inject('ShowToast', undefined) as (({ content, isSuccess }: { content: string, isSuccess: boolean }) => void)|undefined

const emit = defineEmits(['copy', 'update', 'updateAll', 'delete'])
const props = withDefaults(defineProps<{
  character: Guardian,
  savingCharacter?: Guardian,
  item: Item,
  index: number,
  copyOnly?: boolean,
  inMessage?: boolean,
  isOwnMessage?: boolean,
  readonly?: boolean
}>(), {
  copyOnly: false,
  inMessage: false,
  isOwnMessage: false,
  readonly: false
})

const subclass = computed(() => props.character.subclass ? getSubclass(props.character.subclass) : null)

const ammo = ref<InstanceType<typeof DialogWindow>>()
const quantity = ref<InstanceType<typeof DialogWindow>>()
const formula = ref<InstanceType<typeof DialogWindow>>()
const saveFormula = ref<InstanceType<typeof DialogWindow>>()
const formulaInfo = ref<InstanceType<typeof DialogWindow>>()
const editItem = ref<InstanceType<typeof DialogWindow>>()
const reset = ref<InstanceType<typeof DialogWindow>>()
const remove = ref<InstanceType<typeof DialogWindow>>()
const itemClone = ref<Item>(JSON.parse(JSON.stringify(props.item)))
const element = computed(() => 
  props.item.damage?.find(x => priorityDamageTypes.includes(x.type))?.type ??
  props.item.damage?.find(x => otherDamageTypes.includes(x.type))?.type ??
  props.item.damage?.[0]?.type
)

function copyItem(item: Item) {
  if (item.uuid === uuidEmpty) {
    showToast?.({ content: `${item.name} has been acquired.`, isSuccess: true })
  } else {
    showToast?.({ content: `${item.name} has been duplicated.`, isSuccess: true })
  }

  emit('copy', item)
}

function updateItem(item: Item, index: number) {
  emit('update', item, index)
  showToast?.({ content: `${item.name} has been updated.`, isSuccess: true })
}

function equipItem(item: Item, itemClone: Item, index: number) {
  item.equipped = !item.equipped
  itemClone.equipped = item.equipped
  emit('update', item, index)
  showToast?.({ content: `${item.name} has been ${item.equipped ? 'equipped' : 'unequipped'}.`, isSuccess: true })
}

function getRarityStyle(rarity: ItemRarity) {
  switch (rarity) {
    case ItemRarity.Uncommon: return { borderColor: 'hsla(126,35%,32%, 0.9)', backgroundColor: 'hsla(126,35%,32%, 0.3)' }
    case ItemRarity.Rare: return { borderColor: 'hsla(213,34%,48%, 0.9)', backgroundColor: 'hsla(213,34%,48%, 0.3)' }
    case ItemRarity.Legendary: return { borderColor: 'hsla(279,36%,29%, 0.9)', backgroundColor: 'hsla(279,36%,29%, 0.3)' }
    case ItemRarity.Exotic: return { borderColor: 'hsla(48,61%,50%, 0.9)', backgroundColor: 'hsla(48,61%,50%, 0.3)' }
  }
}

function doRemove(index: number) {
  showToast?.({ content: `${props.item.name} has been deleted.`, isSuccess: true })
  emit('delete', index)
}

function doReset(item: Item, index: number) {
  if (item.id) {
    const foundItem = getItem(item.id)

    if (foundItem) {
      item = {
        ...foundItem,
        uuid: item.uuid,
      }
      emit('update', item, index)
      showToast?.({ content: `${item.name} reset to its default properties.`, isSuccess: true })
    }
  }
}

function reloadItem() {
  if (props.item.shotCapacity && props.item.linkedConsumable) {
    props.item.currentShots = props.item.shotCapacity
    const characterItemIndex = props.character.items.findIndex(x => x.id === props.item.linkedConsumable)

    if (props.character.items[characterItemIndex]) {
      if ((props.character.items[characterItemIndex].quantity || 0) < 1) {
        showToast?.({ content: `${props.item.name} could not decrease quantity of ${props.character.items[characterItemIndex].name}`, isSuccess: false })
      } else {
        props.character.items[characterItemIndex].quantity = (props.character.items[characterItemIndex].quantity || 1) - 1
        showToast?.({ content: `${props.item.name} has been reloaded. ${props.character.items[characterItemIndex].name} quantity has been decreased by 1.`, isSuccess: true })
        emit('updateAll')
      }
    }
  }
}

const notEnoughShots = computed(() => {
  if (props.item.shotCapacity) {
    const characterItemIndex = props.character.items.findIndex(x => x.uuid === props.item.uuid)

    if (props.character.items[characterItemIndex]) {
      return (props.character.items[characterItemIndex].currentShots || 0) < 1
        ? 'Not enough shots left!'
        : ''
    }
  } else if (props.item.linkedConsumable) {
    const characterItemIndex = props.character.items.findIndex(x => x.id === props.item.linkedConsumable)

    if (props.character.items[characterItemIndex]) {
      return (props.character.items[characterItemIndex].quantity || 0) < 1
        ? 'Not enough ammo left!'
        : ''
    }
  }

  return ''
})

function onRoll(isAttack: boolean) {
  if (!isAttack) return

  if (props.item.shotCapacity) {
    const characterItemIndex = props.character.items.findIndex(x => x.uuid === props.item.uuid)

    if (props.character.items[characterItemIndex]) {
      ammo.value?.show()
    }
  } else if (props.item.linkedConsumable) {
    const characterItemIndex = props.character.items.findIndex(x => x.id === props.item.linkedConsumable)

    if (props.character.items[characterItemIndex]) {
      quantity.value?.show()
    }
  }
}

function doConsumeAmmunition() {
  const characterItemIndex = props.character.items.findIndex(x => x.uuid === props.item.uuid)

  if (props.character.items[characterItemIndex]) {
    if ((props.character.items[characterItemIndex].currentShots || 0) < 1) {
      showToast?.({ content: `${props.item.name} could not decrease shot count of ${props.character.items[characterItemIndex].name}`, isSuccess: false })
    } else {
      props.character.items[characterItemIndex].currentShots = (props.character.items[characterItemIndex].currentShots || 1) - 1
      props.item.currentShots = props.character.items[characterItemIndex].currentShots
      showToast?.({ content: `${props.item.name} consumed 1 ammunition.`, isSuccess: true })
      emit('updateAll')
    }
  }
}

function doConsumeQuantity() {
  const characterItemIndex = props.character.items.findIndex(x => x.id === props.item.linkedConsumable)

  if (props.character.items[characterItemIndex]) {
    if ((props.character.items[characterItemIndex].quantity || 0) < 1) {
      showToast?.({ content: `${props.item.name} could not decrease quantity of ${props.character.items[characterItemIndex].name}`, isSuccess: false })
    } else {
      props.character.items[characterItemIndex].quantity = (props.character.items[characterItemIndex].quantity || 1) - 1
      props.item.quantity = props.character.items[characterItemIndex].quantity
      showToast?.({ content: `${props.item.name} quantity has been decreased by 1.`, isSuccess: true })
      emit('updateAll')
    }
  }
}

watch(() => props.item.quantity, () => {
  itemClone.value.quantity = props.item.quantity
}, { deep: true })
watch(() => props.item.currentShots, () => {
  itemClone.value.currentShots = props.item.currentShots
}, { deep: true })
watch(() => itemClone.value.memory, () => {
  if (!itemClone.value.memory?.[0] && !itemClone.value.memory?.[1]) {
    delete itemClone.value.memory
  }
}, { deep: true })
watch(() => itemClone.value.scope, () => {
  if (!itemClone.value.scope?.[0] && !itemClone.value.scope?.[1] && !itemClone.value.scope?.[2]) {
    delete itemClone.value.scope
  }
}, { deep: true })
watch(() => itemClone.value.quantity, () => {
  if (itemClone.value.memory?.[1] && (itemClone.value.quantity || 0) > itemClone.value.memory[1]) {
    itemClone.value.quantity = itemClone.value.memory[1]
  }
}, { deep: true })
watch(() => itemClone.value.currentShots, () => {
  if (itemClone.value.shotCapacity && (itemClone.value.currentShots || 0) > itemClone.value.shotCapacity) {
    itemClone.value.currentShots = itemClone.value.shotCapacity
  }
}, { deep: true })
</script>

<template>
  <Collapsible
    v-if="item"
    :class="{ 'itemOpener border-zinc-600': !inMessage && !copyOnly && !readonly && sendToChat, 'border-zinc-800': inMessage, 'border-zinc-600': copyOnly || readonly || !sendToChat }"
    class="w-full relative border-2 p-1 hover:after:bg-white/10 after:pointer-events-none after:cursor-pointer after:content-normal after:inset-0 after:absolute"
    :style="{ ...getRarityStyle(item.rarity) }"
  >
    <template #opener="{ toggle, open }">
      <button v-if="!inMessage && !copyOnly && !readonly && sendToChat" @click.prevent="() => sendToChat?.(item, 'character')" class="itemAction absolute top-0 left-0 h-8 w-8 hidden p-1 mr-[0.125rem] hover:bg-white/50">
        <img class="invert" src="@/assets/attack.svg" />
      </button>
      <h3 class="cursor-pointer" @click="toggle">
        <img v-if="item.equipped" src="@/assets/equipped.svg" class="h-3 -mt-1 mr-1 invert inline-block" />
        <span class="font-semibold">{{ item.name }}</span>
        <span v-if="open && !inMessage" class="text-xs h-4 ml-2 text-zinc-400 uppercase hidden xs:inline">{{ getRarityName(item.rarity) }}&nbsp;&nbsp;{{ getItemTypeName(item.type, false) }}</span>
      </h3>
    </template>
    <template #before>
      <div class="absolute top-0 right-0 flex" :class="{ 'p-1': !inMessage }">
        <div class="p-1" v-if="!inMessage">
          <dl class="flex gap-1" v-if="item.quantity">
            <dt class="flex text-xs h-4 items-end text-zinc-400">QTY</dt>
            <dd class="flex text-sm h-4 items-center">{{ item.quantity }}</dd>
          </dl>
        </div>
        <span v-if="item.linkedConsumable === arrowId" class="flex items-center">
          <img src="@/assets/arrow.svg" class="invert h-6 w-5 pointer-events-none" />
          <small class="text-xs text-zinc-400 mr-1 hidden xs:inline" v-if="!inMessage">ARROWS</small>
        </span>
        <span v-if="item.linkedConsumable === primaryAmmoId" class="flex items-center">
          <img src="@/assets/primary.svg" class="h-6 w-5 mr-1 pointer-events-none" />
          <small class="text-xs text-zinc-400 mr-1 hidden xs:inline" v-if="!inMessage">PRIMARY AMMO</small>
        </span>
        <span v-if="item.linkedConsumable === heavyAmmoId" class="flex items-center">
          <img src="@/assets/heavy.svg" class="h-6 w-5 mr-1 pointer-events-none" />
          <small class="text-xs text-zinc-400 mr-1 hidden xs:inline" v-if="!inMessage">HEAVY AMMO</small>
        </span>
        <span v-if="item.linkedConsumable === rocketId" class="flex items-center">
          <img src="@/assets/rocket.svg" style="filter: invert(81%) sepia(43%) saturate(7041%) hue-rotate(216deg) brightness(101%) contrast(81%);" class="h-6 w-5 pointer-events-none" />
          <small class="text-xs text-zinc-400 mr-1 hidden xs:inline" v-if="!inMessage">ROCKETS</small>
        </span>
        <span v-if="item.shotCapacity && !inMessage" class="text-sm leading-6 mr-1">
          {{ item.currentShots || 0 }}/{{ item.shotCapacity }}
        </span>
        <img v-if="element === DamageType.Solar || element === DamageType.ExplosiveSolar" :style="elementColors.solar.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/solar.svg" />
        <img v-if="element === DamageType.Void || element === DamageType.ExplosiveVoid" :style="elementColors.void.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/void.svg" />
        <img v-if="element === DamageType.Arc || element === DamageType.ExplosiveArc" :style="elementColors.arc.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/arc.svg" />
        <img v-if="element === DamageType.Stasis || element === DamageType.ExplosiveStasis" :style="elementColors.stasis.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/stasis.svg" />
        <img v-if="element === DamageType.Strand || element === DamageType.ExplosiveStrand" :style="elementColors.strand.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/strand.svg" />
        <img v-if="element === DamageType.Luster || element === DamageType.ExplosiveLuster" :style="elementColors.luster.filter" class="h-6 w-6 p-1 pointer-events-none" src="@/assets/luster.svg" />
        <img v-if="element === DamageType.Light || element === DamageType.ExplosiveLight" class="invert-[10%] h-6 w-6 p-1 pointer-events-none" src="@/assets/light.svg" />
        <img v-if="element === DamageType.Darkness || element === DamageType.ExplosiveDarkness" class="invert-[40%] h-6 w-6 p-1 pointer-events-none" src="@/assets/darkness.svg" />
        <img v-if="element === DamageType.Poison || element === DamageType.ExplosivePoison" class="invert h-6 w-6 p-1 pointer-events-none" src="@/assets/poison.svg" />
        <img v-if="element === DamageType.Psychic || element === DamageType.ExplosivePsychic" class="invert h-6 w-6 p-1 pointer-events-none" src="@/assets/psychic.svg" />
        <img v-if="element === DamageType.Kinetic || element === DamageType.ExplosiveKinetic" class="invert h-6 w-6 p-1 pointer-events-none" src="@/assets/kinetic.svg" />
      </div>
    </template>
    <div class="flex flex-wrap gap-x-4 pt-1" :class="{ 'flex-col': inMessage }">
      <dl class="flex gap-1" :class="{ 'xs:hidden': !inMessage }" v-if="item.type">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">TYPE</dt>
        <dd class="flex text-sm h-6 items-center">{{ getRarityName(item.rarity) }}&nbsp;&nbsp;{{ getItemTypeName(item.type, false) }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.cost">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">COST</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.cost }} Gl.</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.memory">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">MEMORY</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.memory.join('/') }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.weight">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">WEIGHT</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.weight }} lb.</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.ac">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">AC</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.ac }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.prerequisite">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">PREREQUISITE</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.prerequisite }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.conditions">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">COND.</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.conditions.join(', ') }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.range">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">RANGE</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.range.join('/') }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.scope">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">SCOPE</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.scope.join('/') }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.scopeRange !== undefined">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">RANGE</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.scopeRange === ItemRange.Close ? 'Close' : item.scopeRange === ItemRange.Medium ? 'Medium' : 'Long' }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.damage?.length">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">DAMAGE</dt>
        <dd class="text-sm h-6 items-center">
          <DamageFormula :character="character" :subclass="subclass" :item="item" />
        </dd>
      </dl>
      <dl class="flex gap-1" v-if="item.quantity && inMessage">
        <dt class="flex text-xs h-6 items-center text-zinc-400" :class="{ 'w-1/3': inMessage }">QTY</dt>
        <dd class="flex text-sm h-6 items-center">{{ item.quantity }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="inMessage">
        <dt class="flex text-xs h-6 items-center text-zinc-400 w-1/3" v-if="item.linkedConsumable === arrowId">ARROWS</dt>
        <dt class="flex text-xs h-6 items-center text-zinc-400 w-1/3" v-if="item.linkedConsumable === primaryAmmoId">PRIMARY AMMO</dt>
        <dt class="flex text-xs h-6 items-center text-zinc-400 w-1/3" v-if="item.linkedConsumable === heavyAmmoId">HEAVY AMMO</dt>
        <dt class="flex text-xs h-6 items-center text-zinc-400 w-1/3" v-if="item.linkedConsumable === rocketId">ROCKETS</dt>
        <dd class="flex text-sm h-6 items-center" v-if="item.shotCapacity">{{ item.currentShots || 0 }}/{{ item.shotCapacity }}</dd>
      </dl>
      <dl class="flex gap-1" v-if="item.properties">
        <dt class="flex text-xs h-6 items-center text-zinc-400 flex-shrink-0" :class="{ 'w-1/3': inMessage }">PROPERTIES</dt>
        <dd class="flex text-sm" :class="{ 'items-center': !inMessage }">{{ item.properties.map(x => getItemPropertyName(x)).join(', ') }}</dd>
      </dl>
    </div>
    <hr class="border-t-2 border-zinc-600 my-1" v-if="item.properties?.length || item.description" />
    <div class="flex flex-col">
      <dl class="inline-block leading-4" v-for="property in item.properties">
        <dt class="text-sm inline"><strong>{{ getItemPropertyName(property) }}.</strong></dt>
        <dd class="text-sm markdown" v-html="applyMarkdown(getItemPropertyDescription(property))" />
      </dl>
    </div>
    <div class="text-sm markdown pt-1 -mb-2" v-html="applyMarkdown(item.description ?? '')" />
    <div class="flex flex-col gap-1">
      <dl class="flex gap-1 border-t-2 pt-1 border-zinc-500" v-if="item.slot1">
        <dt class="flex text-xs w-1/5 text-zinc-400 uppercase">{{ item.slot1.name }}</dt>
        <dd class="flex text-sm w-4/5">{{ item.slot1.description }}</dd>
      </dl>
      <dl class="flex gap-1 border-t-2 pt-1 border-zinc-500" v-if="item.slot2">
        <dt class="flex text-xs w-1/5 text-zinc-400 uppercase">{{ item.slot2.name }}</dt>
        <dd class="flex text-sm w-4/5">{{ item.slot2.description }}</dd>
      </dl>
      <dl class="flex gap-1 border-t-2 pt-1 border-zinc-500" v-if="item.slot3">
        <dt class="flex text-xs w-1/5 text-zinc-400 uppercase">{{ item.slot3.name }}</dt>
        <dd class="flex text-sm w-4/5">{{ item.slot3.description }}</dd>
      </dl>
    </div>
    <div class="flex flex-wrap gap-1 pt-2" v-if="(!inMessage && !readonly) || (inMessage && isOwnMessage && !copyOnly && (item.attackFormula || item.damage?.length))">
      <DialogButton v-if="!inMessage && !copyOnly" @click="editItem?.show">EDIT</DialogButton>
      <DialogButton v-if="!inMessage && !copyOnly" @click="() => equipItem(item, itemClone, index)">{{ item.equipped ? 'UNEQUIP': 'EQUIP' }}</DialogButton>
      <DialogButton v-if="!inMessage && !copyOnly && item.linkedConsumable && item.shotCapacity" @click="reloadItem">RELOAD</DialogButton>
      <DialogButton v-if="!inMessage && !copyOnly && sendItem" @click="() => sendItem?.(item, index)">SEND</DialogButton>
      <DialogButton v-if="!inMessage" @click="() => copyItem(item)">{{ copyOnly ? 'ACQUIRE' : 'DUPLICATE' }}</DialogButton>
      <DialogButton v-if="!inMessage && !copyOnly && item.id" @click="reset?.show" color="danger">RESET</DialogButton>
      <DialogButton v-if="!inMessage && !copyOnly" @click="remove?.show" color="danger">DELETE</DialogButton>
    </div>
  </Collapsible>
  <div class="flex gap-1" v-if="inMessage">
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && isOwnMessage && !copyOnly && (item.attackFormula || item.damage?.length)" @click="formula?.show">ROLL</DialogButton>
    <DialogButton class="mt-1 border-zinc-900 border-2 bg-zinc-800" block v-if="inMessage && (item.savingThrowFormula?.length)" @click="saveFormula?.show">SAVING THROW</DialogButton>
  </div>
  <Teleport to="body">
    <DialogWindow key="item-quantity" class="max-w-[30rem]" v-if="inMessage && !readonly && !copyOnly" ref="quantity">
      <p>Do you want to decrease this item's quantity?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="doConsumeQuantity" color="success">YES</DialogButton>
        <DialogButton>NO</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-ammo" class="max-w-[30rem]" v-if="inMessage && !readonly && !copyOnly" ref="ammo">
      <p>Do you want to consume ammunition?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="doConsumeAmmunition" color="success">YES</DialogButton>
        <DialogButton>NO</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-dice" class="max-w-[30rem]" v-if="!readonly && inMessage && isOwnMessage && !copyOnly && (item.attackFormula || item.damage?.length)" ref="formula">
      <DamageFormula :character="character" :subclass="subclass" :item="item" show-all-formula :attack-warning="notEnoughShots" @before-roll="formula?.hide" @roll="onRoll" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-save" class="max-w-[30rem]" v-if="inMessage && !readonly && (item.savingThrowFormula?.length)" ref="saveFormula">
      <DamageFormula :character="character" :saving-character="savingCharacter" :subclass="subclass" :item="item" show-save-formula @before-roll="saveFormula?.hide" />
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-delete" class="max-w-[30rem]" v-if="!inMessage && !readonly && !copyOnly" ref="remove">
      <p>Are you sure you want to delete {{ item.name ?? 'this item' }}?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="() => doRemove(index)" color="danger">DELETE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-reset" class="max-w-[30rem]" v-if="!inMessage && !readonly && !copyOnly" ref="reset">
      <p>Are you sure you want to reset {{ item.name ?? 'this item' }} to its default data?</p>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="() => doReset(item, index)" color="danger">DELETE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
    <DialogWindow key="item-edit" class="max-w-[60rem]" v-if="!inMessage && !readonly && !copyOnly" ref="editItem">
      <div class="flex flex-col lg:flex-row gap-x-3 gap-y-2">
        <div class="w-full flex flex-col gap-2">
          <fieldset class="border-2 border-zinc-500 p-3 flex flex-col gap-y-1">
            <legend class="text-xs text-zinc-400 mx-2 px-1">GENERAL</legend>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">NAME</small>
              <input v-model="itemClone.name" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">RARITY</small>
              <select v-model="itemClone.rarity" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option v-for="rarity in getAllRarities()" :value="rarity">{{ getRarityName(rarity) }}</option>
              </select>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">SIZE</small>
              <select v-model="itemClone.size" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option></option>
                <option :value="Size.Tiny">Tiny</option>
                <option :value="Size.Small">Small</option>
                <option :value="Size.Medium">Medium</option>
                <option :value="Size.Large">Large</option>
                <option :value="Size.Huge">Huge</option>
                <option :value="Size.Gargantuan">Gargantuan</option>
              </select>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">TYPE</small>
              <select v-model="itemClone.type" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <optgroup :label="getItemTypeName(WeaponItemType.SimpleWeapon, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(SimpleWeaponItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(WeaponItemType.MartialWeapon, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(MartialWeaponItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(WeaponItemType.PrimaryWeapon, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(PrimaryWeaponItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(WeaponItemType.HeavyWeapon, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(HeavyWeaponItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                  <option :value="WeaponItemType.RelicWeapon">{{ getItemTypeName(WeaponItemType.RelicWeapon, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(MiscItemType.Armor, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(ArmorItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(MiscItemType.Vehicle, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(VehicleItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
                <optgroup :label="getItemTypeName(MiscItemType.Other, false)">
                  <option v-for="_type in enumerateEnum<ItemType>(GenericItemType)" :key="_type" :value="_type">{{ getItemTypeName(_type, false) }}</option>
                </optgroup>
              </select>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">COST</small>
              <input type="number" :min="0" v-model="itemClone.cost" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
              <span class="absolute right-0 -top-[0.375rem] bg-zinc-500 block h-8 py-1 px-2 leading-6 text-sm font-semibold">Glimmer (Gl.)</span>
            </div>
            <div class="flex h-6 mt-2 mb-1 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right mr-2">MEMORY</small>
              <div class="w-2/3 relative" v-if="itemClone.memory">
                <input type="number" :min="0" v-model="itemClone.memory[0]" class="mt-1 mb-2 px-2 bg-zinc-800 w-1/2 cursor-pointer h-8 border-zinc-500 border-2 border-r-0" />
                <input type="number" :min="0" v-model="itemClone.memory[1]" class="mt-1 mb-2 px-2 bg-zinc-800 w-1/2 cursor-pointer h-8 border-zinc-500 border-2 border-l-0" />
                <hr class="border-t-2 border-zinc-500 w-8 absolute right-1/2 top-5 -mr-3 -rotate-[60deg]" />
              </div>
              <button v-else @click="itemClone.memory = [1, 1]" class="py-1 text-xs px-4 w-2/3 bg-zinc-700 hover:bg-zinc-600 font-semibold">ADD MEMORY</button>
            </div>
            <div class="flex -mt-1 text-zinc-400 gap-2 items-center" v-if="itemClone.memory">
              <small class="w-1/3 mr-2"></small>
              <small class="w-1/3">Memory cost</small>
              <small class="w-1/3">Stack maximum</small>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">QUANTITY</small>
              <input type="number" :min="0" v-model="itemClone.quantity" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">WEIGHT</small>
              <input type="number" :min="0" v-model="itemClone.weight" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
              <span class="absolute right-0 -top-[0.375rem] bg-zinc-500 block h-8 py-1 px-2 leading-6 text-sm font-semibold">Pounds (lb.)</span>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">WEIGHT LIMIT</small>
              <input type="number" :min="0" v-model="itemClone.weightLimit" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
              <span class="absolute right-0 -top-[0.375rem] bg-zinc-500 block h-8 py-1 px-2 leading-6 text-sm font-semibold">Pounds (lb.)</span>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">PREREQUISITE</small>
              <input v-model="itemClone.prerequisite" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-24 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">DESCRIPTION</small>
              <textarea v-model="itemClone.description" class="mt-1 mb-2 px-2 resize-none bg-zinc-800 w-2/3 cursor-pointer h-24 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <div class="flex w-1/3 gap-2 items-center"></div>
              <div class="flex w-1/3 gap-2 items-center">
                <small class="text-xs text-zinc-400 text-right">PROFICIENT</small>
                <Checkbox v-model="itemClone.proficient" type="checkbox" light />
              </div>
              <div class="flex w-1/3 gap-2 items-center">
                <small class="text-xs text-zinc-400 text-right">EQUIPPED</small>
                <Checkbox v-model="itemClone.equipped" type="checkbox" light />
              </div>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <div class="flex w-1/3 gap-2 items-center"></div>
              <div class="flex w-1/3 gap-2 items-center">
                <small class="text-xs text-zinc-400 text-right">ATTUNED</small>
                <Checkbox v-model="itemClone.attuned" type="checkbox" light />
              </div>
              <div class="flex w-1/3 gap-2 items-center">
                <small class="text-xs text-zinc-400 text-right">ABILITY</small>
                <select v-model="itemClone.ability" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                  <option :value="undefined"></option>
                  <option v-for="ability in getAllAbilities()" :key="ability" :value="ability">{{ getAbilityName(ability) }}</option>
                </select>
              </div>
            </div>
            <div class="flex h-24 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">NOTES</small>
              <textarea v-model="itemClone.note" class="mt-1 mb-2 px-2 resize-none bg-zinc-800 w-2/3 cursor-pointer h-24 border-zinc-500 border-2" />
            </div>
          </fieldset>
          <fieldset class="border-2 border-zinc-500 p-3 flex flex-col gap-y-1">
            <legend class="text-xs text-zinc-400 mx-2 px-1">ARMOR</legend>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">ARMOR CLASS</small>
              <input v-model="itemClone.ac" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-3 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">APPLIES CONDITIONS</small>
              <div class="text-sm w-2/3 mt-2 mb-1 border-2 border-zinc-500">
                <MultiSelect class="text-sm px-1 cursor-pointer bg-zinc-800 hover:bg-white/25 ms-small" :options="conditions" v-model="itemClone.conditions" :close-on-select="false" mode="tags" />
              </div>
            </div>
          </fieldset>
        </div>
        <div class="w-full flex flex-col gap-2">
          <fieldset class="border-2 border-zinc-500 p-3 flex flex-col gap-y-1">
            <legend class="text-xs text-zinc-400 mx-2 px-1">WEAPON</legend>
            <div class="flex h-6 mt-2 mb-3 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">WEAPON PROPERTIES</small>
              <div class="text-sm w-2/3 mt-2 mb-1 border-2 border-zinc-500">
                <MultiSelect class="text-sm px-1 cursor-pointer bg-zinc-800 hover:bg-white/25 ms-small" :options="allItemProperties" v-model="itemClone.properties" :close-on-select="false" mode="tags" />
              </div>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">CURRENT MAGAZINE</small>
              <input type="number" :min="0" :max="itemClone.shotCapacity" v-model="itemClone.currentShots" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">SHOT CAPACITY</small>
              <input type="number" :min="0" v-model="itemClone.shotCapacity" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">AMMUNITION</small>
              <select v-model="itemClone.linkedConsumable" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option></option>
                <option :value="arrowId">Arrows</option>
                <option :value="primaryAmmoId">Primary Ammunition</option>
                <option :value="heavyAmmoId">Heavy Ammunition</option>
                <option :value="rocketId">Rockets</option>
              </select>
            </div>
            <div class="flex h-6 mt-2 mb-1 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right mr-2">SCOPE</small>
              <div class="w-2/3 relative" v-if="itemClone.scope">
                <input type="number" :min="0" v-model="itemClone.scope[0]" class="mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2 border-r-0" />
                <input type="number" :min="0" v-model="itemClone.scope[1]" class="mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2 border-x-0" />
                <input type="number" :min="0" v-model="itemClone.scope[2]" class="mt-1 mb-2 px-2 bg-zinc-800 w-1/3 cursor-pointer h-8 border-zinc-500 border-2 border-l-0" />
                <hr class="border-t-2 border-zinc-500 w-8 absolute right-1/3 -mr-3 -rotate-[60deg] top-5" />
                <hr class="border-t-2 border-zinc-500 w-8 absolute right-2/3 -mr-3 -rotate-[60deg] top-5" />
              </div>
              <button v-else @click="() => itemClone.scope = [1, 2, 3]" class="py-1 text-xs px-4 w-2/3 bg-zinc-700 hover:bg-zinc-600 font-semibold">ADD SCOPE</button>
            </div>
            <div class="flex -mt-1 text-zinc-400 gap-2 items-center" v-if="itemClone.scope">
              <small class="w-1/3 mr-2"></small>
              <div class="w-2/3 flex mr-2">
                <small class="w-1/3 mr-2">Effective range</small>
                <small class="w-1/3 mr-2">Extended range</small>
                <small class="w-1/3">Maximum range</small>
              </div>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center" v-if="itemClone.scope || itemClone.scopeRange">
              <small class="text-xs text-zinc-400 w-1/3 text-right">SCOPE RANGE</small>
              <select v-model="itemClone.scopeRange" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option :value="ItemRange.Close">Close</option>
                <option :value="ItemRange.Medium">Medium</option>
                <option :value="ItemRange.Long">Long</option>
              </select>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center relative">
              <small class="text-xs text-zinc-400 w-1/3 text-right">ATTACK FORMULA</small>
              <input v-model="itemClone.attackFormula" class="mt-1 mb-2 px-2 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2" />
            </div>
            <div class="flex -mt-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">DAMAGE</small>
              <div class="w-2/3">
                <ListingHeader :headers="{
                  'FORMULA': 'w-1/2',
                  'TYPE': 'w-1/2'
                }">
                  <button @click="() => (itemClone.damage = itemClone.damage || []).push({ formula: '', type: DamageType.Kinetic })" class="text-zinc-400 h-6 w-6 -mr-1 flex justify-center items-center text-4xl rounded-2xl hover:bg-zinc-600">&plus;</button>
                </ListingHeader>
                <div class="flex items-center mb-1" v-for="(damage, i) in itemClone.damage" :key="i">
                  <input v-model="damage.formula" class="text-right px-2 bg-zinc-800 w-1/2 cursor-pointer h-8 border-zinc-500 border-2 border-r-0" />
                  <select v-model="damage.type" class="bg-zinc-800 w-1/2 text-sm cursor-pointer h-8 border-zinc-500 border-2">
                    <optgroup label="Generic">
                      <option :value="DamageType.Kinetic">{{ getDamageTypeName(DamageType.Kinetic) }}</option>
                      <option :value="DamageType.Poison">{{ getDamageTypeName(DamageType.Poison) }}</option>
                      <option :value="DamageType.Psychic">{{ getDamageTypeName(DamageType.Psychic) }}</option>
                      <option :value="DamageType.Healing">{{ getDamageTypeName(DamageType.Healing) }}</option>
                      <option :value="DamageType.HealthHealing">{{ getDamageTypeName(DamageType.HealthHealing) }}</option>
                      <option :value="DamageType.ShieldHealing">{{ getDamageTypeName(DamageType.ShieldHealing) }}</option>
                    </optgroup>
                    <optgroup label="Light">
                      <option :value="DamageType.Light">{{ getDamageTypeName(DamageType.Light) }}</option>
                      <option :value="DamageType.Arc">{{ getDamageTypeName(DamageType.Arc) }}</option>
                      <option :value="DamageType.Solar">{{ getDamageTypeName(DamageType.Solar) }}</option>
                      <option :value="DamageType.Void">{{ getDamageTypeName(DamageType.Void) }}</option>
                    </optgroup>
                    <optgroup label="Darkness">
                      <option :value="DamageType.Darkness">{{ getDamageTypeName(DamageType.Darkness) }}</option>
                      <option :value="DamageType.Stasis">{{ getDamageTypeName(DamageType.Stasis) }}</option>
                      <option :value="DamageType.Strand">{{ getDamageTypeName(DamageType.Strand) }}</option>
                      <!-- <option :value="DamageType.Luster">{{ getDamageTypeName(DamageType.Luster) }}</option> -->
                    </optgroup>
                    <optgroup label="Explosive Generic">
                      <option :value="DamageType.ExplosiveKinetic">{{ getDamageTypeName(DamageType.ExplosiveKinetic) }}</option>
                      <option :value="DamageType.ExplosivePoison">{{ getDamageTypeName(DamageType.ExplosivePoison) }}</option>
                      <option :value="DamageType.ExplosivePsychic">{{ getDamageTypeName(DamageType.ExplosivePsychic) }}</option>
                    </optgroup>
                    <optgroup label="Explosive Light">
                      <option :value="DamageType.ExplosiveLight">{{ getDamageTypeName(DamageType.ExplosiveLight) }}</option>
                      <option :value="DamageType.ExplosiveArc">{{ getDamageTypeName(DamageType.ExplosiveArc) }}</option>
                      <option :value="DamageType.ExplosiveSolar">{{ getDamageTypeName(DamageType.ExplosiveSolar) }}</option>
                      <option :value="DamageType.ExplosiveVoid">{{ getDamageTypeName(DamageType.ExplosiveVoid) }}</option>
                    </optgroup>
                    <optgroup label="Explosive Darkness">
                      <option :value="DamageType.ExplosiveDarkness">{{ getDamageTypeName(DamageType.ExplosiveDarkness) }}</option>
                      <option :value="DamageType.ExplosiveStasis">{{ getDamageTypeName(DamageType.ExplosiveStasis) }}</option>
                      <option :value="DamageType.ExplosiveStrand">{{ getDamageTypeName(DamageType.ExplosiveStrand) }}</option>
                      <!-- <option :value="DamageType.ExplosiveLuster">{{ getDamageTypeName(DamageType.ExplosiveLuster) }}</option> -->
                    </optgroup>
                  </select>
                  <div class="w-7 flex justify-end">
                    <button @click="() => itemClone.damage?.splice(i, 1)" class="text-zinc-400 -mr-1.5 h-6 w-6 flex justify-center items-center text-4xl rounded-2xl hover:bg-zinc-600">&times;</button>
                  </div>
                </div>
                <button class="bg-zinc-700 text-xs h-6 w-full hover:bg-zinc-600 font-semibold" @click="formulaInfo?.show">VARIABLES INFO</button>
                <DialogWindow key="item-edit-formula" class="max-w-[30rem]" ref="formulaInfo">
                  <h3 class="text-lg pb-2">Formula variables</h3>
                  <ul>
                    <li><strong class="inline-block w-24">[level]: </strong><span>The character level</span></li>
                    <li><strong class="inline-block w-24">[light]: </strong><span>The character's Light level</span></li>
                    <li><strong class="inline-block w-24">[lightMod]: </strong><span>The character's Light ability modifier</span></li>
                    <li><strong class="inline-block w-24">[prof]: </strong><span>The Proficiency bonus, if proficient with the item</span></li>
                    <li><strong class="inline-block w-24">[mod]: </strong><span>The Ability modifier used for the item</span></li>
                    <li><strong class="inline-block w-24">[str]: </strong><span>The Strength ability score</span></li>
                    <li><strong class="inline-block w-24">[dex]: </strong><span>The Dexterity ability score</span></li>
                    <li><strong class="inline-block w-24">[con]: </strong><span>The Constitution ability score</span></li>
                    <li><strong class="inline-block w-24">[int]: </strong><span>The Intelligence ability score</span></li>
                    <li><strong class="inline-block w-24">[wis]: </strong><span>The Wisdom ability score</span></li>
                    <li><strong class="inline-block w-24">[cha]: </strong><span>The Charisma ability score</span></li>
                    <li><strong class="inline-block w-24">[strMod]: </strong><span>The Strength ability modifier</span></li>
                    <li><strong class="inline-block w-24">[dexMod]: </strong><span>The Dexterity ability modifier</span></li>
                    <li><strong class="inline-block w-24">[conMod]: </strong><span>The Constitution ability modifier</span></li>
                    <li><strong class="inline-block w-24">[intMod]: </strong><span>The Intelligence ability modifier</span></li>
                    <li><strong class="inline-block w-24">[wisMod]: </strong><span>The Wisdom ability modifier</span></li>
                    <li><strong class="inline-block w-24">[chaMod]: </strong><span>The Charisma ability modifier</span></li>
                  </ul>
                  <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
                    <DialogButton>CLOSE</DialogButton>
                  </form>
                </DialogWindow>
              </div>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">FIRST PERK</small>
              <select v-model="itemClone.slot1" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option :value="null">No perk</option>
                <option v-for="perk in itemClone.slot1Choices" :value="perk">{{ perk.name }}</option>
              </select>
            </div>
            <div class="flex -mt-1 text-zinc-400 gap-2 items-center" v-if="itemClone.slot1">
              <small class="w-1/3 mr-2"></small>
              <small class="w-2/3 flex mr-2">{{ itemClone.slot1.description }}</small>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">SECOND PERK</small>
              <select v-model="itemClone.slot2" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option :value="null">No perk</option>
                <option v-for="perk in itemClone.slot2Choices" :value="perk">{{ perk.name }}</option>
              </select>
            </div>
            <div class="flex -mt-1 text-zinc-400 gap-2 items-center" v-if="itemClone.slot2">
              <small class="w-1/3 mr-2"></small>
              <small class="w-2/3 flex mr-2">{{ itemClone.slot2.description }}</small>
            </div>
            <div class="flex h-6 mt-2 mb-1 gap-2 items-center">
              <small class="text-xs text-zinc-400 w-1/3 text-right">THIRD PERK</small>
              <select v-model="itemClone.slot3" class="mt-1 mb-2 px-1 bg-zinc-800 w-2/3 cursor-pointer h-8 border-zinc-500 border-2">
                <option :value="null">No perk</option>
                <option v-for="perk in itemClone.slot3Choices" :value="perk">{{ perk.name }}</option>
              </select>
            </div>
            <div class="flex -mt-1 text-zinc-400 gap-2 items-center" v-if="itemClone.slot3">
              <small class="w-1/3 mr-2"></small>
              <small class="w-2/3 flex mr-2">{{ itemClone.slot3.description }}</small>
            </div>
          </fieldset>
        </div>
      </div>
      <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
        <DialogButton @click="() => updateItem(itemClone, index)" color="success">UPDATE</DialogButton>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
