<script setup lang="ts">
import { Rocket } from '@/models/destinyItems'
import { Ability, ArmorItemType, GenericItemType, Guardian, Item, ItemRarity } from '@/models/destiny'
import { computed, ref } from 'vue'
import { Sortable } from 'sortablejs-vue3'
import { SortableEvent, SortableOptions } from 'sortablejs'
import { browserCrypto, uuid4, MersenneTwister19937 } from 'random-js'
import { clampAndRound } from '@/utils'
import GuardianItem from '@/components/guardian/GuardianItem.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import ItemLibrary from '@/components/ItemLibrary.vue'
import DialogButton from '@/components/DialogButton.vue'

const emit = defineEmits(['update'])
const props = defineProps<{ character: Guardian, readonly?: boolean }>()

const sortableOptions: SortableOptions = {
  delay: 300,
  delayOnTouchOnly: true
}

const library = ref<InstanceType<typeof DialogWindow>>()
const increment = ref(0)

const capacity = computed(() => props.character.ghost.abilities[Ability.Intelligence] * 15)
const itemsMemory = computed(() => props.character.items.filter(x => x.type === ArmorItemType.GhostShell || !x.equipped).reduce((sum, x) => sum + (x.memory?.[0] || 0), 0))
const encumbrance = computed(() => itemsMemory.value / capacity.value)

const rocketId = (new Rocket).id

async function createUuid() {
  let cryptoSupported = true
  try { browserCrypto.next() } catch (_) { cryptoSupported = false }
  return cryptoSupported ? uuid4(browserCrypto) : uuid4(MersenneTwister19937.autoSeed())
}

async function copyItem(item: Item) {
  props.character.items.push({
    ...item,
    uuid: await createUuid()
  })
  emit('update')
  increment.value++
}

function updateItem(item: Item, index: number) {
  props.character.items[index] = item
  emit('update')
  increment.value++
}

function reorder(event: SortableEvent) {
  if (typeof event.oldIndex !== 'number' || typeof event.newIndex !== 'number')
    return console.error('Invalid indices in reorder event:', event)

  const oldIndex = event.oldIndex
  const newIndex = event.newIndex

  const item = props.character.items.splice(oldIndex, 1)[0]
  props.character.items.splice(newIndex, 0, item)
  emit('update')
  increment.value++
}

function update() {
  emit('update')
  increment.value++
}

function deleteItem(index: number) {
  props.character.items.splice(index, 1)
  emit('update')
  increment.value++
}

async function newItem() {
  props.character.items.push({
    _type: 'Item',
    id: '',
    uuid: await createUuid(),
    name: 'New item',
    rarity: ItemRarity.Common,
    type: GenericItemType.Generic
  })
  emit('update')
  increment.value++
}
</script>

<template>
  <div class="h-full w-full overflow-y-auto">
    <div class="flex p-4 pb-3 w-full flex-wrap xs:flex-nowrap">
      <dl class="flex gap-1 w-1/2 xs:w-full justify-center border-r-2 border-zinc-600">
        <dt class="flex text-xs h-6 items-center text-zinc-400">GLIMMER</dt>
        <dd class="flex text-sm h-6 items-center">
          <span v-if="readonly" class="bg-transparent w-10 grow">{{ character.glimmer }}</span>
          <input v-else class="bg-transparent w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" type="number" :min="0" v-model="character.glimmer" @change="update" />
        </dd>
      </dl>
      <dl class="flex gap-1 w-1/2 xs:w-full justify-center xs:border-r-2 border-zinc-600">
        <dt class="flex text-xs h-6 items-center text-zinc-400">ENGRAMS</dt>
        <dd class="flex text-sm h-6 items-center">
          <span v-if="readonly" class="bg-transparent w-10 grow">{{ character.engrams }}</span>
          <input v-else class="bg-transparent w-10 grow hover:bg-white/25 border-b border-zinc-400 -mb-[1px]" type="number" :min="0" v-model="character.engrams" @change="update" />
        </dd>
      </dl>
      <dl class="flex gap-1 w-full justify-center border-zinc-600">
        <dt class="flex text-xs h-6 items-center text-zinc-400">ROCKETS</dt>
        <dd class="flex text-sm h-6 items-center">{{ character.items?.filter(x => x.id === rocketId).reduce((sum, x) => sum + (x?.quantity || 0), 0) }}</dd>
      </dl>
    </div>
    <div class="flex px-4 w-full">
      <div class="bg-zinc-900 h-6 w-full relative">
        <div class="bg-zinc-600 h-6" :style="{ width: clampAndRound((100 * encumbrance), 0, 100) + '%' }"></div>
        <span class="absolute left-2 top-0 h-6 leading-6 text-sm font-semibold uppercase text-white opacity-75">Memory: {{ itemsMemory }} / {{ capacity }}</span>
      </div>
    </div>
    <div class="px-4 pb-4 pt-4 flex flex-col">
      <div v-if="readonly" class="flex flex-col gap-1 w-full mb-4">
        <template v-for="(item, index) in character.items">
          <GuardianItem v-if="item" :key="`item-${item.uuid}`" :index="index" :character="character" :item="item" :readonly="readonly" @copy="copyItem" @update="updateItem" @update-all="update" @delete="deleteItem" />
        </template>
      </div>
      <Sortable v-else class="flex flex-col gap-1 w-full mb-4" :list="character.items" :options="sortableOptions" :item-key="(item: Item) => item.uuid" @update="reorder">
        <template #item="{ element, index }">
          <GuardianItem :key="`item-${element.uuid}`" :index="index" :character="character" :item="element" :readonly="readonly" @copy="copyItem" @update="updateItem" @update-all="update" @delete="deleteItem" />
        </template>
      </Sortable>
      <div class="flex gap-4" v-if="!readonly">
        <button @click="library?.show" class="w-full py-2 px-4 text-sm bg-zinc-700 hover:bg-zinc-600 font-semibold">SHOW LIBRARY</button>
        <button @click="newItem" class="w-full py-2 px-4 text-sm bg-zinc-700 hover:bg-zinc-600 font-semibold">NEW ITEM</button>
      </div>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="item-library" class="max-w-[30rem]" v-if="!readonly" ref="library">
      <ItemLibrary :character="character" @copy-item="copyItem" />
      <form method="dialog" class="flex justify-end gap-2 mt-3 w-full">
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
