<script setup lang="ts">
import { Guardian, UserData } from '@/models/destiny'
import DialogWindow from '@/components/DialogWindow.vue'
import DialogButton from '@/components/DialogButton.vue'
import { computed, onMounted, ref } from 'vue'
import { useCurrentUser, useDocument } from 'vuefire'
import { usersRef } from '@/firebase'
import { doc } from 'firebase/firestore'

defineProps<{ character: Guardian, readonly?: boolean }>()
const emit = defineEmits(['update'])

const classified = ref<InstanceType<typeof DialogWindow>>()

const user = useCurrentUser()
const userDataRef = computed(() => user.value ? doc(usersRef, user.value?.uid) : null)
const userData = useDocument<UserData>(userDataRef)
const isAdmin = !!userData.value?.isAdmin

const now = ref(Math.floor(Date.now() / 1000))
const normalCharacters = [
  '92VAuNpqeVdSJs6gwfPMRL8PucU2', // Bastien
  'CeS5jTWBXiVtdieOHpXxPPYeGgq1', // Carolanne
  'hffTGTWeEuURun4FPTxgOTOWQqO2', // Samuel
  'Bn4z87N9TKccmmO5sBEePXWami53', // Miguel
]
const vexCharacters = [
  'hHNYmUxJPOTNNt2ippB58Uz7xbW2', // Nicolas
  '20qXkC67l6V3rk6gLyHK3US7Kjx2', // Ralph
]
const exoCharacters = [
  'Bn4z87N9TKccmmO5sBEePXWami53', // Miguel
  'ZnaIuD5DOYX7NjmbpJbr9q0N2Gd2', // Ian
]
const outlawCharacters = [
  'ZnaIuD5DOYX7NjmbpJbr9q0N2Gd2', // Ian
]

const classifiedName = computed(() => {
  if (!user.value) return 'ARCHITECT NOTES'

  if (outlawCharacters.includes(user.value.uid)) return now.value % 2 > 0 ? '-invigilate(sitex) -alert(strategic)' : obfuscateText('-invigilate(sitex) -alert(strategic)')
  if (vexCharacters.includes(user.value.uid)) return now.value % 20 > 0 ? '//ASSET/LUNA/INTERFEROMETRICS/ESSENCE' : obfuscateText('//ASSET/LUNA/INTERFEROMETRICS/ESSENCE')
  if (exoCharacters.includes(user.value.uid)) return now.value % 20 > 0 ? '-invigilate(sitex) -alert(strategic)' : obfuscateText('-invigilate(sitex) -alert(strategic)')
  if (normalCharacters.includes(user.value.uid)) return now.value % 20 > 0 ? 'Luna Direction -> Remote Terminal' : obfuscateText('Luna Direction -> Remote Terminal')

  return 'ARCHITECT NOTES'
})

onMounted(() => {
  setInterval(() => {
    now.value = Math.floor(Date.now() / 1000)
  }, 1000)
})

function obfuscateText(text: string): string {
  const zalgoUp = [
    '\u030d', '\u030e', '\u0304', '\u0305',
    '\u033f', '\u0311', '\u0306', '\u0310',
    '\u0352', '\u0357', '\u0351', '\u0307',
    '\u0308', '\u030a', '\u0342', '\u0343',
    '\u0344', '\u034a', '\u034b', '\u034c',
    '\u0303', '\u0302', '\u030c', '\u0350',
    '\u0300', '\u030b', '\u030f', '\u0312',
    '\u0313', '\u0314', '\u033d', '\u0309',
    '\u0363', '\u0364', '\u0365', '\u0366',
    '\u0367', '\u0368', '\u0369', '\u036a',
    '\u036b', '\u036c', '\u036d', '\u036e',
    '\u036f', '\u033e', '\u035b', '\u0346',
    '\u031a'
  ]

  const zalgoDown = [
    '\u0316', '\u0317', '\u0318', '\u0319',
    '\u031c', '\u031d', '\u031e', '\u031f',
    '\u0320', '\u0324', '\u0325', '\u0326',
    '\u0329', '\u032a', '\u032b', '\u032c',
    '\u032d', '\u032e', '\u032f', '\u0330',
    '\u0331', '\u0332', '\u0333', '\u0339',
    '\u033a', '\u033b', '\u033c', '\u0345',
    '\u0347', '\u0348', '\u0349', '\u034d',
    '\u034e', '\u0353', '\u0354', '\u0355',
    '\u0356', '\u0359', '\u035a', '\u0323'
  ]

  const zalgoMid = [
    '\u0315', '\u031b', '\u0340', '\u0341',
    '\u0358', '\u0321', '\u0322', '\u0327',
    '\u0328', '\u0334', '\u0335', '\u0336',
    '\u034f', '\u035c', '\u035d', '\u035e',
    '\u035f', '\u0360', '\u0362', '\u0338',
    '\u0337', '\u0361', '\u0489'
  ]

  function randomDiacritic(arr: string[]): string {
    return arr[Math.floor(Math.random() * arr.length)]
  }

  let obfuscatedText = ''
  for (const char of text) {
    if (char.trim() !== '') {
      obfuscatedText += char + randomDiacritic(zalgoUp) + randomDiacritic(zalgoMid) + randomDiacritic(zalgoDown)
    } else {
      obfuscatedText += char
    }
  }

  return obfuscatedText
}

function update(event: Event) {
  emit('update', event)
}
</script>

<template>
  <div class="flex gap-4 p-4 w-full flex-col h-full md:flex-row">
    <div class="flex gap-3 w-full md:w-1/2 flex-col justify-stretch h-[54rem]">
      <button class="text-xs h-6 w-full text-zinc-400 bg-zinc-700 hover:bg-zinc-600 font-semibold" @click="classified?.show">{{ classifiedName }}</button>
      <div class="flex flex-col w-full h-1/4">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">NOTES</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.notes }}</p>
        <textarea v-else @input="update" v-model="character.notes" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
      <div class="flex flex-col w-full h-1/4">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">APPEARANCE</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.appearance }}</p>
        <textarea v-else @input="update" v-model="character.appearance" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
      <div class="flex flex-col w-full h-1/2">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">BIOGRAPHY</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.bio }}</p>
        <textarea v-else @input="update" v-model="character.bio" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
    </div>
    <div class="flex gap-3 w-full md:w-1/2 flex-col justify-stretch h-[54rem]">
      <div class="flex flex-col w-full h-2/5">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">PERSONALITY TRAITS</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.personalityTraits }}</p>
        <textarea v-else @input="update" v-model="character.personalityTraits" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
      <div class="flex flex-col w-full h-1/5">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">IDEALS</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.ideals }}</p>
        <textarea v-else @input="update" v-model="character.ideals" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
      <div class="flex flex-col w-full h-1/5">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">BONDS</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.bonds }}</p>
        <textarea v-else @input="update" v-model="character.bonds" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
      <div class="flex flex-col w-full h-1/5">
        <h3 class="inline-block w-fit text-xs text-zinc-400 bg-zinc-800">FLAWS</h3>
        <p v-if="readonly" class="p-1 text-sm bg-zinc-800 w-full h-full border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto">{{ character.flaws }}</p>
        <textarea v-else @input="update" v-model="character.flaws" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-full border-zinc-500 border-2 resize-none" />
      </div>
    </div>
  </div>
  <Teleport to="body">
    <DialogWindow key="guardian-classified" class="max-w-[50rem] flex flex-col" v-if="character" ref="classified">
      <h2 class="text-4xl font-semibold">{{ classifiedName }}</h2>
      <p v-if="!isAdmin && character.gmNotes" class="p-1 text-sm bg-zinc-800 w-full h-[30rem] border-zinc-500 border-2 whitespace-pre-wrap overflow-y-auto font-mono">{{ character.gmNotes }}</p>
      <p v-else-if="!isAdmin">Nothing to show. Record empty.</p>
      <textarea v-else @input="update" v-model="character.gmNotes" class="p-1 text-sm bg-zinc-800 w-full cursor-pointer h-[30rem] border-zinc-500 border-2 resize-none font-mono" />
      <form method="dialog" class="flex gap-2 mt-2 w-full">
        <!-- <DialogButton type="route" :to="`/_?c=${character.name}`">DREAM INTERFACE</DialogButton> -->
        <div class="flex-grow"></div>
        <DialogButton>CLOSE</DialogButton>
      </form>
    </DialogWindow>
  </Teleport>
</template>
