<script setup lang="ts">
import { ArmorItemType } from '@/models/destiny'
import { getItemTypeName } from '@/utils'
import { computed } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import ListingHeader from '@/components/ListingHeader.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = defineProps<{ existing: ArmorItemType[], modelValue: ArmorItemType[] }>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <ListingHeader :headers="{ 'ARMOR TYPES': 'w-full' }" />
  <ul>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ArmorItemType.LightArmor)" :disabled="existing.includes(ArmorItemType.LightArmor)" :value="ArmorItemType.LightArmor" v-model="_value" />{{ getItemTypeName(ArmorItemType.LightArmor) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ArmorItemType.MediumArmor)" :disabled="existing.includes(ArmorItemType.MediumArmor)" :value="ArmorItemType.MediumArmor" v-model="_value" />{{ getItemTypeName(ArmorItemType.MediumArmor) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ArmorItemType.HeavyArmor)" :disabled="existing.includes(ArmorItemType.HeavyArmor)" :value="ArmorItemType.HeavyArmor" v-model="_value" />{{ getItemTypeName(ArmorItemType.HeavyArmor) }}
    </li>
  </ul>
  <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
    <DialogButton>CLOSE</DialogButton>
  </form>
</template>