<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  modelValue?: string|number|boolean|string[]|number[],
  value?: string|number|boolean|string[]|number[],
  name?: string,
  light?: boolean,
  readonly?: boolean,
  disabled?: boolean
}>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <div v-if="readonly" class="inline-block h-4 w-4 border-2" :class="{
    'border-zinc-600 bg-zinc-600': disabled,
    'border-zinc-400 bg-zinc-400': _value && !disabled,
    'border-zinc-600': !_value && light && !disabled,
    'border-zinc-800': !_value && !light && !disabled
  }" />
  <label v-else>
    <input v-model="_value" :value="value" class="hidden peer" :name="name" type="checkbox" />
    <span :class="{ 'border-zinc-600': light, 'border-zinc-800': !light }" class="flex cursor-pointer items-center justify-center h-4 w-4 border-2 hover:bg-zinc-500 peer-checked:border-zinc-400 peer-checked:bg-zinc-400 peer-checked:hover:bg-zinc-500">
      <slot />
    </span>
  </label>
</template>