<script setup lang="ts">
import { DamageType } from '@/models/destiny'
import { getDamageTypeName } from '@/utils'
import { computed } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import DialogButton from '@/components/DialogButton.vue'
import ListingHeader from '@/components/ListingHeader.vue'

const props = defineProps<{ existing: DamageType[], modelValue: DamageType[] }>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <ListingHeader :headers="{
    'DAMAGE TYPES': 'w-1/2',
    'EXPLOSIVE DAMAGE TYPES': 'w-1/2'
  }" />
  <div class="flex gap-2">
    <ul class="w-1/2">
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.Kinetic)" :disabled="existing.includes(DamageType.Kinetic)" :value="DamageType.Kinetic" v-model="_value" />{{ getDamageTypeName(DamageType.Kinetic) }}
      </li>
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.Poison)" :disabled="existing.includes(DamageType.Poison)" :value="DamageType.Poison" v-model="_value" />{{ getDamageTypeName(DamageType.Poison) }}
      </li>
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.Psychic)" :disabled="existing.includes(DamageType.Psychic)" :value="DamageType.Psychic" v-model="_value" />{{ getDamageTypeName(DamageType.Psychic) }}
      </li>
      <li class="flex items-center gap-x-3 flex-wrap">
        <Checkbox light :readonly="existing.includes(DamageType.Light)" :disabled="existing.includes(DamageType.Light)" :value="DamageType.Light" v-model="_value" />{{ getDamageTypeName(DamageType.Light) }}
        <ul class="w-full pl-7">
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Arc)" :disabled="existing.includes(DamageType.Arc)" :value="DamageType.Arc" v-model="_value" />{{ getDamageTypeName(DamageType.Arc) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Solar)" :disabled="existing.includes(DamageType.Solar)" :value="DamageType.Solar" v-model="_value" />{{ getDamageTypeName(DamageType.Solar) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Void)" :disabled="existing.includes(DamageType.Void)" :value="DamageType.Void" v-model="_value" />{{ getDamageTypeName(DamageType.Void) }}
          </li>
        </ul>
      </li>
      <li class="flex items-center gap-x-3 flex-wrap">
        <Checkbox light :readonly="existing.includes(DamageType.Darkness)" :disabled="existing.includes(DamageType.Darkness)" :value="DamageType.Darkness" v-model="_value" />{{ getDamageTypeName(DamageType.Darkness) }}
        <ul class="w-full pl-7">
          <!-- <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Stasis)" :disabled="existing.includes(DamageType.Stasis)" :value="DamageType.Stasis" v-model="_value" />{{ getDamageTypeName(DamageType.Stasis) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Strand)" :disabled="existing.includes(DamageType.Strand)" :value="DamageType.Strand" v-model="_value" />{{ getDamageTypeName(DamageType.Strand) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.Luster)" :disabled="existing.includes(DamageType.Luster)" :value="DamageType.Luster" v-model="_value" />{{ getDamageTypeName(DamageType.Luster) }}
          </li> -->
        </ul>
      </li>
    </ul>
    <ul class="w-1/2">
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.ExplosiveKinetic)" :disabled="existing.includes(DamageType.ExplosiveKinetic)" :value="DamageType.ExplosiveKinetic" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveKinetic) }}
      </li>
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.ExplosivePoison)" :disabled="existing.includes(DamageType.ExplosivePoison)" :value="DamageType.ExplosivePoison" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosivePoison) }}
      </li>
      <li class="flex items-center gap-x-3">
        <Checkbox light :readonly="existing.includes(DamageType.ExplosivePsychic)" :disabled="existing.includes(DamageType.ExplosivePsychic)" :value="DamageType.ExplosivePsychic" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosivePsychic) }}
      </li>
      <li class="flex items-center gap-x-3 flex-wrap">
        <Checkbox light :readonly="existing.includes(DamageType.ExplosiveLight)" :disabled="existing.includes(DamageType.ExplosiveLight)" :value="DamageType.ExplosiveLight" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveLight) }}
        <ul class="w-full pl-7">
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveArc)" :disabled="existing.includes(DamageType.ExplosiveArc)" :value="DamageType.ExplosiveArc" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveArc) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveSolar)" :disabled="existing.includes(DamageType.ExplosiveSolar)" :value="DamageType.ExplosiveSolar" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveSolar) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveVoid)" :disabled="existing.includes(DamageType.ExplosiveVoid)" :value="DamageType.ExplosiveVoid" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveVoid) }}
          </li>
        </ul>
      </li>
      <li class="flex items-center gap-x-3 flex-wrap">
        <Checkbox light :readonly="existing.includes(DamageType.ExplosiveDarkness)" :disabled="existing.includes(DamageType.ExplosiveDarkness)" :value="DamageType.ExplosiveDarkness" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveDarkness) }}
        <ul class="w-full pl-7">
          <!-- <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveStasis)" :disabled="existing.includes(DamageType.ExplosiveStasis)" :value="DamageType.ExplosiveStasis" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveStasis) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveStrand)" :disabled="existing.includes(DamageType.ExplosiveStrand)" :value="DamageType.ExplosiveStrand" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveStrand) }}
          </li>
          <li class="flex items-center gap-x-3">
            <Checkbox light :readonly="existing.includes(DamageType.ExplosiveLuster)" :disabled="existing.includes(DamageType.ExplosiveLuster)" :value="DamageType.ExplosiveLuster" v-model="_value" />{{ getDamageTypeName(DamageType.ExplosiveLuster) }}
          </li> -->
        </ul>
      </li>
    </ul>
  </div>
  <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
    <DialogButton>CLOSE</DialogButton>
  </form>
</template>