<script setup lang="ts">
import { computed } from 'vue'
import { Guardian, Ghost } from '@/models/destiny'
import Checkbox from '@/components/forms/Checkbox.vue'

const props = defineProps<{ character: Guardian|Ghost, readonly?: boolean }>()
const emit = defineEmits(['update'])

const firstSuccess = computed({
  get: () => props.character.deathSaveSuccesses >= 1,
  set(value) { value ? props.character.deathSaveSuccesses = 1 : props.character.deathSaveSuccesses = 0; update() }
})

const secondSuccess = computed({
  get: () => props.character.deathSaveSuccesses >= 2,
  set(value) { value ? props.character.deathSaveSuccesses = 2 : props.character.deathSaveSuccesses = 1; update() }
})

const thirdSuccess = computed({
  get: () => props.character.deathSaveSuccesses === 3,
  set(value) { value ? props.character.deathSaveSuccesses = 3 : props.character.deathSaveSuccesses = 2; update() }
})

const firstFailure = computed({
  get: () => props.character.deathSaveFailures >= 1,
  set(value) { value ? props.character.deathSaveFailures = 1 : props.character.deathSaveFailures = 0; update() }
})

const secondFailure = computed({
  get: () => props.character.deathSaveFailures >= 2,
  set(value) { value ? props.character.deathSaveFailures = 2 : props.character.deathSaveFailures = 1; update() }
})

const thirdFailure = computed({
  get: () => props.character.deathSaveFailures === 3,
  set(value) { value ? props.character.deathSaveFailures = 3 : props.character.deathSaveFailures = 2; update() }
})

function update() {
  emit('update')
}
</script>

<template>
  <div class="grid grid-cols-12 w-full h-4">
    <span class="col-span-3 text-right pr-2 text-xs leading-5">SUCC.</span>
    <Checkbox v-model="firstSuccess" light :readonly="readonly" />
    <Checkbox v-model="secondSuccess" light :readonly="readonly" />
    <Checkbox v-model="thirdSuccess" light :readonly="readonly" />
    <span class="col-span-3 text-right pr-2 text-xs leading-5">FAIL.</span>
    <Checkbox v-model="firstFailure" light :readonly="readonly" />
    <Checkbox v-model="secondFailure" light :readonly="readonly" />
    <Checkbox v-model="thirdFailure" light :readonly="readonly" />
  </div>
</template>
@/models/destiny