<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  modelValue: boolean|number|string,
  value: boolean|number|string,
  light?: boolean,
  name: string
}>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <label>
    <input v-model="_value" :value="value" class="hidden peer" :name="name" type="radio" />
    <span :class="{ 'border-zinc-600': light, 'border-zinc-800': !light }" class="flex cursor-pointer items-center justify-center rounded-2xl h-8 w-8 border-2 hover:bg-zinc-500 peer-checked:border-zinc-400">
      <slot />
    </span>
  </label>
</template>