<script setup lang="ts">
import { ToolItemType, VehicleItemType } from '@/models/destiny'
import { getItemTypeName } from '@/utils'
import { computed } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import ListingHeader from '@/components/ListingHeader.vue'
import DialogButton from '@/components/DialogButton.vue'

const props = defineProps<{ existing: (ToolItemType|VehicleItemType)[], modelValue: (ToolItemType|VehicleItemType)[] }>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <ListingHeader :headers="{ 'TOOL TYPES': 'w-full' }" />
  <ul>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.ArmorsmithingTools)" :disabled="existing.includes(ToolItemType.ArmorsmithingTools)" :value="ToolItemType.ArmorsmithingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.ArmorsmithingTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.ClimbingTools)" :disabled="existing.includes(ToolItemType.ClimbingTools)" :value="ToolItemType.ClimbingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.ClimbingTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.CookingTools)" :disabled="existing.includes(ToolItemType.CookingTools)" :value="ToolItemType.CookingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.CookingTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.ElectronicsTools)" :disabled="existing.includes(ToolItemType.ElectronicsTools)" :value="ToolItemType.ElectronicsTools" v-model="_value" />{{ getItemTypeName(ToolItemType.ElectronicsTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.MedicalTools)" :disabled="existing.includes(ToolItemType.MedicalTools)" :value="ToolItemType.MedicalTools" v-model="_value" />{{ getItemTypeName(ToolItemType.MedicalTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.ScubaTools)" :disabled="existing.includes(ToolItemType.ScubaTools)" :value="ToolItemType.ScubaTools" v-model="_value" />{{ getItemTypeName(ToolItemType.ScubaTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.SewingTools)" :disabled="existing.includes(ToolItemType.SewingTools)" :value="ToolItemType.SewingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.SewingTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.ThievesTools)" :disabled="existing.includes(ToolItemType.ThievesTools)" :value="ToolItemType.ThievesTools" v-model="_value" />{{ getItemTypeName(ToolItemType.ThievesTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.VehicleTools)" :disabled="existing.includes(ToolItemType.VehicleTools)" :value="ToolItemType.VehicleTools" v-model="_value" />{{ getItemTypeName(ToolItemType.VehicleTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.WeaponsmithingTools)" :disabled="existing.includes(ToolItemType.WeaponsmithingTools)" :value="ToolItemType.WeaponsmithingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.WeaponsmithingTools) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(ToolItemType.WhittlingTools)" :disabled="existing.includes(ToolItemType.WhittlingTools)" :value="ToolItemType.WhittlingTools" v-model="_value" />{{ getItemTypeName(ToolItemType.WhittlingTools) }}
    </li>
  </ul>
  <ListingHeader :headers="{ 'VEHICLE TYPES': 'w-full' }" class="mt-2" />
  <ul>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(VehicleItemType.AirVehicle)" :disabled="existing.includes(VehicleItemType.AirVehicle)" :value="VehicleItemType.AirVehicle" v-model="_value" />{{ getItemTypeName(VehicleItemType.AirVehicle) }}
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(VehicleItemType.LandVehicle)" :disabled="existing.includes(VehicleItemType.LandVehicle)" :value="VehicleItemType.LandVehicle" v-model="_value" />{{ getItemTypeName(VehicleItemType.LandVehicle) }}
    </li>
  </ul>
  <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
    <DialogButton>CLOSE</DialogButton>
  </form>
</template>