<script setup lang="ts">
import { AllWeaponItemType, HeavyWeaponItemType, MartialWeaponItemType, PrimaryWeaponItemType, SimpleWeaponItemType, WeaponItemType } from '@/models/destiny'
import { getItemTypeName } from '@/utils'
import { computed } from 'vue'
import Checkbox from '@/components/forms/Checkbox.vue'
import DialogButton from '@/components/DialogButton.vue'
import ListingHeader from '@/components/ListingHeader.vue'

const props = defineProps<{ existing: AllWeaponItemType[], modelValue: AllWeaponItemType[] }>()
const emit = defineEmits(['update:modelValue'])

const _value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

function isDisabledOrReadonly(type: AllWeaponItemType) {
  return props.existing.includes(type) || props.modelValue.includes(type)
}
</script>

<template>
  <ListingHeader :headers="{ 'WEAPON TYPES': 'w-full' }" />
  <ul>
    <li class="flex items-center gap-x-3 flex-wrap">
      <Checkbox light :readonly="existing.includes(WeaponItemType.SimpleWeapon)" :disabled="existing.includes(WeaponItemType.SimpleWeapon)" :value="WeaponItemType.SimpleWeapon" v-model="_value" />{{ getItemTypeName(WeaponItemType.SimpleWeapon) }}
      <ul class="w-full pl-7">
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.SimpleWeapon) }">
          <Checkbox light :readonly="existing.includes(SimpleWeaponItemType.Dagger) || isDisabledOrReadonly(WeaponItemType.SimpleWeapon)" :disabled="existing.includes(SimpleWeaponItemType.Dagger) || isDisabledOrReadonly(WeaponItemType.SimpleWeapon)" :value="SimpleWeaponItemType.Dagger" v-model="_value" />{{ getItemTypeName(SimpleWeaponItemType.Dagger) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.SimpleWeapon) }">
          <Checkbox light :readonly="existing.includes(SimpleWeaponItemType.ThrowingHammer) || isDisabledOrReadonly(WeaponItemType.SimpleWeapon)" :disabled="existing.includes(SimpleWeaponItemType.ThrowingHammer) || isDisabledOrReadonly(WeaponItemType.SimpleWeapon)" :value="SimpleWeaponItemType.ThrowingHammer" v-model="_value" />{{ getItemTypeName(SimpleWeaponItemType.ThrowingHammer) }}
        </li>
      </ul>
    </li>
    <li class="flex items-center gap-x-3 flex-wrap">
      <Checkbox light :readonly="existing.includes(WeaponItemType.MartialWeapon)" :disabled="existing.includes(WeaponItemType.MartialWeapon)" :value="WeaponItemType.MartialWeapon" v-model="_value" />{{ getItemTypeName(WeaponItemType.MartialWeapon) }}
      <ul class="w-full pl-7">
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Broadsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Broadsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Broadsword" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Broadsword) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.CombatBow) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.CombatBow) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.CombatBow" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.CombatBow) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Greataxe) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Greataxe) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Greataxe" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Greataxe) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.HeavyMaul) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.HeavyMaul) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.HeavyMaul" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.HeavyMaul) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Longsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Longsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Longsword" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Longsword) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Shortsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Shortsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Shortsword" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Shortsword) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Smallsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Smallsword) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Smallsword" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Smallsword) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.MartialWeapon) }">
          <Checkbox light :readonly="existing.includes(MartialWeaponItemType.Warhammer) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :disabled="existing.includes(MartialWeaponItemType.Warhammer) || isDisabledOrReadonly(WeaponItemType.MartialWeapon)" :value="MartialWeaponItemType.Warhammer" v-model="_value" />{{ getItemTypeName(MartialWeaponItemType.Warhammer) }}
        </li>
      </ul>
    </li>
    <li class="flex items-center gap-x-3 flex-wrap">
      <Checkbox light :readonly="existing.includes(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(WeaponItemType.PrimaryWeapon)" :value="WeaponItemType.PrimaryWeapon" v-model="_value" />{{ getItemTypeName(WeaponItemType.PrimaryWeapon) }}
      <ul class="w-full pl-7">
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.AutoRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.AutoRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.AutoRifle" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.AutoRifle) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.HandCannon) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.HandCannon) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.HandCannon" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.HandCannon) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.PulseRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.PulseRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.PulseRifle" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.PulseRifle) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.ScoutRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.ScoutRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.ScoutRifle" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.ScoutRifle) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.Sidearm) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.Sidearm) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.Sidearm" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.Sidearm) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.SubmachineGun) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.SubmachineGun) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.SubmachineGun" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.SubmachineGun) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.PrimaryWeapon) }">
          <Checkbox light :readonly="existing.includes(PrimaryWeaponItemType.TraceRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :disabled="existing.includes(PrimaryWeaponItemType.TraceRifle) || isDisabledOrReadonly(WeaponItemType.PrimaryWeapon)" :value="PrimaryWeaponItemType.TraceRifle" v-model="_value" />{{ getItemTypeName(PrimaryWeaponItemType.TraceRifle) }}
        </li>
      </ul>
    </li>
    <li class="flex items-center gap-x-3 flex-wrap">
      <Checkbox light :readonly="existing.includes(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(WeaponItemType.HeavyWeapon)" :value="WeaponItemType.HeavyWeapon" v-model="_value" />{{ getItemTypeName(WeaponItemType.HeavyWeapon) }}
      <ul class="w-full pl-7">
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.FusionRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.FusionRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.FusionRifle" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.FusionRifle) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.GrenadeLauncher) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.GrenadeLauncher) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.GrenadeLauncher" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.GrenadeLauncher) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.LightMachineGun) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.LightMachineGun) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.LightMachineGun" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.LightMachineGun) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.LinearFusionRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.LinearFusionRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.LinearFusionRifle" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.LinearFusionRifle) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.RocketLauncher) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.RocketLauncher) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.RocketLauncher" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.RocketLauncher) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.Shotgun) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.Shotgun) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.Shotgun" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.Shotgun) }}
        </li>
        <li class="flex items-center gap-x-3" :class="{ 'text-zinc-400': isDisabledOrReadonly(WeaponItemType.HeavyWeapon) }">
          <Checkbox light :readonly="existing.includes(HeavyWeaponItemType.SniperRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :disabled="existing.includes(HeavyWeaponItemType.SniperRifle) || isDisabledOrReadonly(WeaponItemType.HeavyWeapon)" :value="HeavyWeaponItemType.SniperRifle" v-model="_value" />{{ getItemTypeName(HeavyWeaponItemType.SniperRifle) }}
        </li>
      </ul>
    </li>
    <li class="flex items-center gap-x-3">
      <Checkbox light :readonly="existing.includes(WeaponItemType.RelicWeapon)" :disabled="existing.includes(WeaponItemType.RelicWeapon)" :value="WeaponItemType.RelicWeapon" v-model="_value" />{{ getItemTypeName(WeaponItemType.RelicWeapon) }}
    </li>
  </ul>
  <form method="dialog" class="flex justify-end gap-2 mt-2 w-full">
    <DialogButton>CLOSE</DialogButton>
  </form>
</template>